/**
 * Dashboard layout styles.
 */
@import "components/content-list/content-list";
@import "components/content-list-drawer/content-list-drawer";
@import "components/stubs-list/stubs-list";
@import "components/details-panel/details-panel";
@import "sidebar";
@import "toolbar";

.content-list-column {
    overflow: auto;

    overflow-y: scroll;

    // Flexbox prefixes - TODO: Autoprefixer
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

/**
 * .session-check__frame   iframe used to re-establish the user's session.
 */
.login-check__frame {
    position: absolute;
    overflow: hidden;
    border: none;
    width: 0;
    height: 0;
}
