


/* @override bootstrap */
.dashboard-toolbar .input-sm {
  height: 34px;
}

.dashboard-toolbar__prod-office {
  width: 160px;
  padding: 0 10px;
  margin: auto 0;
}

.dashboard-toolbar__section-selector {
  width: 200px;
  padding: 0 10px;
  margin: auto 0;
}

.dashboard-toolbar__due-by-filter {
  margin: auto;
}



.date-filter__label{
  padding-right: 5px;
}

.date-filter .btn-default {
  height: 34px;
}

@media (max-width: 1100px) {
  .date-filter__button--optional {
    display: none;
  }
}
