// Ripped from guss-css3 currently - will import directly in the future...

/**
 * `transition` prefixer.
 * Do not use when transitionning prefixed properties
 * to avoid impossible code like `-moz-transition: -webkit-border-radius 1s`.
 *
 * @param {Arglist} $args
 *
 * @link https://developer.mozilla.org/en-US/docs/Web/CSS/transition transition on MDN
 *
 * @group css3
 */
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    transition: $args;
}

/**
 * `border-radius` prefixer.
 *
 * @param {Number} $radius (5px)
 *
 * @link https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius border-radius on MDN
 *
 * @group css3
 */
@mixin border-radius($radius: 5px) {
    // If we want to draw a circle, output a pixel value instead,
    // as older versions of WebKit do not support % in border-radius
    @if $radius == 50% {
        $radius: 1000px;
    }

    -webkit-border-radius: $radius;
    border-radius: $radius;
}

/**
 * `box-shadow` prefixer.
 *
 * @param {Arglist} $args
 *
 * @link https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow box-shadow on MDN
 *
 * @group css3
 */
@mixin box-shadow($args...) {
    -webkit-box-shadow: $args;
    -moz-box-shadow: $args;
    box-shadow: $args;
}

@mixin text-truncate {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


@mixin smallScreen {
    @media screen and (max-width: 1350px) {
        @content;
    }
}

@mixin largeScreen {
    @media screen and (min-width: 1600px) {
        @content;
    }
}
