.top-toolbar {
    // Flexbox prefixes - TODO: Autoprefixer
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    min-height: 50px;
    max-height: 50px;
    background-color: $c-bluegrey;
    border-bottom: 1px solid $c-grey-400;

    z-index: 2;
}

.top-toolbar__title {
    @extend %f-title;
    font-size: 18px;
    width: $dashboardSidebarWidth;
    min-width: $dashboardSidebarWidth;
    background-color: $c-bluegrey;
    margin: 0;
    padding: 0 10px;
    line-height: 50px;
    border-right: 1px solid #bdbdbd;
}

.top-toolbar__title-link {
    color: $c-text;
}

.top-toolbar__view-toolbar {
    // Flexbox prefixes - TODO: Autoprefixer
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    // Flexbox prefixes - TODO: Autoprefixer
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    flex-shrink: 1;
}
