// .babelrc
{
  "presets": [
    ["es2015", {"modules": false}],
    "angular"
  ],
  "plugins": [
    "transform-object-assign",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
