.quick-add__datetime {
  width: 200px;
}

.quick-add__add {
  background-color: #00ADEE;
  border-radius: 0;
  width: 100px;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  opacity: 100;

  transition: background-color 0.5s ease;

  &:hover {
    background-color: #008FC5;
  }

  &--success {
    background-color: #47AE38;
    transition: background-color 0.5s ease;


    &:disabled {
      background-color: #47AE38;
      opacity: 1;
    }
  }

  &--failure,
  &--failure:disabled {
    background-color: #ED5935;
    transition: background-color 0.5s ease;

    &:disabled,
    &:hover {
      background-color: #ED5935;
      opacity: 1;
    }

  }


}

// Patch for use in day-view...

.quick-add {
    height: 34px;
}

.quick-add__input {
    height: 100%;
    vertical-align: top;
    display: inline-block;
    padding-left: 8px;
}
