// Shades of grey
$c-grey-100: #f6f6f6;
$c-grey-150: #f1f1f1;
$c-grey-200: #ededed;
$c-grey-300: #dcdcdc;
$c-grey-400: #bdbdbd;
$c-grey-500: #898989;
$c-grey-600: #767676;
$c-grey-700: #333;

// Primary accent colours
$c-blue: #148ad2;
$c-green: #47ae38;
$c-yellow: #ffbc01;
$c-red: #ed5935;

// Secondary accent colours
$c-light-green: #ecf6eb;

// Link colour
$c-blue-link: #005689;

// Body text colour
$c-text: $c-grey-700;
