.top-toolbar {
    // Flexbox prefixes - TODO: Autoprefixer
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    min-height: 50px;
    max-height: 50px;
    background-color: $c-grey-200;
    border-bottom: 1px solid $c-grey-400;

    z-index: 2;
}

.top-toolbar__title {
    @extend %f-title;
    font-size: 18px;
    width: $dashboardSidebarWidth;
    min-width: $dashboardSidebarWidth;
    background-color: $c-grey-200;
    margin: 0;
    padding: 0 10px;
    line-height: 50px;
    border-right: 1px solid #bdbdbd;

    // Xmas :-)

    z-index: 1;
    position: relative;
    max-width: 130px;

    &:after {
        content: ' ';
        display: block;
        background: url('/assets/components/icons/src/mistletoe.png') transparent no-repeat;
        height: 32px;
        width: 32px;
        position: absolute;
        z-index: 2;
        left: 86px;
        top: 14px;
        background-size: 32px;
    }
}

.top-toolbar__title-link {
    color: $c-text;
}

.top-toolbar__view-toolbar {
    // Flexbox prefixes - TODO: Autoprefixer
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    // Flexbox prefixes - TODO: Autoprefixer
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    flex-shrink: 0;
}

.top-toolbar__user {
    text-align: right;
    padding: 8px 15px;
    border-left: 1px solid #bdbdbd;
}

.top-toolbar__user-link {
    color: $c-text;
    white-space: nowrap;
    display: block;
}

.top-toolbar__user-link--feedback {
    font-size: 0.9em;
}
