
.top-toolbar {
  // Flexbox prefixes - TODO: Autoprefixer
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  min-height: 50px;
  max-height: 50px;
  background-color: $c-grey-200;
}

.top-toolbar__title {
  @extend %f-title;
  font-size: 18px;
  width: 160px;
  background-color: $c-grey-300;
  margin: 0;
  padding: 0 10px;
  line-height: 50px;
}

.top-toolbar__title-link {
  color: $c-text;
}


.top-toolbar__view-toolbar {
  // Flexbox prefixes - TODO: Autoprefixer
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  // Flexbox prefixes - TODO: Autoprefixer
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.top-toolbar__user {
  text-align: right;
  margin: auto 10px;
}

.top-toolbar__user-link {
  color: $c-text;
}

.top-toolbar__presence-connection {
  margin: auto 10px;
}

.top-toolbar__presence-connection-content {
  color: white;
  padding: 10px;
  opacity: 0.5;
}

.top-toolbar__presence-connection-content__ERROR {
  @extend .top-toolbar__presence-connection-content;
  background-color: red;
}

.top-toolbar__presence-connection-content__PRE {
  @extend .top-toolbar__presence-connection-content;
  background-color: grey;
}

.top-toolbar__presence-connection-content__OK {
  @extend .top-toolbar__presence-connection-content;
  background-color: green;
}

.top-toolbar__presence-connection-content__CLOSED {
  @extend .top-toolbar__presence-connection-content;
  background-color: pink;
}
