@import "layouts/global/mixins";
@import "layouts/plan/mixins";

// Bundle List
// ================================================================= //

.bundle-list {
    .alert {
        margin: 12px;
    }
    display: flex;
    flex-direction: column;
    border-right: 1px solid $c-grey-400;
}

.bundle-list__title-bar {
    padding: 12px 12px 12px 0;
    height: 58px;
    position: relative;
    z-index: 3;
    background-color: #ffffff;
}

.bundle-list__title {
    @extend %f-data;
    font-size: 20px;
    line-height: 34px;
    display: inline-block;
    margin: 0;
    vertical-align: top;

    display: none;
}

.bundle-list-items {
    margin: 0;
    height: 100%;
    flex: 1;
    .alert {
        margin: 12px;
    }
}

.day-bundle {
    border-bottom: 1px solid #fff;

    .day-bundle__title {
        position: relative;
        display: block;
        width: 100%;
        background-color: $c-grey-300;
        padding: 0 0 0 6px;
        @include bundle-border();
        @extend %fs-data-4;
        font-weight: bold;
        height: 26px;
        line-height: 26px;
        .day-bundle__title-text {
            display: inline-block;
            height: 22px;
            line-height: 22px;
            vertical-align: top;
        }
    }

    &.dnd__status--hovered {
        background-color: $c-highlight-blue;
    }

    &.day-bundle--unscheduled {

        .day-bundle__title {
            padding: 2px 0 2px 9px;
            background-color: $c-grey-200;
            border-left: none;
        }
    }

    .day-bundle__actions {
        display: inline-block;
        margin-left: 12px;
        height: 100%;
        @extend %fs-data-4;
        line-height: 26px;

        .inline-add-item__toggle {
            @extend %fs-data-2;
            line-height: 26px;
            font-weight: normal;
            border-bottom: 1px dashed $c-grey-700;
        }

        .inline-add-item__form {
            height: 26px;
            line-height: 26px;
            margin-top: -2px;
        }
    }

    .editable {
        display: inline-block;
        height: 26px;
        line-height: 26px;
        .editable__text-field {
            height: 100%;
        }
        .editable__control {
            height: 100%;
            padding: 2px 5px;
        }
    }
}

.day-bundle__add-item { // TODO: Nicer button
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.day-bundle__items {
    position: relative;
    @include bundle-border();
}

.unassigned {
    /*background-color: orange;*/
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    -webkit-flex-basis: auto;
    -webkit-align-items: stretch;
    padding-right: 10px;
    //border-top: 1px dotted silver;
}

.unassigned ul {
    /*background-color: pink;*/
}

.unassigned-list-items {
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
}

.bundle-view__add-bundle {
    display: inline-block;
    padding: 6px 6px 6px 9px;
    vertical-align: top;
    > input {
        height: 32px;
    }

    .loading-indicator {
        margin: 0;
        @include bubbles;
        display: none;
        > div {
            width: 12px;
            height: 12px;
        }
    }

    &--loading {
        .loading-indicator {
            display: inline-block;
        }
    }
}


