<!--<div class="unassigned">-->
{{bundleList}}
<ul class="bundle-list-items list-unstyled">
    <li class="alert alert-info" ng-if="!plannedItemsByBundle.length">
        <span>Nothing planned for Today!</span>
    </li>
    <li class="day-bundle" ng-repeat="bundle in plannedItemsByBundle track by bundle.pk">
        <span class="day-bundle__title" ng-style="{{ genColor(bundle.id) }}">{{ bundle.title }}</span>
        <ul class="day-bundle__items list-unstyled">
            <li class="day-bundle__item" ng-repeat="item in bundle.items track by item.id" data-drag="bundle.pk === 0" jqyoui-draggable="{onStart: 'draggingStart(item)', onStop: 'draggingStop', placeholder: true}" data-jqyoui-options="draggableOptions" jqyoui-droppable="{onDrop: 'droppedOn'}" data-drop="true">
                <span ng-if="item.hasSpecificTime">{{item.plannedDate.format("HH:mm")}}</span>
                {{item.title}}
                <span class="assigned-to">{{item.byLine}}</span>
                <span class="note">{{item.notes}}</span>
            </li>
        </ul>
    </li>
</ul>
<!--</div>-->
