<!--<div class="unassigned">-->
<ul class="bundle-list-items list-unstyled">
    <li class="alert alert-info" ng-if="!plannedItemsByBundle.length">
        <span>Nothing planned for Today!</span>
    </li>
    <li class="day-bundle" ng-repeat="bundle in plannedItemsByBundle track by bundle.id" data-jqyoui-options="draggableOptions" jqyoui-droppable="{onDrop: 'droppedOnExistingBundle'}" data-drop="bundle.id !== 0" ng-model="bundle.itemsToday">

        <wf-editable class="day-bundle__title" ng-style="{{ genColor(bundle.title) }}" ng-model="bundle.title" wf-editable-on-update="updateTitle(bundle, newValue)" wf-editable-required="true">
            {{ bundle.title || 'Empty...' }}
        </wf-editable>

        <ul class="day-bundle__items list-unstyled">

            <li class="day-bundle__item" ng-repeat="item in bundle.itemsToday track by item.id" data-drag="bundle.id === 0" jqyoui-draggable="{onStart: 'draggingStart(item)', onStop: 'draggingStop', placeholder: true}" data-jqyoui-options="draggableOptions" jqyoui-droppable="{onDrop: 'droppedOn'}" data-drop="!item.bundleId" ng-model="item">

                <span ng-if="item.hasSpecificTime">{{item.plannedDate.format("HH:mm")}}</span>
                {{item.title}}
                <span class="assigned-to">{{item.byLine}}</span>
                <span class="note">{{item.notes}}</span>
            </li>

        </ul>
    </li>
</ul>
<!--</div>-->
