<div class="bundle-view__list">

    <div class="bundle-view__controls">

        <wf-bundle-search wf-bundle-search-on-add="addNewItemToBundle(bundle)" wf-bundle-search-on-create="createNewBundle(name)" wf-bundle-search-create-colour="genBundleColorStyle(prop, title)" bundle-list="dayItemsByBundle"></wf-bundle-search>

    </div>

    <ul class="bundle-list-items list-unstyled">

        <div ng-if="dayItemsByBundle.itemsToday.length === 0" class="alert alert-info">No items found.</div>

        <li class="day-bundle" ng-repeat="bundle in dayItemsByBundle track by bundle.id" ng-class="{ 'day-bundle--unscheduled': bundle.id === 0 }">

            <div class="day-bundle__title droppable" ng-style="genBundleColorStyle('border-left-color', bundle.title)">

                <!--Title for unscheduled-->
                <span ng-if="bundle.id === 0" class="day-bundle__title-text">{{ bundle.title }}</span>

                <!--Editable title for all other bundles-->
                <wf-editable ng-if="bundle.id !== 0" ng-model="bundle.title" wf-editable-on-update="updateTitle(bundle, newValue)" wf-editable-required="true">
                    {{ bundle.title || 'Empty...' }}
                </wf-editable>

                <div class="day-bundle__actions">
                    <wf-inline-add-item wf-inline-add-item-on-submit="addNewItemToBundle(bundle, title);" class="day-bundle__action-add-item" ng-if="bundle.id !== 0"></wf-inline-add-item>
                </div>

            </div>

            <ul class="day-bundle__items list-unstyled" ng-style="genBundleColorStyle('border-left-color', bundle.title)">

                <li wf-plan-item variant="'bundle'" ng-repeat="item in bundle.itemsToday track by item.id" item="item" bundle="bundle" ng-model="item" class="day-view__item plan-item"></li>

            </ul>
        </li>
    </ul>
</div>
