/**
 * Content-list styles.
 *
 * Shows all content items in a table.
 */

// Global padding for cells
%content-list__field-padding {
    padding: 10px 5px;
}

// Bootstrap override - TODO: remove
.content-list, .content-list * {
    box-sizing: content-box;
}

.content-list {
    width: 100%;


    // Pseudo-cells for inner-borders published/embargoed/taken-down content
    tr::after,
    tr::before {
        content: ' ';
        display: table-cell;
        width: 7px;
    }


    // Table header
    &-head {
        &__row {
            border-top: 5px solid #fff;
            background-color: $c-grey-200;
        }

        &__heading {

            &--titles,
            &--group,
            &--presence,
            &--assignee,
            &--office,
            &--deadline,
            &--created,
            &--section,
            &--legal,
            &--status,
            &--notes,
            &--links,
            &--published-state {
                @extend %content-list__field-padding;
                @extend %fs-data-3;

                font-weight: bold;
                text-align: left;
            }

            &--presence,
            &--assignee,
            &--office {
                text-align: center;
                padding: 10px;
            }

            &-icon {
                &--presence,
                &--assignee {
                    display: inline-block;
                }

                &--presence {
                    width: 20px;
                    height: 20px;
                    margin-top: 1px;
                }
                &--assignee {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }


    // Group headings in the table
    &__group-heading {

        &-row {
            background-color: $c-grey-200;
            border-top: 1px solid $c-grey-300;
        }

        &-link {
            background-color: $c-grey-300;
            color: inherit;
            font-weight: bold;
            text-transform: uppercase;
            display: inline-block;
            margin-left: 10px;
            line-height: 28px;
            padding: 0 10px;

            &:hover {
                color: inherit;
                text-decoration: none;
                cursor: pointer;
            }
        }

        &-count {
            font-weight: normal;
            margin-left: 0.5em;
        }
    }


    // Individual content item rows
    &-item {
        border-bottom: 1px solid $c-grey-300;

        &--selected {
            background-color: $c-grey-300;
        }

        &--published {
            @extend .content-list-item;
            background-color: $c-light-green;

            &::after,
            &::before {
                background-color: $c-green;
            }
        }



        &__icon {
            &--priority,
            &--comments,
            &--main-image,
            &--content-type,
            &--composer,
            &--preview,
            &--live,
            &--ophan {
                display: inline-block;
                width: 16px;
                height: 16px;
            }

            &--assignee,
            &--presence {
                display: inline-block;
                border-radius: 50%;
                width: 22px;
                height: 22px;
                line-height: 22px;
                text-align: center;
                text-transform: uppercase;
            }

            &--assignee {
                background-color: $c-grey-300;
            }

            &--presence {
                background-color: #474D80;
                color: #fff;
            }

            // Production office icons
            &--office {
                &-au,
                &-us,
                &-uk {
                    line-height: 16px;
                    display: inline-block;
                    text-align: center;
                    width: 22px;
                }

                &-au {
                    background-color: #FCD116;
                    color: #008751;
                }

                &-us {
                    background-color: #B22234;
                    color: #fff;
                }

                &-uk {
                    background-color: #002366;
                    color: #fff;
                }
            }
        }

        &__headline-toggle {
            float: left;
            color: $c-grey-400;
            font-weight: normal;
            margin-right: 5px;

            // bootstrap override, TODO remove
            &[title] {
                border: none;
                cursor: pointer;
            }

            &::after {
                content: ':';
            }
        }

        &__field {
            &--priority,
            &--comments,
            &--main-image,
            &--content-type,
            &--working-title,
            &--headline,
            &--presence,
            &--assignee,
            &--office,
            &--deadline,
            &--created,
            &--section,
            &--legal,
            &--status,
            &--composer,
            &--preview,
            &--live,
            &--ophan {
                @extend %fs-data-3;
                @extend %content-list__field-padding;
            }

            &--presence,
            &--assignee,
            &--office {
                text-align: center;
            }

            &--deadline,
            &--created {
                white-space: nowrap;
            }

            &--notes {
                @extend %fs-data-1;
                @extend %content-list__field-padding;
            }

            &-supl--published-state {
                @extend %fs-data-1;
                color: $c-grey-600;
                white-space: nowrap;
            }

            // First column
            &--priority {
                padding-left: 10px;
            }

            // Last column
            &--published-state {
                padding: 5px;
            }
        }
    }
}








/*
// TODO: BEMify properly
td.wf-table-heading {
    font-weight: bold;
}

.content-list__head {
    color: #fff;
    background-color: #666;
    font-size: 75%;
    letter-spacing: 0.5px;
}

tr.wf-table-grouping td {
    color: black;
    background-color: #F5F5F5;
    font-size: 75%;
    letter-spacing: 0.5px;
}

tr td {
    font-size: 90%;
}

.content-list__item-row-note {
    font-size: 80%;
    font-style: italic;
    max-width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.content-list__item-published {
    width: 85px;
}

.content-list__item-row--selected {
    background-color: #f9f9f9;
}

.content-list__item-row.ng-enter {
    -webkit-animation: content-list__item-row--enter-sequence 2s ease-out;
    animation: content-list__item-row--enter-sequence 2s ease-out;
}

@-webkit-keyframes content-list__item-row--enter-sequence {
    0% {
        background: #fcf8e3;
        opacity: 0;
    }
    50% {
        background: #fcf8e3;
        opacity: 1;
    }
}

@keyframes content-list__item-row--enter-sequence {
    0% {
        background: #fcf8e3;
        opacity: 0;
    }
    50% {
        background: #fcf8e3;
        opacity: 1;
    }
}

.content-list__item-row.ng-leave {
    -webkit-animation: content-list__item-row--leave-sequence 0.5s ease-out;
    animation: content-list__item-row--leave-sequence 0.5s ease-out;
}

@-webkit-keyframes content-list__item-row--leave-sequence {
    to {
        opacity: 0;
    }
}

@keyframes content-list__item-row--leave-sequence {
    to {
        opacity: 0;
    }
}

.status-cell {
    background-color: #F0F8FF;
}
*/
