
<div class="alert alert-danger" ng-if="refreshContentError">
    There was a problem contacting the server, please try to
    <a href="javascript:window.location.reload()">reload</a> the page. If the problem continues, please contact
    <a href="mailto:cms.workflow@guardian.co.uk">the Workflow team</a>.
</div>

<table class="content-list">
    <thead class="content-list-head">
        <tr class="content-list-head__row">
            <th class="content-list-head__heading--group" colspan="4"></th>
            <th class="content-list-head__heading--titles">Working title / Headline</span></th>
            <th class="content-list-head__heading--presence" title="In use by">
                <i class="content-list-head__heading-icon--presence" wf-icon="presence"/>
            </th>
            <th class="content-list-head__heading--assignee" title="Assigned to">
                <i class="content-list-head__heading-icon--assignee" wf-icon="assigned-to"/>
            </th>
            <th class="content-list-head__heading--office" title="Production office">Office</th>
            <th class="content-list-head__heading--deadline">Deadline</th>
            <th class="content-list-head__heading--created">Created</th>
            <th class="content-list-head__heading--section">Section</th>
            <th class="content-list-head__heading--legal">Legal</th>
            <th class="content-list-head__heading--status">Status</th>
            <th class="content-list-head__heading--notes">Notes</th>
            <th class="content-list-head__heading--links" colspan="4">Open in</th>
            <th class="content-list-head__heading--published-state">State</th>
        </tr>
    </thead>
    <tbody ng-repeat="group in content track by group.name">
        <tr class="content-list__group-heading-row">
            <th class="content-list__group-heading" scope="rowgroup" colspan="19">
                <a class="content-list__group-heading-link" ng-click="">{{ group.title }} <span class="content-list__group-heading-count" ng-show="group.items.length">{{ group.items.length }}</span></a>
            </th>
        </tr>
        <tr class="content-list-item" ng-repeat="contentItem in group.items track by contentItem.id" ng-click="contentList.selectItem(contentItem)" ng-class="{ 'content-list-item--selected': contentList.selectedItem === contentItem, 'content-list-item--published': contentItem.isPublished }"
        >
            <td class="content-list-item__field--priority" title="Priority: {{ contentItem.priorityTitle }}">
                <i class="content-list-item__icon--priority" wf-icon="priority-{{ contentItem.priority }}" ng-show="contentItem.priority !== 'normal'"/>
            </td>
            <td class="content-list-item__field--comments" title="Comments: {{ contentItem.commentsTitle }}">
                <i class="content-list-item__icon--comments" wf-icon="comments" wf-icon-active="contentItem.hasComments"/>
            </td>
            <td class="content-list-item__field--main-image" title="{{ contentItem.mainImageTitle }}">
                <i class="content-list-item__icon--main-image" wf-icon="main-image" wf-icon-active="contentItem.hasMainImage"/>
            </td>
            <td class="content-list-item__field--content-type" title="{{ contentItem.contentTypeTitle }}">
                <i class="content-list-item__icon--content-type" wf-icon="{{ contentItem.contentType }}"/>
            </td>
            <th class="content-list-item__field--{{ contentList.showHeadline ? 'headline' : 'working-title' }}" scope="row" title="Working title: {{ contentItem.workingTitle }}{{ contentItem.headline ? '&#10;Headline: ' + contentItem.headline : '' }}">
                <abbr class="content-list-item__headline-toggle" title="{{ contentList.showHeadline && contentItem.headline ? 'Headline' : 'Working title'}}. (Click to toggle Headlines)" ng-click="contentList.showHeadline = !contentList.showHeadline">{{ contentList.showHeadline && contentItem.headline ? 'HL' : 'WT'  }}</abbr>
                <a href="{{ contentItem.links.composer }}">{{ contentList.showHeadline && contentItem.headline ? contentItem.headline : contentItem.workingTitle }}</a>
            </th>
            <td class="content-list-item__field--presence">
                <span class="content-list-item__icon--presence">PZ</span>
            </td>
            <td class="content-list-item__field--assignee" title="Assignee: {{ contentItem.assigneeFull }}">
                <span class="content-list-item__icon--assignee" ng-if="contentItem.assignee">{{ contentItem.assignee }}</span>
            </td>
            <td class="content-list-item__field--office" title="Production Office: {{ contentItem.officeTitle }}">
                <span class="content-list-item__icon--office-{{ contentItem.office.toLowerCase() }}">{{ contentItem.office }}</span>
            </td>
            <td class="content-list-item__field--deadline" title="Deadline: {{ contentItem.deadline | wfLocaliseDateTime | wfFormatDateTime:'long' }}">{{ contentItem.deadline | wfLocaliseDateTime | wfFormatDateTime:'ddd DD MMM HH:mm' }}</td>
            <td class="content-list-item__field--created" title="Date created: {{ contentItem.created | wfLocaliseDateTime | wfFormatDateTime:'long'}}">{{ contentItem.created | wfLocaliseDateTime | wfFormatDateTime:'ddd DD MMM HH:mm' }}</td>
            <td class="content-list-item__field--section" title="Section: {{ contentItem.section }}">{{ contentItem.section }}</td>
            <td class="content-list-item__field--legal" title="Needs legal">
                <select ng-model="contentItem.needsLegal" ng-options="ls.value as ls.name for ls in contentList.legalValues" wf-content-item-update-action="needsLegal"></select>
            </td>
            <td class="content-list-item__field--status" title="Status">
                <select ng-model="contentItem.status" ng-options="status.value as status.label for status in contentItem.statusValues" wf-content-item-update-action="status">
                </select>
            </td>
            <td class="content-list-item__field--notes" title="Note: {{ contentItem.note }}">{{ contentItem.note }}</td>
            <td class="content-list-item__field--composer">
                <a href="{{ contentItem.links.composer }}" title="View in Composer (opens in new window)" target="_blank" ng-if="contentItem.links.composer">
                    <i class="content-list-item__icon--composer" wf-icon="composer"></i>
                </a>
                <span ng-if="!contentItem.links.composer"  title="View in Composer (unavailable)">
                    <i class="content-list-item__icon--composer" wf-icon="composer" wf-icon-active="false"></i>
                </span>
            </td>
            <td class="content-list-item__field--preview">
                <a href="{{ contentItem.links.preview }}" title="Preview (opens in new window)" target="_blank" ng-if="contentItem.links.preview">
                    <i class="content-list-item__icon--preview" wf-icon="preview"></i>
                </a>
                <span ng-if="!contentItem.links.preview"  title="Preview (unavailable)">
                    <i class="content-list-item__icon--preview" wf-icon="preview" wf-icon-active="false"></i>
                </span>
            </td>
            <td class="content-list-item__field--live">
                <a href="{{ contentItem.links.live }}" title="View on Live site (opens in new window)" target="_blank" ng-if="contentItem.links.live">
                    <i class="content-list-item__icon--live" wf-icon="live-site"></i>
                </a>
                <span ng-if="!contentItem.links.live"  title="View on Live site (unavailable)">
                    <i class="content-list-item__icon--live" wf-icon="live-site" wf-icon-active="false"></i>
                </span>
            </td>
            <td class="content-list-item__field--ophan">
                <a href="{{ contentItem.links.ophan }}" title="View in Ophan (opens in new window)" target="_blank" ng-if="contentItem.links.ophan">
                    <i class="content-list-item__icon--ophan" wf-icon="ophan"></i>
                </a>
                <span ng-if="!contentItem.links.ophan"  title="View in Ophan (unavailable)">
                    <i class="content-list-item__icon--ophan" wf-icon="ophan" wf-icon-active="false"></i>
                </span>
            </td>
            <td class="content-list-item__field--published-state">
                {{ contentItem.publishedState }}
                <div class="content-list-item__field-supl--published-state" ng-if="contentItem.isPublished">{{ contentItem.publishedTime | wfLocaliseDateTime | wfFormatDateTime:'ddd DD MMM HH:mm' }}</div>
            </td>
        </tr>
    </tbody>
</table>
