@import "layouts/global/mixins";
@import "layouts/plan/mixins";
@import "layouts/global/colours";

$plan-item-notes-max-width: 750px;
$plan-item-notes-line-height: 16px;

.plan-item {
    &.ui-draggable-dragging {
        @include box-shadow(0px 1px 4px 2px #c0c0c0);
        background-color: #fff;
        width: 160px;
        text-overflow: ellipsis;
        overflow: hidden;
        transform: rotate(-7deg);
        z-index: 99999;
        list-style: none;
        .bundle {
            display: none;
        }
    }
}

.plan-item__item-wrapper {
    position: relative;
    height: 36px;
    padding: 2px 0 2px 12px;

    cursor: pointer;

    &:hover {
        background-color: $c-grey-100;
        .plan-item__actions {
            display: block;
        }
    }

    &.priority-high {
        padding-left: 9px;
        border-left: 3px solid $c-orange;
    }

    &.priority-very-high {
        padding-left: 9px;
        border-left: 3px solid $c-red;
    }

    &.created {
        padding-left: 9px;
        border-left: 3px solid $c-green;
        background-color: $c-light-green;
        &:hover {
            background-color: darken($c-light-green, 8%);
        }
    }

    .bundle {
        display: inline-block;
        background-color: $c-grey-300;
        padding: 1px 6px;
        @include bundle-border();
        @extend %fs-data-2;
        font-weight: bold;
    }
}

.plan-item__item-top-row,
.plan-item__item-bottom-row {
    display: block;
    height: 16px;
    > * {
        display: inline-block;
    }
}

.plan-item__item-time {
    margin-right: 6px;
}

.plan-item__item-title {
    font-weight: bold;
}

.plan-item__item-note {
    max-width: $plan-item-notes-max-width;

    height: $plan-item-notes-line-height;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.plan-item__item-byline {
    //        background-color: #DCDCDC;
    //        border-radius: 50px;
    //        box-sizing: border-box;
    //        color: #333333;
    //        @extend %fs-data-1;
    //        line-height: 12px;
    //        margin: 0 6px;
    //        padding: 2px 6px;
    //        text-align: center;
    //        text-decoration: none;
    //        text-transform: none;
    //        width: auto;
}

.plan-item__actions {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 4px 8px;

    display: none;

    .plan-item__action-tomorrow {
        border: 1px solid $c-highlight-blue;
        background-color: $c-blue;
        color: #ffffff;
        @extend %fs-data-1;
        height: 19px;
        padding: 2px 6px 3px 6px;
        @include transition(background-color 0.25s ease-in-out);
        outline: none;
        &:hover {
            background-color: $c-highlight-blue;
        }
    }

    .plan-item__action {
        @extend %fs-data-2;
        height: 20px;
        line-height: 15px;
        padding: 2px 6px 3px 6px;
        @include transition(background-color 0.25s ease-in-out);
        outline: none;
        display: inline-block;
        position: relative;

        &:hover {
            text-decoration: none;
        }

        &-tomorrow {
            border: 1px solid $c-highlight-blue;
            background-color: $c-blue;
            color: #ffffff;

            .loader {
                @include spinner($c-blue);
            }

            &:hover {
                background-color: $c-highlight-blue;
                .loader:after {
                    background: $c-highlight-blue;
                }
            }
        }

        &-start {
            border: 1px solid $c-green;
            background-color: $c-green;
            color: #ffffff;

            .loader {
                @include spinner($c-green);
            }

            &:hover {
                background-color: lighten($c-green, 20%);
                .loader:after {
                    background: lighten($c-green, 20%);
                }
            }
        }

        &-view {
            border: 1px solid $c-grey-400;
            background-color: $c-grey-200;
            color: #000000;
            &:hover {
                background-color: $c-grey-400;
            }
        }

        transition: padding 0.2s ease-in-out;

        &.loading {
            padding-right: 22px;
            .loader {
                opacity: 1;
            }
        }

        .loader {
            height: 15px;
            width: 15px;
            position: absolute;
            top: 2px;
            right: 2px;

            opacity: 0;
            transition: opacity 0.2s ease-in-out;
        }

        &-remove {
            display: block;
            float: right;
            height: 16px;
            width: 16px;
            margin: 1px;
            cursor: pointer;
        }

        .plan-item__action-icon--cross {
            height: 10px;
            width: 10px;
            display: block;
            vertical-align: top;
            svg {
                vertical-align: top;
            }
        }
    }

    .plan-item__action-view-container {
        display: inline-block;
    }
}

.plan-item__item-drag-handle {
    display: inline-block;
    height: 20px;
    width: 22px;
    padding: 1px 0 0 0;
    float: left;
    margin: 6px 12px 6px 0;
    .handle__mark {
        height: 4px;
        margin-bottom: 3px;
    }
}

.plan-item__item-drawer {
    background-color: $c-grey-200;
    display: flex;
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: height 0.2s ease-in-out, opacity 0.2s 0.2s ease-in-out;

    &--open {
        height: 100%;
        opacity: 1;
        overflow: visible;
    }

    .date-time-picker__group {
        max-width: 200px;
//        .dropdown-menu {
//            left: 0;
//            right: auto;
//            min-width: 200px;
//            z-index: 999;
//        }
    }
}

.plan__item__item-drawer__notes {
    max-width: $plan-item-notes-max-width;
    max-height: $plan-item-notes-line-height * 10;
    min-height: $plan-item-notes-line-height * 6;

    position: relative;
    overflow: hidden;

    // fade out last line, taken from https://css-tricks.com/line-clampin/
    &:after {
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: $plan-item-notes-line-height;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), $c-grey-200 50%);
    }
}

.day-view__item--slim {
    .plan-item__item-drawer {
        flex-direction: column;
    }

    .drawer__column,
    .drawer__column--wide {
        flex-basis: auto;
    }

    .drawer__column--control {
        margin-left: 0;
        border-left: none;
    }

    .plan__item__item-drawer__notes {
        min-height: 0;
    }
}
