<div class="plan-item__item-wrapper" ng-click="drawerOpen = !drawerOpen" ng-class="{'priority-high': item.priority == 1, 'priority-very-high': item.priority == 2, 'created': !!item.composerId, 'drawer-open': drawerOpen}">
    <div class="plan-item__item-top-row">
        <span class="plan-item__item-time" ng-if="item.hasSpecificTime">{{ item.plannedDate.format("HH:mm") }}</span>
        <div class="plan-item__item-title">
            <span class="bundle" ng-style="genColor(getBundleName(item.bundleId))" ng-if="item.bundleId && variant !== 'bundle'">{{ getBundleName(item.bundleId) }}</span>
            <span>{{ item.title }}</span>
        </div>
    </div>

    <div class="plan-item__item-bottom-row">
        <span class="plan-item__item-byline" ng-if="item.byLine">{{ item.byLine }}</span>
        <span class="plan-item__item-note">{{ item.notes }}</span>
    </div>

    <div class="plan-item__actions" ng-switch="variant">

        <div ng-switch-when="bundle">
            <span class="plan-item__action-remove" ng-if="bundle.id !== 0" ng-click="removeFromBundleProxy(item); $event.stopPropagation();">
                <i class="plan-item__action-icon--cross" wf-icon="cross" wf-icon-active="true"></i>
            </span>

            <button class="plan-item__action plan-item__action-tomorrow" ng-click="shiftToTomorrow(); $event.stopPropagation();" ng-class="{'loading': MoveToTomorrowLoading}">Move to tomorrow  <span class="loader"></span></button>

            <div class="plan-item__item-drag-handle  plan__drag-handle" ng-if="bundle.id === 0">
                <span class="handle__mark"></span>
                <span class="handle__mark"></span>
                <span class="handle__mark"></span>
            </div>
        </div>

        <div ng-switch-when="day">
            <button class="plan-item__action plan-item__action-start" ng-if="!item.composerId" ng-click="startWork(); $event.stopPropagation();" ng-class="{'loading': startWorkLoading}">Start work <span class="loader"></span></button>

            <div class="plan-item__action-view-container" ng-if="item.composerId">
                <span>View in: </span>
                <a class="plan-item__action plan-item__action-view" href="{{ composerViewUrl }}/{{ item.composerId }}" target="_blank">Composer</a>
                <a class="plan-item__action plan-item__action-view" href="/dashboard?composerId={{ item.composerId }}" target="_blank">Produce</a>
            </div>
            <button class="plan-item__action plan-item__action-tomorrow" ng-click="shiftToTomorrow(); $event.stopPropagation();" ng-class="{'loading': MoveToTomorrowLoading}">Move to tomorrow  <span class="loader"></span></button>
            <div class="plan-item__item-drag-handle plan__drag-handle">
                <span class="handle__mark"></span>
                <span class="handle__mark"></span>
                <span class="handle__mark"></span>
            </div>
        </div>

    </div>

</div>



<div class="plan-item__item-drawer" ng-class="{'plan-item__item-drawer--open': drawerOpen}">

    <ul class="drawer__column--wide">

        <li class="drawer__section">
            <span class="drawer__section-title">Title</span>
            <wf-editable class="drawer__section-data-row" ng-model="item.title" wf-editable-on-update="updateField('title', newValue)" wf-editable-required="true">
                {{ item.title || '-' }}
            </wf-editable>
        </li>

        <li class="drawer__section">
            <span class="drawer__section-title">Note</span>
            <wf-editable class="drawer__section-data-row" ng-model="item.notes" wf-editable-on-update="updateField('notes', newValue)" wf-editable-required="true">
                {{ item.notes || 'Add note' }}
            </wf-editable>
        </li>
    </ul>

    <ul class="drawer__column">
        <li class="drawer__section">
            <span class="drawer__section-title">Planned Time</span>

            <span ng-hide="dateTimeEdit" ng-click="dateTimeEdit = true" ng-class="{ 'drawer__section-data-row--editable': item.plannedDate, 'drawer__section-data-row--editable-empty': !item.plannedDate }" title="{{ (item.plannedDate | wfLocaliseDateTime:$root.globalSettings.location | wfFormatDateTime:'long') || '' }}">
                {{ (item.plannedDate | wfLocaliseDateTime:$root.globalSettings.location | wfFormatDateTime) || 'Add deadline' }}
            </span>

            <form ng-show="dateTimeEdit" ng-submit="dateTimeEdit = false">
                <div wf-date-time-picker wf-update-on="enter" ng-model="currentDatePickerValue" wf-on-cancel="dateTimeEdit = false; currentDatePickerValue = item.PlannedDate"  wf-cancel-on="blur" wf-on-submit="updateField('plannedDate', currentDatePickerValue); dateTimeEdit = false;" wf-small="true" help-text="true"></div>
                <!--<div wf-date-time-picker ng-model="item.plannedDate" wf-on-cancel="dateTimeEdit = false" wf-update-on="enter" wf-cancel-on="blur" wf-on-update="updateField('plannedDate', item.plannedDate); dateTimeEdit = false" wf-small="true"></div>-->
            </form>

        </li>
    </ul>

    <ul class="drawer__column">

        <li class="drawer__section">
            <span class="drawer__section-title">Newslist</span>
            <select class="drawer__section-control" ng-model="item.newsList" ng-options="nl.id as nl.title for nl in newsLists" ng-change="updateField('newsList', item.newsList)"></select>
        </li>

        <li class="drawer__section">
            <span class="drawer__section-title">Priority</span>
            <select class="drawer__section-control" ng-model="item.priority" ng-options="p.value as p.title for p in priorities" ng-change="updateField('priority', item.priority)"></select>
        </li>
    </ul>

    <ul class="drawer__column--control">
        <li class="drawer__control">
                        <span class="drawer__section-data-row drawer__control-item" ng-click="drawerOpen= false" title="Close details">
                            <i class="content-list-item__icon--composer drawer__control-item-icon" wf-icon="cross"></i>
                            Close details
                        </span>
        </li>
        <li class="drawer__control" ng-class="{'drawer__control--confirm': awaitingDeleteConfirmation}">
                    <span class="drawer__section-data-row drawer__control-item drawer__control-item--delete" ng-click="deletePlanItem()" title="Delete from Workflow">
                        <i class="content-list-item__icon--composer drawer__control-item-icon" wf-icon="delete"></i>
                            {{ awaitingDeleteConfirmation ? 'Delete' : 'Delete from Workflow' }}
                        </span>
        </li>
    </ul>



</div>
