/**
 * Detail panel.
 *
 * Shows extra metadata for a selected content item.
 */


.detail-panel {
    padding: 0 20px;
}

.detail-panel .picture {
    height: 180px;
    background-color: pink;
    width: 260px;
}

.detail-panel .content-note .editable-input {
    padding: 0;
}

.detail-panel .content-note .editable-buttons {
    display: block;
    margin-top: 6px;
}


.detail {
  font-size: 90%;
}

.detail dd {
  margin-bottom: 10px;
}


/**
 * Editable Fields in Details block.
 * TODO: move all detials block related styles to own file;
 */
.detail__data--editable,
.detail__data--editable-empty {
  color: #333;
  border-bottom: dashed 1px #333;
  cursor: pointer;
}

.detail__data--editable-empty {
  font-style: italic;
}

.detail__data--editable:hover {
  color: #428bca;
  border-color: #428bca;
  text-decoration: none;
}
