/**
 * Workflow global icons.
 */

.wf-icon {
    width: 100%;
    height: 100%;
}

$i-arrow-down: url("/assets/components/icons/arrow-down.svg");
$i-arrow-up: url("/assets/components/icons/arrow-up.svg");
