/**
 * Workflow global icons.
 */

$optimised-for-web-size: 16px;

.wf-icon {
    width: 100%;
    height: 100%;
    vertical-align: middle;

    fill: $c-grey-600;

    &--active {
        @extend .wf-icon;
    }

    &--inactive {
        @extend .wf-icon;

        fill: $c-grey-300;
    }

    &-type {
        &--priority-urgent {
            fill: $c-yellow;
        }

        &--priority-very-urgent {
            fill: $c-red;
        }

        &--optimised-for-web-changed,
        &--optimised-for-web {
            height: $optimised-for-web-size;
            width: $optimised-for-web-size;
        }
    }
}

// TODO: Move css that references these to use new linked svg icons
$i-arrow-down: url("/assets/components/icons/src/arrow-down.svg");
$i-arrow-up: url("/assets/components/icons/src/arrow-up.svg");
