/**
 * Location picker styles.
 */

/* Bootstrap override - hence specificity */
.top-toolbar__location-picker-menu > li > a {
  padding-right: 90px;
}

.top-toolbar__location-picker-localtime,
.top-toolbar__location-picker-localtime--inmenu {
  font-size: 12px;
  color: #666;
}

.top-toolbar__location-picker-localtime--inmenu {
  position: relative;
  right: -70px;
  line-height: 1em;
  padding-top: 5px;
}
