<button class="location-picker__button" type="button" title="Select your timezone" ng-click="ctrl.toggleOpen()">
    <i class="location-picker__icon--show" wf-icon="arrow-up"></i>
    {{ ctrl.getLocation($root.globalSettings.location).title }}
    <span class="location-picker__localtime">{{ now | wfLocaliseDateTime:$root.globalSettings.location | wfFormatDateTime:'HH:mm' }}</span>
</button>
<ul class="location-picker__menu">
    <li class="location-picker__menuitem" ng-repeat="location in locations">
        <a class="location-picker__menuitem-link" ng-click="ctrl.setLocation(location.id)">
            <span class="location-picker__menuitem-localtime">{{ now | wfLocaliseDateTime:location.id | wfFormatDateTime:'HH:mm z' }}</span>
            {{ location.title }}
        </a>
    </li>
</ul>
