<div class="punters__container">

    <label for="stub_assignee" ng-class="{ 'drawer__section-title': indrawer }">Assign to</label>

    <button type="button" class="btn btn-primary btn-xs punters__button" ng-class="{ 'pull-right' : !indrawer, 'punters__button--inline': indrawer }" ng-disabled="tokens && tokens.length > 0" ng-click="assignToMe();">{{ indrawer ? 'Me' : 'Assign to me' }}</button>

    <div class="form-control punters__autocomplete-field">
        <ul class="punters__token-list">
            <li class="punters__token" ng-repeat="userEmail in tokens" ng-click="removeToken($index);">
                <span class="punters__autocomplete-item-email">{{ userEmail }}</span>
                <span class="punters__token-remove">🗑</span>
            </li>
            <li class="punters__input-token" ng-show="!tokens || tokens.length === 0">
                <input type="text" id="stub_assignee" name="assignee" value="" class="punters__text-input" autocomplete="off"
                       ng-keydown="keyDown($event);"
                       ng-model="searchText"
                       ng-change="searchForUsers()"
                >
            </li>
        </ul>
    </div>

    <ul class="punters__autocomplete-list" ng-show="foundUsers && foundUsers.length > 0">
        <li class="punters__autocomplete-item"
            ng-repeat="userEmail in foundUsers track by $index"
            ng-click="addToken(userEmail);"
            ng-class="{'punters__autocomplete-item--selected': selectedIndex === $index}"
        >
            <span class="punters__autocomplete-item-email">{{ userEmail }}</span>
        </li>
    </ul>

</div>

