.ui-edit-rights {
  @extend %fs-data-1;

  .ui-edit-rights__label {
    font-weight: normal;
    cursor: pointer;
  }

  .ui-edit-rights__input {
    margin-right: 5px;
    cursor: pointer;
  }

  hr {
    margin: 10px 0;
    border-top: 1px solid #ddd;
  }
}

