@(newsLists: List[NewsList], addNewsListForm: Form[NewsList], sections: List[Section])

@import helper._

@admin.adminLayout("newsLists") {

    <div class="row">

        <div class="col-md-6">

            <div class="alert alert-info delete-message" style="display: none; margin-top: 12px;">The Newslist was deleted :-)</div>

            <h1>Current NewsLists</h1>
            <ul class="list-unstyled list-group" >

            @for(newsList <- newsLists) {
                <li class="list-group-item clearfix">
                    <span class="title__title col-md-4"><strong>@{newsList.title}</strong></span>

                    <span class="item__section col-md-6">

                        @form(action=routes.Admin.updateNewsList){
                            <input type="hidden" name="id" value="@{newsList.id}">
                            <input type="hidden" name="title" value="@{newsList.title}">

                            <span>Default section:</span>

                            <select name="default_section">
                                @for(section <- sections) {
                                    <option value="@section.id.toString" @if(section.id == newsList.default_section){selected}> @section.name </option>
                                }
                            </select>

                            <input type="submit" value="update" class="btn btn-xs btn-warning"/>
                        }

                    </span>

                    <button class="list-group-item__delete pull-right btn btn-danger btn-xs" data-id="@{newsList.id}">Delete</button>
                </li>
            }
            </ul>

            <div class="form">
                <h3>Add a new NewsList</h3>
                @form(action=routes.Admin.addNewsList){
                    @inputText(field=addNewsListForm("title"), args='required -> "required", '_label -> "Title")

                    @select(

                        field = addNewsListForm("default_section"),

                        options = sections.map(s => s.id.toString -> s.name),

                        args = '_label -> "Default section", '_showConstraints -> false

                    )

                    <input type="hidden" name="id" value="0">
                    <input type="hidden" name="selected" value="false">
                    <input type="submit" value="Add" class="btn btn-primary">
                    }
            </div>

            <script type="application/javascript">

                $(function () {
                    $('.list-group-item__delete').on('click', function (event) {

                        var $el = $(event.target);
                        var id = $el.data('id');

                        $.ajax({
                            url: '/admin/newslists',
                            method: 'DELETE',
                            data: {
                                id: id,
                                title: ""
                            }
                        }).success(function () {
                            $el.parents('.list-group-item').remove();
                            $('.delete-message').fadeIn().delay(2000).fadeOut();
                        }).error(function () {
                            alert("Couldn't delete item: "+ id + ". Probably there are plan items in this newslist...");
                        });

                    });
                });

            </script>

        </div>

    </div>

}
