/* A sidebar section ---------------------- */

.sidebar__section {
    &:last-child .sidebar__filter-list .sidebar__filter {
        border-bottom: 1px solid $c-grey-200;
    }
}

%sidebar__header-select-icon {
    &::before {
        content: " ";
        background: $i-arrow-down right no-repeat transparent;
        background-size: 12px;
        width: 13px;
        height: 12px;
        display: inline-block;
        margin: 0 5px 0 0;
        position: relative;
        top: 2px;

        -webkit-transition: transform 0.25s ease-in-out;
        -moz-transition: transform 0.25s ease-in-out;
        -ms-transition: transform 0.25s ease-in-out;
        -o-transition: transform 0.25s ease-in-out;
        transition: transform 0.25s ease-in-out;
    }
}

.sidebar__header {
    background-color: $c-grey-200;
    height: 28px;
    border-top: 1px solid #ffffff;
    display: flex;

    &:hover {
        background-color: darken($c-grey-300, 15%);
    }

    .sidebar__header-spacer {
        flex-grow: 1;
    }

    .sidebar__heading {
        @extend %sidebar__header-select-icon;
        @extend %fs-data-1;
        text-transform: uppercase;
        display: inline-block;
        padding: 6px 0 5px 5px;
        font-weight: bold;
        margin: 0;
        cursor: pointer;
        flex-grow: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &::before {
            transform: rotate(-90deg);
        }
        &--open::before {
            transform: rotate(0deg);
        }


    }
}

.sidebar__filter-list {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    -webkit-transition: max-height .75s;
    -moz-transition: max-height .75s;
    -ms-transition: max-height .75s;
    -o-transition: max-height .75s;
    transition: max-height .35s ease-in-out;
}

/* A sidebar filter block ---------------------- */

.sidebar__filter {
    border-bottom: 1px solid $c-grey-200;
    &:last-child {
        border-bottom: 0;
    }
    .sidebar__filter-link {
        @extend %fs-data-3;
        color: $c-text;
        background-color: $c-grey-100;
        padding: 7px 0 7px 23px;
        display: block;
        width: 100%;
        &:hover {
            text-decoration: none;
            background-color: darken($c-grey-100, 15%);
        }
    }
    .sidebar__filter-icon {
        display: inline-block;
        width: 14px;
        vertical-align: text-bottom;
        margin-right: 4px;
        &:hover {
            img {
                -webkit-filter: url(/assets/components/icons/icons.svg#gallery-active-hover);
                -moz-filter: url(/assets/components/icons/icons.svg#gallery-active-hover);
                -o-filter: url(/assets/components/icons/icons.svg#gallery-active-hover);
                -ms-filter: url(/assets/components/icons/icons.svg#gallery-active-hover);
                filter: url(/assets/components/icons/icons.svg#gallery-active-hover);
            }
        }
    }

    &.sidebar__filter--active {
        .sidebar__filter-link {
            &,
            &:focus,
            &:hover {
                color: $c-text;
                background-color: $c-bluegrey;
                border-left: 3px solid $c-highlight-blue;
            }
        }
    }

    &.sidebar__filter--default {
        display: inline-block;
        padding: 0;
        border-bottom: 0;
        border-left: 1px solid #fff;
        height: 100%;
        flex-grow: 0;
        .sidebar__filter-link {
            height: 100%;
            padding: 6px 12px;
        }
    }
}

// Custom deadline filter option

%deadline-select {
    padding: 7px 0 7px 23px;
    height: 30px;
    width: 100%;
    @extend %fs-data-3;
    line-height: 1em;
    font-weight: normal;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    cursor: pointer;

    &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
    }
}

.sidebar__filter__deadline-select {
    @extend %deadline-select;
    color: #333 ;
    background-color: #f6f6f6;
}

.sidebar__filter__deadline-select--active {
    @extend %deadline-select;
    color: $c-text;
    background-color: $c-bluegrey;
    border-left: 3px solid $c-highlight-blue;
}

// moz dropdown arrow masking
.sidebar__filter-custom--customDate {
    position: relative;

    &:after {
        content: " ";
        background: $i-arrow-down center no-repeat #F6F6F6;
        background-size: 12px;
        width: 20px;
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        pointer-events: none;
    }
}

.sidebar__filter--active .sidebar__filter-custom--customDate:after {
    background-color: $c-bluegrey;
}

:-moz-any(.sidebar__filter__deadline-select, .sidebar__filter__deadline-select--active) {
    padding-left: 19px;
}
