<span class="editable__value" ng-click="editableController.setEditMode(true)" tabindex="0">{{ modelValue }}</span>
<input type="text" class="editable__text-field" wf-editable-field ng-model="modelValue" ng-if="::editableType !== 'textarea'" />
<textarea class="editable__text-field editable__text-field--textarea" wf-editable-field ng-model="modelValue" ng-if="::editableType === 'textarea'"></textarea>
<span class="editable__controls">
    <button class="editable__control editable__control--save" ng-click="commit()" title="Save changes">
        <i class="editable__control-icon editable__control-icon--save" wf-icon="check"></i>
    </button>
    <button class="editable__control editable__control--cancel" ng-click="cancel()" title="Cancel changes">
        <i class="editable__control-icon editable__control-icon--cancel" wf-icon="cross"></i>
    </button>
</span>
