<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">{{ modalTitle }}</h4>
</div>

<form name="stubForm">
    <fieldset ng-disabled="actionSuccess">
    <input type="hidden" ng-model="stub.id"/>
    <div class="modal-body">
        <div class="form-group" ng-if="mode === 'import'">
            <label for="stub_title">Composer URL *<em class="stubModal__import-help">Copy / paste the Composer URL of the content to import</em></label>
            <input type="text" ng-model="formData.composerUrl" ng-change="composerUrlChanged()" id="composer_url" name="composerUrl" class="form-control" required  wf-focus focus-me="{{ mode === 'import' }}">
        </div>
        <div class="form-horizontal clearfix">
            <div class="form-group col-xs-8">
                <label for="stub_title">Working title *</label>
                <input type="text" ng-model="stub.title" id="stub_title" name="title" class="form-control" required wf-focus focus-me="{{ !(mode === 'import') }}">
            </div>
            <div class="form-group pull-right col-xs-5">
                <punters stub="stub"></punters>
            </div>
        </div>
        <div class="form-horizontal clearfix">
            <div class="form-group pull-left col-xs-8">
                <label for="stub_status">Status *</label>
                <div>
                    <select id="stub_status" name="status" ng-model="stub.status" ng-options="status.value as status.label for status in statuses"></select>
                </div>
                <p class="help-block" ng-class="{ 'help-block--invisible': mode === 'import' || stub.status === 'Stub' }">To save as a Stub, change status to News List</p>
            </div>
            <div class="form-group pull-left col-xs-8" ng-if="mode !== 'import'">
                <label for="stub_cdesk">Commissioning info</label>

                <div ng-if="cdesks.length > 0">
                    <select id="stub_cdesk" name="cdesk" ng-model="stub.commissioningDesks" ng-options="cdesk.id.toString() as cdesk.externalName for cdesk in cdesks"></select>
                </div>
                <div ng-if="cdesks.length === 0">
                    <p class="help-block">Selecting commissioning info is temporarily unavailable</p>
                </div>
                <!--<p class="help-block" ng-class="{ 'help-block&#45;&#45;invisible': mode === 'import' || stub.status === 'Stub' }">To save as a Stub, change status to News List</p>-->
            </div>
            <div class="form-group pull-right col-xs-5">
                <label for="stub_section">Section *</label>
                <div>
                    <select id="stub_section" name="section" ng-model="stub.section" ng-options="section.name for section in
                 sections" required>
                    </select>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-body modal-body__header" ng-click="expanded = !expanded">
        <a href="" class="modal-body__header-expander" ng-class="{'modal-body modal-body__header-expander--open': expanded}">
            Advanced
        </a>
    </div>
    <div class="modal-body modal-body__advanced" ng-class="{'modal-body__advanced--open' : expanded}">
        <div class="form-group">
            <div wf-date-time-picker label="Production deadline" help-text="true" ng-model="stub.due"></div>
            <div class="form-horizontal clearfix">
                <div class="form-group col-xs-8">
                    <label for="stub_priority">Priority</label>

                    <div>
                        <div class="btn-group">
                            <label class="btn btn-default btn-sm" ng-model="stub.priority" btn-radio="0">Normal</label>
                            <label class="btn btn-default btn-sm" ng-model="stub.priority" btn-radio="1"><i class="stubModal__icon" wf-icon="priority-urgent"></i> Urgent</label>
                            <label class="btn btn-default btn-sm" ng-model="stub.priority" btn-radio="2"><i class="stubModal__icon" wf-icon="priority-very-urgent"></i> Very Urgent</label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-xs-5 pull-right">
                    <label for="stub_legal">Legal</label>
                    <div>
                        <select id="stub_legal" name="needsLegal" ng-model="stub.needsLegal" ng-options="ls.value as ls.name for ls in legalStates"></select>
                    </div>
                </div>
            </div>
            <div class="form-horizontal clearfix">
                <div class="form-group col-xs-8">
                    <label for="stub_note">Note</label>
                    <input type="text" ng-model="stub.note" id="stub_note" name="note" value="" class="form-control" maxlength="500">
                </div>
                <div class="form-group col-xs-5 pull-right">
                    <label>Production Office</label>
                    <div>
                        <select ng-model="stub.prodOffice"
                                ng-options="office.value as office.name for office in prodOffices">
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer" ng-if="mode !== 'import'" ng-hide="actionInProgress || (actionSuccess && composerUrl)">
        <div class="pull-left">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="delete()" ng-if="stub.id">Delete</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
        </div>
        <div class="pull-right">
            <button type="submit" class="btn btn-default" id="testing-create-stub" ng-click="ok(addToComposer=false)" ng-disabled="disabled || stubForm.$invalid " ng-show="stub.status === 'Stub'">
                Save stub
            </button>
            <button type="button" class="btn btn-primary" id="testing-create-in-composer" ng-click="ok(addToComposer=true)" ng-disabled="disabled || stubForm.$invalid " ng-show="stub.status !== 'Stub'">
                Create new
            </button>
        </div>
    </div>

    <div class="modal-footer" ng-if="mode === 'import'" ng-hide="actionInProgress">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
        <button type="submit" class="btn btn-primary" id="testing-import-from-composer" ng-click="ok()" ng-disabled="stubForm.$invalid || !validImport">
            Import
        </button>
    </div>

    <div class="modal-footer" ng-show="actionInProgress">
        Loading ...
    </div>

    </fieldset>
</form>

<div class="modal-footer" ng-show="actionSuccess && composerUrl">
   <button type="button" class="btn btn-default pull-left" ng-click="cancel()">Dismiss</button>
    <a ng-href="{{composerUrl}}" class="btn btn-primary pull-right" target="_blank" ng-click="cancel()" id="testing-view-in-composer">View in Composer</a>
</div>

<div class="modal-footer__alert">
    <div class="modal-footer alert alert-info" ng-show="wfComposerState ==='visible'">
        <p>This content is already tracked. <a href="#stub-{{stubId}}" ng-click="cancel()">View in Workflow.</a></p>
    </div>

    <div class="modal-footer alert alert-info" ng-show="wfComposerState ==='invisible'">
        <p>This content is already tracked and not visible in Workflow.
            <a href="{{composerUrl}}" target="_blank" ng-click="cancel()">View in Composer.</a>
        </p>
    </div>

    <div class="modal-footer alert alert-info" ng-show="wfComposerState ==='archived'">
        <p>This content has previously been tracked by Workflow. Import to create a new item.</p>
    </div>

    <div class="modal-footer alert alert-danger" ng-show="actionSuccess === false">
        <p>Workflow's having difficulty communicating with Composer. Please try again. If the problem persists, please <a href="mailto:central.production@guardian.co.uk ">contact Central Production</a>.</p>
        <p>
            <a ng-show="composerUrl" href="{{composerUrl}}" target="_blank" ng-click="cancel()">View in Composer.</a>
            <a ng-show="stubId" href="#stub-{{stubId}}" ng-click="cancel()">View in Workflow.</a>
        </p>
    </div>

    <div id="testing-modal-success-message" class="modal-footer alert alert-success" ng-show="actionSuccess">
        <p>Completed successfully!</p>
    </div>
</div>
