<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Import from composer</h4>
</div>
<input type="hidden" ng-model="stub.id"/>
<div class="modal-body">
    <div class="form-group">
        <label for="stub_title">Composer url *</label>
        <input type="text" ng-model="formData.composerUrl" ng-change="composerUrlChanged()" id="composer_url" name="composerUrl" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="stub_title">Stub title *</label>
        <input type="text" ng-model="stub.title" id="stub_title" name="title" class="form-control" required>
    </div>
    <div class="form-group">
        <div class="pull-left">
            <label for="stub_section">section</label>
            <select id="stub_section" name="section" ng-model="stub.section" ng-options="section for section in sections"></select>
        </div>
        <div class="pull-right">
            <label for="stub_prodOffice">office</label>
            <select id="stub_prodOffice" name="prodOffice" ng-model="stub.prodOffice" ng-options="office.value as office.name for office in prodOffices"></select>
        </div>
    </div>
    <div class="form-group">
        <div class="form-group">
            <div wf-date-time-picker label="Production deadline" help-text="true" ng-model="stub.due"/>
        </div>
    </div>

    <div class="form-group clearfix">
        <div class="pull-left">
            <label for="stub_priority">Priority</label>

            <div class="btn-group">
                <label class="btn btn-default btn-sm" ng-model="stub.priority" btn-radio="0">.</label>
                <label class="btn btn-default btn-sm" ng-model="stub.priority" btn-radio="1">!</label>
                <label class="btn btn-default btn-sm" ng-model="stub.priority" btn-radio="2">!!</label>
            </div>
        </div>
        <div class="pull-right">
            <label for="stub_legal">Legal</label>
            <select id="stub_legal" name="needsLegal" ng-model="stub.needsLegal" ng-options="ls.value as ls.name for ls in legalStates"></select>
        </div>
    </div>

    <div class="form-group">
        <label for="stub_assignee">Assign to</label>
        <input type="text" ng-model="stub.assignee" id="stub_assignee" name="assignee" value="" class="form-control">
    </div>
    <div class="form-group">
        <label>content type</label>
        <select ng-model="stub.contentType">
            <option value=""></option>
            <option value="article">Article</option>
            <option value="liveblog">Live blog</option>
            <option value="gallery">Gallery</option>
            <option value="interactive">Interactive</option>
        </select>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary" ng-click="ok()" ng-disabled="stubForm.$invalid || !stub.composerId">
        Import
    </button>
</div>
</form>
