.admin {
	padding:30px;
}

.status {
  list-style-type: none;
  padding: 0;	
}

.label {
    list-style-type: none;
    padding: 0;
    margin-left: 5px;
    font-size: 20px;
    font-weight: normal;
}

btn-info {
	margin-left: 5px;
}

footer {
	clear: both; 
}