/**
 * Shame file - for temporary hacks, "quick fixes", nasty overrides.
 */


// Temporary bootstrap overrides - remove once bootstrap is out
body {
  @extend %f-data;
  @extend %fs-data-4;
}

a {
  color: $c-blue-link;
  text-decoration: none;
}

a:hover {
  color: $c-blue-link;
  text-decoration: underline;
}

// XX TODO find the right place for this css

.content-list__item-presence-list {
    float: left;
    list-style-type: none;
    padding: 0;
    width: 26px;
}

.content-list__item-presence {
    border-radius: 50%;
    border: 1px solid black;
    width: 100%;
    height: 26px;
    float: left;
}

.content-list__item-presence__entered {
    @extend .content-list__item-presence;
}

.content-list__item-presence__unknown {
    @extend .content-list__item-presence;
    background-color: lightgrey;
    color: white;
}

.content-list__item-presence__free {
    @extend .content-list__item-presence;
    display: none;
}

.content-list__item-presence-content {
    height: 100%;
    width: 100%;
    padding: 5px 1px;
    text-align: center;
    font-size: 13px;
    line-height: 1.2;
    margin: 0px;
}
