/**
 * Main workflow stylesheet.
 */

@import "lib/fonts/typography";

@import "layouts/global/colours";

@import "layouts/dashboard/dashboard";

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  display: flex;
  flex-grow: 1;
  height: 100%;
}


// Legacy admin page styles...
.admin {
    padding: 20px;
}

@import "shame";
