/**
 * Dashboard layout styles.
 */

@import "components/content-list/content-list";
@import "components/stubs-list/stubs-list";
@import "components/details-panel/details-panel";

@import "sidebar";
@import "toolbar";


.stubs-column {
  min-width: 200px;
  overflow: auto;
  border-right: 1px solid #eee;
}


.content-list-column {
  overflow: auto;
  flex-grow: 1;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


h5.query {
    font-weight: bold;
}



.btn.active {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
}





/**
 * .session-check__frame   iframe used to re-establish the user's session.
 */
.login-check__frame {
  position: absolute;
  overflow: hidden;
  border: none;
  width: 0;
  height: 0;
}
