/**
 * Dashboard layout styles.
 */
@import "layouts/global/vars";
@import "components/content-list/content-list";
@import "components/content-list-item/content-list-item";
@import "components/presence-indicator/presence-indicators";
@import "components/content-list-drawer/content-list-drawer";
@import "components/editable-field/editable-field";
@import "components/stub-modal/stub-modal";
@import "components/loader/loader";
@import "sidebar";
@import "toolbar";

.content-list-column {
    overflow: auto;

    overflow-y: scroll;

    // Flexbox prefixes - TODO: Autoprefixer
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border-left: 5px solid #f1f1f1;
    border-top: 1px solid #ededed;

    position: relative;
}

/**
 * .session-check__frame   iframe used to re-establish the user's session.
 */
.login-check__frame {
    position: absolute;
    overflow: hidden;
    border: none;
    width: 0;
    height: 0;
}
