/**
 * Dashboard layout styles.
 */
@import "layouts/global/vars";
@import "components/content-list/_content-list.scss";
@import "components/content-list-item/_content-list-item.scss";
@import "components/presence-indicator/_presence-indicators.scss";
@import "components/content-list-drawer/_content-list-drawer.scss";
@import "components/editable-field/_editable-field.scss";
@import "components/stub-modal/_stub-modal.scss";
@import "components/punters/_punters.scss";
@import "components/loader/_loader.scss";
@import "components/feature-switches/_feature-switches.scss";

@import "sidebar";
@import "toolbar";

.content-list-column {
    overflow: auto;

    overflow-y: scroll;

    // Flexbox prefixes - TODO: Autoprefixer
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border-left: 5px solid #f1f1f1;
    border-top: 1px solid #ededed;

    position: relative;
}

/**
 * .session-check__frame   iframe used to re-establish the user's session.
 */
.login-check__frame {
    position: absolute;
    overflow: hidden;
    border: none;
    width: 0;
    height: 0;
}
