@import "components/sidebar-filter/_sidebar-filter.scss";
@import "components/location-picker/_location-picker.scss";
@import "components/compactor-toggle/_compactor-toggle.scss";

.sidebar {
    min-width: $dashboardSidebarWidth;
    background-color: $c-grey-100;
    border-right: 1px solid $c-grey-400;
    overflow-x: hidden;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
}

%sidebar-filters {
    flex-grow: 1;
    flex-shrink: 0;
}

.sidebar-filters--active {
    @extend %sidebar-filters;
}

.sidebar-filters--inactive {
    @extend %sidebar-filters;
    opacity: 0.25;
    pointer-events: none;
}
