
.sidebar {
  min-width: 180px;
  //  padding: 20px;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

div.col-md-2.sidebar div.btn-group.btn-group-xs {
  padding-left: 10px;
}

div.col-md-2.sidebar div.btn-group.btn-group-xs button.btn.btn-default {
  width: 34px;
}

// New Sidebar

%sidebar__header-select-icon {
  &:before {
    content: " ";
    background: $i-arrow-down right no-repeat $c-grey-300;
    background-size: 12px;
    width: 13px;
    height: 12px;
    display: inline-block;
    margin-right: 5px;
  }
}

.sidebar__section {
  .sidebar__header {
    background-color: $c-grey-300;
    height: 35px;
    border-top: 1px solid #ffffff;
    .sidebar__heading {
      @extend %sidebar__header-select-icon;
      @extend %fs-data-2;
      text-transform: uppercase;
      display: inline-block;
      padding: 10px 0 10px 5px;
      margin: 0;
      cursor: pointer;
    }

    .sidebar__filter--default {
      float: right;
      padding: 0;
      border-bottom: 0;
      border-left: 1px solid #fff;
      height: 100%;
      > a {
        height: 100%;
        padding: 10px 12px;
      }
    }
  }

  .sidebar__filter-list {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
  }

  .sidebar__filter-list--closed {
    height: 0;
  }

  .sidebar__filter {
    padding: 3px 0 3px 25px;
    border-bottom: 1px solid $c-grey-300;
    &:last-child {
      border-bottom: 0;
    }
    a {
      @extend %fs-data-3;
      color: $c-text;
      padding: 5px;
      display: inline-block;
    }
    .sidebar__filter-icon {
      margin-right: 4px;
    }
  }

  .sidebar__filter--active a {
    &,
    &:focus,
    &:hover {
      color: #fff;
      background-color: $c-green;
    }
  }
}

