
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li > a {
  padding: 3px 20px 3px 30px;

}

div.col-md-2.sidebar div.btn-group.btn-group-xs {
    padding-left: 10px;
}

div.col-md-2.sidebar div.btn-group.btn-group-xs button.btn.btn-default {
    width: 34px;
}

.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}


.sidebar__location-picker {
  margin-bottom: 20px;
}
