
$dashboard-toolbar-separator: 1px solid $c-grey-400;

// Control container partial
%dashboard-toolbar__control {
  padding: 0 15px;
  margin: auto 0;
}

// Label partial
%dashboard-toolbar__label {
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;

  // bootstrap override
  margin-bottom: 0;
}

// Label partial for a select box
%dashboard-toolbar__label--select {
  @extend %dashboard-toolbar__label;

  &:after {
    content: " ";
    background: url("/assets/components/icons/down-arrow.svg") right no-repeat $c-grey-200;
    background-size: 16px;
    width: 21px;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    pointer-events: none;
  }
}


// Custom select box drop-down
%dashboard-toolbar__select {
  color: #fff;
  font-weight: normal;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 5px;
  padding-right: 26px;
  margin-left: 5px;
  background-color: $c-green;
  outline: none;
  cursor: pointer;
}


// Production office selector
.dashboard-toolbar__prod-office {
  @extend %dashboard-toolbar__control;
  border-right: $dashboard-toolbar-separator;
}

.dashboard-toolbar__prod-office-label {
  @extend %dashboard-toolbar__label--select;
}

.dashboard-toolbar__prod-office-select {
  @extend %dashboard-toolbar__select;
}


// Section selector
.dashboard-toolbar__section {
  @extend .dashboard-toolbar__prod-office; // Same styles as prod office
}

.dashboard-toolbar__section-label {
  @extend %dashboard-toolbar__label--select;
}

.dashboard-toolbar__section-select {
  @extend %dashboard-toolbar__select;
}


// Deadline filter
.dashboard-toolbar__deadline {
  margin: auto 15px;
}

.dashboard-toolbar__deadline-label {
  @extend %dashboard-toolbar__label;
}

.dashboard-toolbar__deadline-option {
  background: none;
  border: 0;
  padding: 5px;
  outline: none;
}

.dashboard-toolbar__deadline-option--active {
  @extend .dashboard-toolbar__deadline-option;
  background-color: $c-green;
  color: #fff;
}

.dashboard-toolbar__deadline-select-label {
  @extend %dashboard-toolbar__label--select;
}

.dashboard-toolbar__deadline-select {
  @extend %dashboard-toolbar__select;
  background: none;
  color: $c-text;
}

.dashboard-toolbar__deadline-select--active {
  @extend .dashboard-toolbar__deadline-select;
  background-color: $c-green;
  color: #fff;
}


// @media (max-width: 1100px) {
//   .date-filter__button--optional {
//     display: none;
//   }
// }


// Firefox select box hacks
//   - Required as firefox still shows the "down arrow" button for a select box
//     and cannot be overridden.
// Note: couldn't include this rule in partials due to :-moz-any(&) causing
//       Segmentation Fault error in lib-sass
:-moz-any(.dashboard-toolbar__prod-office-select, .dashboard-toolbar__section-select, .dashboard-toolbar__deadline-select) {
  padding-left: 1px;
  padding-right: 6px;
}
