$dashboard-toolbar-separator: 1px solid $c-grey-400;

// Toolbar segment partial
%dashboard-toolbar__segment {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    padding: 0 15px;

    border-right: $dashboard-toolbar-separator;
}

// Base Control in the toolbar
%dashboard-toolbar--control {
    line-height: 1em;
}

// Control in the toolbar
%dashboard-toolbar--control--inactive {
    @extend %dashboard-toolbar--control;

    color: $c-text;
    background-color: transparent;

    &:focus,
    &:hover {
        background-color: $c-grey-300;
    }
}

// Active control in the toolbar
%dashboard-toolbar--control--active {
    @extend %dashboard-toolbar--control;

    &,
    &:focus,
    &:hover {
        color: $c-text;
        background-color: $c-bluegrey;
    }
}

// Label partial
%dashboard-toolbar__label {
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;

    @extend %fs-data-1;

    // bootstrap override
    margin-bottom: 0;
}

// Label partial for a select box
%dashboard-toolbar__label--select {
    @extend %dashboard-toolbar__label;

    &:after {
        content: " ";
        background: $i-arrow-down right no-repeat $c-grey-200;
        background-size: 12px;
        width: 17px;
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        pointer-events: none;
    }
}

// Custom select box drop-down
%dashboard-toolbar__select {
    @extend %fs-data-3;

    font-weight: normal;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 18px;
    padding-right: 34px;
    margin-left: 5px;
    outline: none;
    cursor: pointer;
}

%dashboard-toolbar__select--inactive {
    @extend %dashboard-toolbar--control--inactive;
    @extend %dashboard-toolbar__select;
}

%dashboard-toolbar__select--active {
    @extend %dashboard-toolbar--control--active;
    @extend %dashboard-toolbar__select;
}

// Production office selector
.dashboard-toolbar__prod-office {
    @extend %dashboard-toolbar__segment;

}

.dashboard-toolbar__prod-office-label {
    @extend %dashboard-toolbar__label--select;
}

.dashboard-toolbar__prod-office-select {
    @extend %dashboard-toolbar__select--active;
}

// Section selector
.dashboard-toolbar__section {
    @extend %dashboard-toolbar__segment;
}

.dashboard-toolbar__section-label {
    @extend %dashboard-toolbar__label--select;
}

.dashboard-toolbar__section-select {
    @extend %dashboard-toolbar__select--active;
    max-width: 140px;
    text-overflow: ellipsis;
}

// Deadline filter
.dashboard-toolbar__deadline {
    @extend %dashboard-toolbar__segment;
}

.dashboard-toolbar__deadline-label {
    @extend %dashboard-toolbar__label;
    margin-right: 5px;
}

.dashboard-toolbar__deadline-option {
    @extend %dashboard-toolbar--control--inactive;
    @extend %fs-data-3;
    border: 0;
    padding: 18px;
    outline: none;
}

.dashboard-toolbar__deadline-option--active {
    @extend .dashboard-toolbar__deadline-option;
    @extend %dashboard-toolbar--control--active;
    border-bottom: 3px solid $c-highlight-blue;
}

.dashboard-toolbar__deadline-select-label {
    @extend %dashboard-toolbar__label--select;
}

.dashboard-toolbar__deadline-select {
    @extend %dashboard-toolbar__select--inactive;
}

.dashboard-toolbar__deadline-select--active {
    @extend %dashboard-toolbar__select--active;
}

.dashboard-toolbar__presence-connection-status {
    @extend %dashboard-toolbar__segment;
}

.dashboard-toolbar__presence-connection-status-label {
    @extend %dashboard-toolbar__label;
}

%dashboard-toolbar__presence-connection-status-indicator {
    @extend %dashboard-toolbar--control;
    padding: 5px;
    margin:  5px;
}

.dashboard-toolbar__presence-connection-status-indicator--connecting {
    @extend %dashboard-toolbar__presence-connection-status-indicator;
    color: $c-grey-500;
}

.dashboard-toolbar__presence-connection-status-indicator--disabled {
    @extend %dashboard-toolbar__presence-connection-status-indicator;
    color: $c-grey-500;
}

.dashboard-toolbar__presence-connection-status-indicator--error,
.dashboard-toolbar__presence-connection-status-indicator--closed {
    @extend %dashboard-toolbar__presence-connection-status-indicator;
    color: $c-red;
}

.dashboard-toolbar__presence-connection-status-indicator--ok {
    @extend %dashboard-toolbar__presence-connection-status-indicator;
    color: $c-green;
}

// TODO: Hide "Tomorrow" when on small widths
// @media (max-width: 1100px) {
//   .date-filter__button--optional {
//     display: none;
//   }
// }

// Firefox select box hacks
//   - Required as firefox still shows the "down arrow" button for a select box
//     and cannot be overridden.
// Note: couldn't include this rule in partials due to :-moz-any(&) causing
//       Segmentation Fault error in lib-sass
:-moz-any(.dashboard-toolbar__prod-office-select, .dashboard-toolbar__section-select, .dashboard-toolbar__deadline-select) {
    padding-left: 1px;
    padding-right: 2px;
}
