<div class="dashboard-toolbar__dropdown dashboard-toolbar__dropdown--slim dashboard-toolbar__dropdown--user" ng-controller="wfDashboardCreateController" wf-dropdown-toggle>
    <button class="dashboard-toolbar__dropdown-dropdown-button" ng-click="toggleDropdown()">
        <div class="dashboard-toolbar__dropdown-label">
            <div class="dashboard-toolbar__dropdown-select">
                <span class="dashboard-toolbar__dropdown-select-text">{{displayName}}</span>
            </div>
            <i class="dropdown-toolbar__dropdown-select-icon" wf-icon="arrow-down"></i>
        </div>
    </button>

    <ul class="dashboard-toolbar__dropdown dropdown-toolbar__list list-unstyled content-type-list--hidden" ng-class="{'content-type-list--hidden' : !showDropdown }">
        <li class="dropdown-toolbar__item" ng-click="resetFilters()">
            <label class="dropdown-toolbar__item-label">
                <span class="dropdown-toolbar__item-title" title="Reset all filters">Reset filters</span>
            </label>
        </li>

        <li class="dropdown-toolbar__item">
            <a class="dropdown-toolbar__item-label"  href="https://goo.gl/forms/OO7CrMt9BRobi1j63" target="_blank">
                <span class="dropdown-toolbar__item-title" title="Send Feedback">Send Feedback</span>
            </a>
        </li>

        <li class="dropdown-toolbar__item">
            <a class="dropdown-toolbar__item-label"  href="/training" target="_blank">
                <span class="dropdown-toolbar__item-title" title="">Training</span>
            </a>
        </li>

        <li class="dropdown-toolbar__item" ng-if="subscriptionsSupported">
            <span class="dropdown-toolbar__item-label" href="#" ng-if="subscriptionStatus">
                <span class="dropdown-toolbar__item-title" title="{{subscriptionStatus}}">
                    {{subscriptionStatus}}
                </span>
            </span>
            <a class="dropdown-toolbar__item-label" href="#" ng-click="registerSubscription()" ng-if="!subscriptionStatus">
                <span class="dropdown-toolbar__item-title" title="Subscribe to this page" >
                    Subscribe to this page
                </span>
            </a>
        </li>

        <li class="dropdown-toolbar__item" ng-if="subscriptionsSupported">
            <a class="dropdown-toolbar__item-label" href="/subscriptions" target="_blank">
                <span class="dropdown-toolbar__item-title" title="Manage and remove subscriptions">Manage Subscriptions</span>
            </a>
        </li>

        <li class="dropdown-toolbar__item" ng-click="logout('Would you like to logout?')">
            <label class="dropdown-toolbar__item-label">
                <span class="dropdown-toolbar__item-title" title="Logout">Sign out</span>
            </label>
        </li>
    </ul>
</div>

