<wf-sidebar-filter ng-repeat="filter in filters"></wf-sidebar-filter>

<!--Status

<div class="sidebar__section">
    <div class="sidebar__header">
        <h5 class="query sidebar__heading" data-toggle="collapse" data-target="#status" ng-click="toggleSidebarSection($event)">Status</h5>
        <div ng-class="{'sidebar__filter--active': statusIsSelected()}" class="sidebar__filter sidebar__filter--default">
            <a href="" ng-click="selectStatus(null)">All</a>
        </div>
    </div>

    <ul id="status" class="sidebar__filter-list">
        <li ng-repeat="status in statuses" ng-class="{'sidebar__filter--active': statusIsSelected(status)}" class="sidebar__filter">
            <a href="" ng-click="selectStatus(status)" >
                {{ status }}
            </a>
        </li>
    </ul>
</div>-->

<!--Content Type

<div class="sidebar__section"  ng-controller="ContentTypeFilter">
    <div class="sidebar__header">
        <h5 class="query sidebar__heading" data-toggle="collapse" data-target="#type" ng-click="toggleSidebarSection($event)">Content type</h5>
        <div ng-class="{'sidebar__filter--active': filterIsSelected(defaultFilter)}" class="sidebar__filter sidebar__filter--default">
            <a href="" ng-click="filterClick(defaultFilter)">{{defaultFilter.caption}}</a>
        </div>
    </div>

    <ul id="type" class="sidebar__filter-list">
        <li ng-repeat="cannedFilter in cannedFilters" ng-class="{'sidebar__filter--active': filterIsSelected(cannedFilter)}" class="sidebar__filter">
            <a href="" ng-click="filterClick(cannedFilter)">
                <span class="glyphicon glyphicon-{{cannedFilter.icon}}"></span>{{cannedFilter.caption}}
            </a>
        </li>
    </ul>
</div>-->

<!--State

<div class="sidebar__section">
    <div class="sidebar__header">
        <h5 class="query sidebar__heading" data-toggle="collapse" data-target="#state" ng-click="toggleSidebarSection($event)">State</h5>
        <div ng-class="{'sidebar__filter--active': stateIsSelected()}" class="sidebar__filter sidebar__filter--default">
            <a href="" ng-click="selectState(null)">All</a>
        </div>
    </div>

    <ul id="state" class="sidebar__filter-list">
        <li ng-class="{'sidebar__filter--active': stateIsSelected('draft')}" class="sidebar__filter">
            <a href="" ng-click="selectState('draft')" >Draft</a>
        </li>
        <li ng-class="{'sidebar__filter--active': stateIsSelected('published')}" class="sidebar__filter">
            <a href="" ng-click="selectState('published')">Published</a>
        </li>
    </ul>
</div>-->

<!--Flags

<div class="sidebar__section">
    <div class="sidebar__header">
        <h5 class="query sidebar__heading" data-toggle="collapse" data-target="#flags" ng-click="toggleSidebarSection($event)">Flags</h5>
        <div ng-class="{'sidebar__filter--active': ! flagActive('needsLegal')}" class="sidebar__filter sidebar__filter--default">
            <a href="" ng-click="toggleFlag('needsLegal')">All</a>
        </div>
    </div>

    <ul id="flags" class="sidebar__filter-list">
        <li ng-class="{'sidebar__filter--active': flagActive('needsLegal')}" class="sidebar__filter">
            <a href="" ng-click="toggleFlag('needsLegal')">Needs legal</a>
        </li>
    </ul>
</div>-->

<!--Creation Date

<div class="sidebar__section" ng-controller="CreatedAtFilter">
    <div class="sidebar__header">
        <h5 class="query sidebar__heading" data-toggle="collapse" data-target="#createdAt" ng-click="toggleSidebarSection($event)">Creation date</h5>
        <div ng-class="{'sidebar__filter--active': filterIsSelected(defaultFilter)}" class="sidebar__filter sidebar__filter--default">
            <a href="" ng-click="filterClick(defaultFilter)">{{defaultFilter.caption}}</a>
        </div>
    </div>

    <ul id="createdAt" class="sidebar__filter-list">
        <li ng-repeat="cannedFilter in cannedFilters" ng-class="{'sidebar__filter--active': filterIsSelected(cannedFilter)}" class="sidebar__filter">
            <a href="" ng-click="filterClick(cannedFilter)">
                {{cannedFilter.caption}}
            </a>
        </li>
    </ul>
</div>-->

<div class="sidebar__location-picker dropdown" ng-controller="wfLocationPickerController as locationPicker" is-open="locationPicker.open">
    <button class="dropdown-toggle btn btn-default btn-sm" type="button" id="locationDropdownButton">
        {{ locationPicker.locations[locationPicker.locationKey].title }}
        <span class="sidebar__location-picker-localtime">{{ locationPicker.now | wfLocaliseDateTime | wfFormatDateTime:'HH:mm' }}</span>
        <span class="caret"></span>
    </button>
    <ul class="sidebar__location-picker-menu dropdown-menu" role="menu" aria-labelledby="locationDropdownButton">
        <li ng-repeat="(key, location) in locationPicker.locations">
            <a class="sidebar__location-picker-menuitem" role="menuitem" href="" ng-click="locationPicker.locationKey = key; locationPicker.open = false" tabindex="-1">
                <span class="sidebar__location-picker-localtime--inmenu pull-right">{{ locationPicker.now | wfLocaliseDateTime:key | wfFormatDateTime:'HH:mm z' }}</span>
                {{ location.title }}
            </a>
        </li>
    </ul>
</div>
