<div class="dashboard-toolbar__prod-office{{isEnabled}}" wf-toolbar-disable-on-search>
    <form>
        <label class="dashboard-toolbar__prod-office-label">Office
            <select class="dashboard-toolbar__prod-office-select" ng-model="selectedProdOffice" ng-options="office.value as office.name for office in prodOffices">
                <option value="">All</option>
            </select>
        </label>
    </form>
</div>

<div class="dashboard-toolbar__section{{isEnabled}}" wf-toolbar-disable-on-search>
    <form>
        <label class="dashboard-toolbar__desk-label">Desk
            <select class="dashboard-toolbar__desk-select" ng-model="selectedDesk" ng-options="d as d.name for d in desks">
                <option value="">All desks</option>
            </select>
        </label>
    </form>
</div>

<div wf-toolbar-sections-dropdown  ng-model="selectedSections" sections="sections" selectedDesk="selectedDesk"></div>

<div class="dashboard-toolbar__section{{isEnabled}}" wf-toolbar-disable-on-search>
    <form>
        <label class="dashboard-toolbar__prod-office-label">Show
            <select class="dashboard-toolbar__prod-office-select" ng-model="selectedView" ng-options="view.value as view.name for view in availableContentViews">
                <option value="">All</option>
            </select>
        </label>
    </form>
</div>

<div class="dashboard-toolbar__section" ng-controller="wfToolbarFreetextController">
    <form>
        <input id="testing-dashboard-toolbar-section-search" ng-model="value" placeholder="Search" ng-change="update()" type="text" value=""/>
        <span class="dashboard-toolbar__section-search-reset" ng-click="reset()">
            <i class="content-list-item__icon--composer drawer__control-item-icon" wf-icon="cross"></i>
        </span>
    </form>
</div>
