<div class="dashboard-toolbar__dropdown dashboard-toolbar__dropdown--slim dashboard-toolbar__dropdown--create" ng-controller="wfDashboardCreateController" wf-dropdown-toggle>
    <button class="dashboard-toolbar__dropdown-dropdown-button" ng-click="toggleDropdown()">
        <div class="dashboard-toolbar__dropdown-label">
            <div class="dashboard-toolbar__dropdown-select">
                <span class="dashboard-toolbar__dropdown-select-text" testing-target="create-new">Create new</span>
            </div>
            <i class="dropdown-toolbar__dropdown-select-icon" wf-icon="arrow-down"></i>
        </div>
    </button>

    <ul class="dashboard-toolbar__dropdown dropdown-toolbar__list list-unstyled content-type-list--hidden" ng-class="{'content-type-list--hidden' : !showDropdown }">
        <li class="dropdown-toolbar__item" ng-repeat="(key, value) in options" ng-click="createContent(key)">

            <label class="dropdown-toolbar__item-label" for="{{ value }}">
                <i class="content-list-item__icon--content-type" wf-icon="{{ key }}"></i>
                <span class="dropdown-toolbar__item-title">{{ value }}</span>
            </label>
        </li>
        <li class="dropdown-toolbar__item" ng-mousedown="importContent()">
            <label class="dropdown-toolbar__item-label" for="Import">
                <span class="dropdown-toolbar__item-title">Composer import</span>
            </label>
        </li>
    </ul>
</div>

