.wf-loader {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -6%;
    display: block;
    height: 48px;
    text-align: center;
    line-height: 48px;
    width: 12%;
    border: 1px solid $c-grey-600;
    color: $c-grey-600;
    @extend %fs-data-2;
    font-weight: bold;
}

