$drawer-background-color: $c-grey-100;

$drawer-breakpoint-small: 1400px;

.content-list .content-list-drawer { // over qualified to ensure overide
    overflow: hidden;
    &::before, &::after {
        display: none;
        content: none;
        width: 0;
    }
}

.content-list-drawer * {
    box-sizing: border-box;
}

.content-list-drawer__full-width {
    vertical-align: top;
}

.content-list-drawer__container {
    background-color: $drawer-background-color;

    .content-list-drawer--hidden & {
        display: none;
    }
}

.content-list-drawer__container-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    &__info-panel {
        background-color: $c-grey-150;
        display: flex;
        flex-direction: row;
        height: 100%;
        &__furniture {
            flex: 2.5 0 0;
            margin: 0px;
            padding: 12px;
            display: flex;
            flex-direction: column;
            &__header {
                font-weight: bold;
                padding-bottom:10px;
                border-bottom:4px solid $c-grey-300;
            }
            &__body {
                display: flex;
                flex-direction: row;
                height: 100%;
                &__column {
                    flex: 1 0 0;
                }
                &__column-wide {
                    flex: 2 0 0;
                }
            }
        }
        &__management {
            flex: 1 0 0;
            margin: 0px;
            padding: 12px;
            border-left: 3px solid white;
            display: flex;
            flex-direction: column;
            &__header {
                font-weight: bold;
                padding-bottom:10px;
                border-bottom:4px solid $c-grey-300;
            }
            &__body {
                display: flex;
                flex-direction: row;
                height: 100%;
                &__column {
                    flex: 1 0 0;
                }
            }
        }
    }
    &__toolbar {
        display: flex;
        flex-direction: row;
        height: 100%;
        background-color: $c-grey-300;
        &__trash {
            flex: 1 0 0;
            height: 100%;
            padding:12px;
            border-right: 1px solid $c-grey-200;
            cursor: pointer;
            cursor: hand;
            text-align:center;
        }
        &__trash:hover {
          height: 100%;
          background-color: $c-grey-300;
        }
        &__emptyspace {
          flex: 4 0 0;
          height: 100%;
          padding:12px;
          border-right:1px solid $c-grey-300;
        }
        &__versions {
            flex: 1 0 0;
            height: 100%;
            padding:12px;
            border-left: 1px solid $c-grey-200;
            border-right: 1px solid $c-grey-200;
            cursor: pointer;
            cursor: hand;
            text-align:center;
        }
        &__versions:hover {
            height: 100%;
            background-color: $c-grey-300;
        }
        &__close {
            flex: 1 0 0;
            height: 100%;
            padding:12px;
            border-right: 1px solid $c-grey-200;
            cursor: pointer;
            cursor: hand;
            text-align:center;
        }
        &__close:hover {
            height: 100%;
            background-color: $c-grey-300;
        }
        &__incopy {
            flex: 1 0 0;
            height: 100%;
            padding:12px;
            border-right: 1px solid $c-grey-200;
            cursor: pointer;
            cursor: hand;
            text-align:center;
        }
        &__incopy:hover {
            height: 100%;
            background-color: $c-grey-300;
        }
    }
}

.drawer__control-item--restorer:hover, .drawer__control-item--incopy:hover {
    text-decoration: none;
}

.drawer__control-item--restorer, .drawer__control-item--incopy {
    color: $c-grey-700;
}

.drawer__control-item--restorer:hover, .drawer__control-item--incopy:hover {
    color: $c-grey-700;
}



.drawer__column {
    flex: 1 0 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    vertical-align: top;
    padding: 12px 0 0 12px;
}

.drawer__column--wide {
    @extend .drawer__column;
    flex: 3 0 0;
    width:100%;
}

.drawer__column--media {
    @extend .drawer__column;
    flex: 0;
    min-width: 160px + 24px;

    @media screen and (max-width: $drawer-breakpoint-small) {
        min-width: 100px + 24px;
    }
}

.drawer__column--control {
    @extend .drawer__column;
    flex: 0;
    min-width: 120px;
    border-left: 1px solid #fff;
    padding: 0;
    margin: 0 0 0 12px;
    background: $c-grey-200;
    border-top: 1px solid #fff;
    overflow: hidden;

    @media screen and (max-width: $drawer-breakpoint-small) {
        min-width: 38px;
    }
}


.drawer__control {
    border-bottom: 1px solid $c-grey-300;

    &:hover {
        background-color: $c-grey-300;
    }

    .drawer__control-item {
        height: 56px;

        &--incopy,
        &--incopy:visited,
        &--incopy:hover {
            // overwrite link styling
            color: inherit;
            text-decoration: inherit;
        }
        cursor: pointer;
        position: relative;
        padding: 14px 12px 12px 34px;
        word-wrap: break-word;
        text-decoration: none;
        color: $c-grey-700;

        .drawer__control-item-icon {
            position: absolute;
            top: 13px;
            left: 12px;
        }

        @media screen and (max-width: $drawer-breakpoint-small) {
            padding-left: 50px;
            white-space: nowrap;
        }
    }
}

.drawer__control.drawer__control--confirm {
    color: white;
    background-color: $c-red;

    .wf-icon-type--delete {
        fill: #fff;
    }
}

.drawer__icon--content-type {
    display: inline-block;
    position: relative;
    top: -1px;
    width: 14px;
    height: 14px;
    margin-right: 3px;
}

.drawer__section {
    padding: 2px 12px 12px 0;
    border: none;
    border-top: 1px solid $c-grey-300;
    &:first-child {
        border-top: 0px
    }
}

.drawer__section-mainmedia--nopreview {
    text-transform: capitalize;
}

.drawer__section-title {
    @extend %fs-data-3;
    font-weight: bold;
    display: block;
    padding: 2px 0;
}

.drawer__section-image-container {
    max-width: 160px;
    max-height: 80px;
    overflow: hidden;

    img {
        width: 100%;
    }

    @media screen and (max-width: $drawer-breakpoint-small) {
        max-width: 100px;
    }
}

.drawer__section-data-row {
    @extend %fs-data-3;
    display: block;
    word-wrap: break-word;
    .glyphicon,
    .content-list-item__icon--composer {
        margin-right: 4px;
    }

    &--empty {
        color: $c-grey-400;
    }
}

.drawer__section-data-row--warning {
    @extend .drawer__section-data-row;
    color: $c-red;
}

.drawer-warning {
    color: $c-red;
}

.drawer__section-control {
    width: 100%;
}

.drawer__section-data-row--editable {
    @extend .drawer__section-data-row;
    border-bottom: dashed 1px #333;
    display: inline;
}

.drawer__section-data-row--editable-empty {
    @extend .drawer__section-data-row--editable;
}

.drawer__section-data-row--coming-soon {
    color: $c-grey-400;
}



.editable-wrap { // TODO: Restyle editable inputs + controls
    width: 100%;

    .editable-controls { width: 100% }

    .editable-input {
        width: 100%;
        margin: 6px 0;
    }

    .editable-buttons .btn {
        margin-right: 6px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.editable-hide {
    display: none;
}

.content-list-drawer .date-time-picker__group .dropdown-menu {
    left: -170px; //Half the set width
    right: auto;
    min-width: 200px;
}

.drawer__user-image {
    height: 38px;
    width: 38px;
    background-color: $c-grey-300;
    margin-right: 2px;
    @include border-radius(50px);
    display: inline-block;

    &.drawer__user-image--placeholder {
        content: "";
    }
}

.drawer__user-name {
    display: inline-block;
}

.content-list-drawer.content-list-drawer--trashed .content-list-drawer__full-width {

    position: relative;
    overflow: hidden;

    &:before {
        display: block;
        content: "TRASHED";
        font-size: 16vw;
        position: absolute;
        z-index: 999;
        top: 0;
        height: 16vw;
        left: 0;
        width: calc(100% - 120px);
        line-height: 100%;
        font-weight: bold;
        text-align: center;
        color: transparentize($c-red, 0.8);

    }

    .drawer__column,
    .drawer__column--wide,
    .drawer__column--media {
        pointer-events: none;
    }
    .drawer__column--control {
        pointer-events: auto;
    }

    .drawer__control-item--restore {
        background-color: transparentize($c-green, 0.1);
        color: #fff;
        &:hover {
            background-color: $c-green;
        }
    }
}
