
.drawer {
    display: flex;
    width: 100%;

    // viewport minus the sidebar

    &__warning {
        color: $c-red;
    }

    .content-list-drawer--hidden & {
        display: none;
    }

    .content-list-drawer.content-list-drawer--trashed .content-list-drawer__full-width {
        position: relative;
        overflow: hidden;

        &:before {
            display: block;
            content: "TRASHED";
            font-size: 16vw;
            position: absolute;
            z-index: 999;
            top: 0;
            height: 16vw;
            left: 0;
            width: calc(100% - 120px);
            line-height: 100%;
            font-weight: bold;
            text-align: center;
            color: transparentize($c-red, 0.8);

        }

        .content-list-drawer__column{
            pointer-events: none;
        }
        
        .drawer__control-item--restore {
            background-color: transparentize($c-green, 0.1);
            color: #fff;
            &:hover {
                background-color: $c-green;
            }
        }
    }

    &__user-image {
        border-radius: 50%;
    }

    &__section {
        background-color: $c-grey-150;
        padding: 12px;
        flex: 1 0 0;

        &:not(:last-child) {
            margin-right: 3px;
        }

        &--closed {
            flex: initial;
            padding: 0;
        }

        &--wide {
            flex: 2.5 0 0;
            
            &.drawer__section--closed {
                flex: initial;
            }
        }
    }

    
    &__header {
        font-weight: bold;
        padding-bottom:10px;
        border-bottom:4px solid $c-grey-300;

        &--closed {
            writing-mode: vertical-lr;
            padding: 32px 12px 12px;
            border: 0;
            position: relative;
            // gross, but makes the header the correct height;
            height: calc(100% - 44px);

            &:hover {
                cursor: pointer;
                background-color: $c-grey-170;
            }

            .drawer__icon {
                position: absolute;
                top: 10px;
                margin: 0;        
            }
        }
    }

    &__inner {
        display: flex;
        width: 100%;
        font-size: 13px;
        font-size: 1.3rem;
        line-height: 16px;
        line-height: 1.6rem;

        &--closed {
            display: none;
        }
    }

    &__column {
        list-style: none;
        margin: 0;
        padding: 12px 0 0 12px;
        flex: 1 0 0;
    }
    
    &__item {
        padding: 2px 12px 12px 0;

        &:not(:last-child) {
            border-bottom: 1px solid $c-grey-300;
        }

        &-title {
            font-weight: bold;
            padding: 2px 0;
            margin: 0;
        }
        
        &-content {
            display: block;
            word-wrap: break-word;
            color: $c-text;

            &--warning {
                color: $c-red;
            }

            &--empty {
                color: $c-grey-400;
            }
        }
    }

    &__mainmedia {

        &--nopreview {
            text-transform: capitalize;
        }
    }

    &__image-container {
        max-width: 160px;
        max-height: 80px;
        overflow: hidden;

        @media screen and (max-width: 1400px) {
            max-width: 100px;
        }
    }


    &__image {
        width: 100%;
    }

    &__icon {
        display: inline-block;
        position: relative;
        top: -1px;
        width: 14px;
        height: 14px;
        margin-right: 3px;
    }

    &__toolbar {
        display: flex;
        flex-direction: row;
        height: 100%;
        background-color: $c-grey-300;

        .content-list-drawer--hidden & {
            display: none;
        }

        &-item {
            flex: 1 0 0;
            height: 100%;
            padding:12px;
            cursor: pointer;
            cursor: hand;
            text-align:center;

            &--spacer {
                flex: 4 0 0;
            }

            &:hover {
                height: 100%;
                background-color: $c-grey-300;
            }

            &:not(:last-child) {
                border-right: 1px solid $c-grey-200;
            }
        }

        &-icon {
            margin-right: 4px;
        }
    }
}

