<tr class="content-list-drawer content-list-drawer--hidden">
    <td colspan="100" class="content-list-drawer__full-width">

        <div class="content-list-drawer__container"><!-- div for animation -->
            <div class="content-list-drawer__container-inner"><!-- div for padding/spacing -->

                <ul class="drawer__column--wide"><!--Working titles and broad information-->
                    <li class="drawer__section">
                        <span class="drawer__section-title">Working title</span>
                        <wf-editable class="drawer__section-data-row" ng-model="contentItem.workingTitle" wf-editable-on-update="onBeforeSaveWorkingTitle(newValue)" wf-editable-required="true">
                            {{ contentItem.workingTitle || '-' }}
                        </wf-editable>
                    </li>
                    <li class="drawer__section">
                        <span class="drawer__section-title">Note</span>
                        <wf-editable class="drawer__section-data-row" wf-editable-type="textarea" ng-model="contentItem.note" wf-editable-on-update="onBeforeSaveNote(newValue)" wf-editable-maxlength="maxNoteLength">
                            {{ contentItem.note || 'Add note' }}
                        </wf-editable>
                    </li>

                    <li class="drawer__section">
                        <span class="drawer__section-title">Headline</span>
                        <span class="drawer__section-data-row">{{ contentItem.headline || '-' }}</span>
                    </li>
                    <li class="drawer__section">
                        <span class="drawer__section-title">Standfirst</span>
                    <span class="drawer__section-data-row" ng-class="{'drawer__section-data-row--empty': !contentItem.standfirst}">
                        {{ contentItem.standfirst || "None" }}
                    </span>
                    </li>

                    <li class="drawer__section">
                        <span class="drawer__section-title">URL</span>
                    <span class="drawer__section-data-row" ng-if="contentItem.path">
                        <a href="{{ contentItem.links.live || contentItem.links.preview || contentItem.links.composer }}">{{
                            contentItem.path }}</a>
                    </span>
                    </li>
                </ul>


                <ul class="drawer__column"><!--Dates, times and importance things-->
                    <li class="drawer__section">
                        <span class="drawer__section-title">Priority</span>
                        <select class="drawer__section-control" ng-model="contentItem.priority" ng-options="p.value as p.name for p in contentList.priorities" wf-content-item-update-action="priority"></select>
                    </li>
                    <li class="drawer__section">
                        <span class="drawer__section-title">Production deadline</span>

                            <span ng-hide="dateTimeEdit" ng-click="dateTimeEdit = true" ng-class="{ 'drawer__section-data-row--editable': contentItem.item.due, 'drawer__section-data-row--editable-empty': !contentItem.item.due }" title="{{ (contentItem.item.due | wfLocaliseDateTime:$root.globalSettings.location | wfFormatDateTime:'long') || '' }}">
                                {{ (contentItem.item.due | wfLocaliseDateTime:$root.globalSettings.location | wfFormatDateTime) || 'Add deadline' }}
                            </span>

                        <form ng-show="dateTimeEdit" ng-submit="dateTimeEdit = false">
                            <div wf-date-time-picker wf-update-on="enter" ng-model="currentDatePickerValue" wf-on-cancel="dateTimeEdit = false; revertDeadline()" wf-cancel-on="blur" wf-on-submit="updateDeadline(); dateTimeEdit = false;" wf-small="true" help-text="true"></div>
                        </form>

                    </li>
                    <li class="drawer__section">
                        <span class="drawer__section-title">Scheduled</span>
                        <span class="drawer__section-data-row">
                            {{ (contentItem.launchScheduleDetails.scheduledLaunchDate | wfLocaliseDateTime | wfFormatDateTime) || "-" }}
                        </span>
                    </li>
                    <li class="drawer__section">
                        <span class="drawer__section-title">Embargoed</span>
                        <span class="drawer__section-data-row">
                            {{ contentItem.lifecycleStateSupl || (contentItem.lifecycleStateSuplDate | wfLocaliseDateTime:$root.globalSettings.location | wfFormatDateTime:'ddd DD MMM HH:mm') || "-" }}
                        </span>
                    </li>
                    <li class="drawer__section">
                        <span class="drawer__section-title">Last modified</span>
                        <span class="drawer__section-data-row">{{ (contentItem.lastModified | wfLocaliseDateTime:$root.globalSettings.location | wfFormatDateTime) || "-" }}</span>
                        <span class="drawer__section-data-row" ng-show="contentItem.lastModifiedBy">by {{ contentItem.lastModifiedBy }}</span>
                    </li>
                    <li class="drawer__section">
                        <span class="drawer__section-title">First published</span>
                        <span class="drawer__section-data-row">{{ (contentItem.firstPublished | wfLocaliseDateTime:$root.globalSettings.location | wfFormatDateTime) || "-" }}</span>
                    </li>
                    <!--<li class="drawer__section">-->
                        <!--<span class="drawer__section-title">Last published</span>-->
                        <!--<span class="drawer__section-data-row">{{ contentItem.publishedTime || '-' }}</span>-->
                    <!--</li>-->
                </ul>

                <ul class="drawer__column"><!--Status, switches and assignment-->
                    <li class="drawer__section">
                        <span class="drawer__section-title">Status</span>
                        <select class="drawer__section-control" ng-model="contentItem.status" ng-options="status.value as status.label for status in contentItem.statusValues" wf-content-item-update-action="status">
                        </select>
                    </li>
                    <li class="drawer__section">
                        <span class="drawer__section-title">State</span>
                        <span class="drawer__section-data-row">{{ contentItem.state || '-' }}</span>
                    </li>

                    <li class="drawer__section">
                        <span class="drawer__section-title">In use by</span>
                        <wf-presence-indicators presence-id="contentItem.composerId" in-drawer="true">
                        </wf-presence-indicators>
                    </li>
                    <li class="drawer__section" ng-switch="!!editingAssignee">
                        <div ng-switch-when="false">
                            <span class="drawer__section-title">Assigned to</span>
                            <img class="drawer__user-image" ng-if="assigneeImage.length > 1" ng-class="{ 'drawer__user-image--placeholder': !assigneeImage }" ng-src="{{ assigneeImage }}" height="38" width="38" alt="contentItem.item.assignee"/>
                            <span class="drawer__section-data-row--editable drawer__user-name" ng-click="toggleAssigneeEditing();" onbeforesave="onBeforeSaveAssignee($data)">{{ contentItem.assignee || "None" }}</span>
                        </div>
                        <div ng-switch-when="true">
                            <punters stub="contentItem" indrawer="true"></punters>
                        </div>
                    </li>

                    <li class="drawer__section">
                        <span class="drawer__section-title">Comments</span>
                        <span class="drawer__section-data-row">{{ contentItem.commentsTitle }}</span>
                    </li>

                    <li class="drawer__section">
                        <span class="drawer__section-title">InCopy</span>
                        <span class="drawer__section-data-row">{{ contentItem.incopyTitle }}</span>
                        <span class="drawer__section-data-row" ng-if="contentItem.isOwnedByInCopy"><i>Locked</i></span>
                    </li>
                    <li class="drawer__section">
                        <span class="drawer__section-title">Optimised For Web</span>
                        <span class="drawer__section-data-row" ng-if="contentItem.optimisedForWeb">Optimised</span>
                        <span class="drawer__section-data-row" ng-if="!contentItem.optimisedForWeb">Not Optimised</span>
                    </li>
                </ul>

                <ul class="drawer__column"><!--Meta-->
                    <li class="drawer__section">
                        <span class="drawer__section-title">Section</span>
                        <select class="drawer__section-control" ng-click="$event.stopPropagation()" ng-model="contentItem.section" ng-options="section.name for section in contentList.sections" wf-content-item-update-action="section"></select>
                    </li>
                    <li class="drawer__section">
                        <span class="drawer__section-title">Legal status</span>
                        <select class="drawer__section-control" ng-model="contentItem.needsLegal" ng-options="ls.value as ls.name for ls in legalValues" wf-content-item-update-action="needsLegal"></select>
                    </li>

                    <li class="drawer__section">
                        <span class="drawer__section-title">Office</span>
                        <select class="drawer__section-control" ng-model="contentItem.office" ng-change="updateOffice(contentItem.office)" ng-options="office.value as office.name for office in prodOffices" wf-content-item-update-action="prodOffice"></select>
                    </li>

                    <li class="drawer__section">
                        <span class="drawer__section-title">Content type</span>
                        <span class="drawer__section-data-row"><i class="drawer__icon--content-type" wf-icon="{{ contentItem.contentType }}"/> {{ contentItem.contentTypeTitle }}</span>
                    </li>

                    <!-- Placeholders for upcoming features

                    <li class="drawer__section">
                        <span class="drawer__section-title">Guardian Witness</span>
                        <span class="drawer__section-data-row drawer__section-data-row--coming-soon">Coming soon...</span>
                    </li>

                    <li class="drawer__section">
                        <span class="drawer__section-title">Feature</span>
                        <span class="drawer__section-data-row drawer__section-data-row--coming-soon">Coming soon...</span>
                    </li>

                    -->

                    <li class="drawer__section" ng-show="contentItem.contentType == 'article'">
                        <span class="drawer__section-title">Word count</span>
                        <span class="drawer__section-control">{{ contentItem.wordCount }} </span>
                    </li>
                </ul>


                <ul class="drawer__column--media">
                    <li class="drawer__section drawer__section-mainmedia"
                        ng-class="{'drawer__section-mainmedia--nopreview': contentItem.mainMediaNoPreview}">

                        <span class="drawer__section-title">Main media</span>

                        <div ng-if="contentItem.mainMediaType == 'image'" class="drawer__section-image-container">
                            <img ng-src="{{ contentItem.mainMediaUrl}}" alt=""/>
                        </div>
                        <div ng-if="contentItem.mainMediaNoPreview" class="drawer__section-image-container">
                            {{contentItem.mainMediaType}}
                        </div>
                        <div ng-if="!contentItem.mainMediaType" class="drawer__section-data-row drawer__section-data-row--empty">
                            None
                        </div>
                        </span>
                    </li>
                    <li class="drawer__section">
                        <span class="drawer__section-title">Caption</span>
                        <span class="drawer__section-data-row" ng-class="{'drawer__section-data-row--empty': !contentItem.mainMediaCaption}">
                            {{ contentItem.mainMediaCaption || "None" }}
                        </span>
                    </li>
                    <li class="drawer__section">
                        <span class="drawer__section-title">Alt text</span>
                        <span class="drawer__section-data-row" ng-class="{'drawer__section-data-row--empty': !contentItem.mainMediaAltText}">
                            {{ contentItem.mainMediaAltText || "None" }}
                        </span>
                    </li>
                </ul>

                <ul class="drawer__column--media">
                    <li class="drawer__section">
                        <span class="drawer__section-title">Trail picture</span>

                        <div ng-if="contentItem.trailImageUrl" class="drawer__section-image-container">
                            <img ng-src="{{ contentItem.trailImageUrl }}" alt=""/>
                        </div>
                        <div ng-if="!contentItem.trailImageUrl" class="drawer__section-data-row drawer__section-data-row--empty">
                            None
                        </div>
                    </li>
                    <li class="drawer__section">
                        <span class="drawer__section-title">Trail text</span>
                        <span class="drawer__section-data-row" ng-class="{'drawer__section-data-row--empty': !contentItem.trailtext}">
                            {{ contentItem.trailtext || "None" }}
                        </span>
                    </li>
                </ul>


                <ul class="drawer__column--control">
                    <li class="drawer__control">
                        <span class="drawer__section-data-row drawer__control-item" ng-click="contentListDrawerController.hide()" title="Close details">
                            <i class="content-list-item__icon--composer drawer__control-item-icon" wf-icon="cross"></i>
                            Close details
                        </span>
                    </li>
                    <li class="drawer__control" ng-class="{'drawer__control--confirm': awaitingDeleteConfirmation}">
                    <span class="drawer__section-data-row drawer__control-item drawer__control-item--delete" ng-click="deleteContentItem()" title="Delete from Workflow">
                        <i class="content-list-item__icon--composer drawer__control-item-icon" wf-icon="delete"></i>
                            {{ awaitingDeleteConfirmation ? 'Delete' : 'Delete from Workflow' }}
                        </span>
                    </li>
                    <li class="drawer__control">
                        <a href="{{ composerRestorerUrl }}" target="_blank" class="drawer__section-data-row drawer__control-item drawer__control-item--restorer" title="View versions">
                            <i class="content-list-item__icon--composer drawer__control-item-icon" wf-icon="view-versions"></i>
                            View versions
                        </a>
                    </li>
                    <li class="drawer__control" ng-show="incopyExportEnabled">
                        <a href="{{ incopyExportUrl }}" class="drawer__section-data-row drawer__control-item drawer__control-item--incopy" title="{{ contentItem.linkedWithIncopy ? 'Resend' : 'Send' }} to InCopy">
                            <i class="content-list-item__icon--composer drawer__control-item-icon" wf-icon="incopy"></i>
                            {{ contentItem.linkedWithIncopy ? "Resend" : "Send" }} to InCopy
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </td>
</tr>
