.error-display {
    background-color: #F6D7D2;
    border-bottom: 1px solid #BDBDBD;
    padding: 10px;
    text-align: center;
    position: fixed;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 10000;
    width: 100%;

    &--show {
        display: block;
    }
}
