.error-display {
    background-color: #F6D7D2;
    border-bottom: 1px solid #BDBDBD;
    padding: 10px;
    text-align: center;
    position: fixed;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    opacity: 0;
    z-index: 10000;
    width: 100%;

    transition: opacity ease 1s;

    &--show {
        opacity: 1;
    }
}

.error-display__link {
    text-decoration: underline;
}

.error-display__close {
    width: 14px;
    height: 14px;
    position: absolute;
    right: 10px;
    border: none;
    padding: 0;
    background: none;
}
