@import "layouts/plan/mixins";

.drop-zones__container {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparentize($c-grey-500, 0.6);

    display: none;

    &--show {
        display: block;
    }
}

@mixin verticallyCenteredText {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -7px;
    height: 14px;
    line-height: 14px;
    width: 100%;
}

@mixin insetBorder {

    $inset: 3px;

    &:before {
        content: " ";
        position: absolute;
        top: $inset;
        left: $inset;
        right: $inset;
        bottom: $inset;
        border: 3px dashed $c-grey-700;
        @include border-radius(4px);
    }
}

.drop-zones__list h2 {
    position: absolute;
    padding: 16px;
    background-color: #fff;
    height: 40%;
    width: 80%;
    top: 50%;
    left: 50%;
    margin: -50% 0 0 -40%;
    text-align: center;
    @include border-radius(4px);

    @include insetBorder();

    > span {
        @include verticallyCenteredText();
    }

    &.dz--hover {
        background-color: lighten($c-composer-blue, 0.5);
    }
}

.drop-zones__list ul {
    padding: 12px;
    position: absolute;
    height: 80%;
    width: 40%;
    top: 10%;
    left: 50%;
    margin-left: -20%;
    background: #fff;
    display: flex;
    flex-direction: column;
    @include border-radius(4px);

    @include insetBorder();

    li {
        flex: 1 1 auto;
        border: 1px solid $c-grey-500;
        margin: 0 0 12px 0;
        position: relative;
        background-color: #fff;
        transition: background-color 0.2s ease-in-out;
        font-weight: bold;
        text-align: center;
        @include border-radius(4px);

        > span {
            @include verticallyCenteredText();
        }

        &:last-child {
            margin: 0;
        }

        &.dz--hover {
            background-color: lighten($c-composer-blue, 0.5);
        }
    }
}
