// Styles for Individual content item rows

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} { @content }
    @keyframes #{$name} { @content }
}


.content-list-item {
    .content-list-item__icon--inactive {
      cursor: default;
    }

    border-bottom: 1px solid $c-grey-200;
    cursor: pointer;
    vertical-align: baseline;

    &--selected {
        background-color: $c-grey-200;
    }

    &:hover {
        background-color: $c-grey-150;
    }

    &__notifier {
        width: 4px;
        padding: 0;
    }

    &--published {
        background: $c-light-green;
        .content-list-item__notifier {
            background: $c-green;
        }
    }
    &--takendown {
        background: $c-grey-300;
        .content-list-item__notifier {
            background: repeating-linear-gradient( 45deg, $c-grey-300, $c-grey-300 3px, $c-grey-600 3px, $c-grey-600 6px)
        }
    }

    &__icon {
        &--priority,
        &--comments,
        &--main-image,
        &--content-type,
        &--composer,
        &--preview,
        &--live,
        &--ophan,
        &--incopy {
            display: inline-block;
            width: $content-list-icon-size;
            height: $content-list-icon-size;
        }

        &--assignee,
        &--presence {
            display: inline-block;
            border-radius: 50%;
            width: 22px;
            height: 22px;
            line-height: 22px;
            text-align: center;
            text-transform: uppercase;
        }

        &--assignee {
            background-color: $c-grey-300;
        }

        &--presence {
            background-color: $c-presence-purple;
            color: #fff;

            &:hover {
                color: #fff;
                text-decoration: none;
            }
        }

        // Production office icons
        &--office {
            &-au,
            &-us,
            &-uk {
                line-height: 16px;
                display: inline-block;
                text-align: center;
                width: 22px;
            }

            &-au {
                background-color: #FCD116;
                color: #008751;
            }

            &-us {
                background-color: #B22234;
                color: #fff;
            }

            &-uk {
                background-color: #002366;
                color: #fff;
            }
        }
    }

    &__headline-toggle {
        float: left;
        color: $c-grey-400;
        font-weight: normal;
        margin-right: 5px;

        // bootstrap override, TODO remove
        &[title] {
            border: none;
            cursor: pointer;
        }

        &::after {
            content: ':';
        }
    }

    &__field {
        &--priority,
        &--comments,
        &--main-image,
        &--content-type,
        &--working-title,
        &--headline,
        &--office,
        &--legal,
        &--status,
        &--composer,
        &--preview,
        &--live,
        &--ophan,
        &--deadline,
        &--created,
        &--section,
        &--incopy,
        &--wordcount,
        &--needsLegal {
            @extend %fs-data-3;
            @extend %content-list__field-padding;
        }

        // smaller font size for assignee & presence
        &--assignee,
        &--presence {
            @extend %fs-data-2;
        }

        // icon fields
        &--priority,
        &--comments,
        &--main-image,
        &--content-type,
        &--composer,
        &--preview,
        &--live,
        &--ophan,
        &--incopy {
            padding: 10px 5px;
            width: $content-list-icon-size;
        }

        &--presence,
        &--assignee,
        &--office {
            padding: 5px 5px;
            text-align: center;
        }

        &--presence,
        &--assignee {
            min-width: 28px;
        }

        &--office {
            width: 30px;
        }

        &--presence {
            position: relative;
        }

        &--deadline,
        &--created,
        &--legal {
            width: 100px;
        }

        &--status {
            width: 80px;
        }

        &--section {
            width: 80px;
            padding: 5px 10px;
        }

        &--deadline,
        &--created {
            white-space: nowrap;
        }

        &--notes {
            @extend %fs-data-1;
            padding: 2px 10px;
            width: 120px;
        }

        &--wordcount {
            width: 30px;
            text-align: center;
        }

        &-supl--published-state {
            @extend %fs-data-1;
            color: $c-grey-600;
            white-space: nowrap;
        }

        // First column
        &--priority {
            padding-left: 10px;
        }

        // Last column
        &--published-state {
            width: 80px;
            padding: 5px 10px;
            @extend %fs-data-3;
        }
    }
}

// Animations

.content-list.content-list--animations-enabled {
    .content-list-item {
        &.ng-enter {
            -webkit-transform: translate3d(0, 0, 0);
            -webkit-animation: content-list-item--enter-sequence 2s ease-out;
            animation: content-list-item--enter-sequence 2s ease-out;
        }

        &.ng-leave {
            -webkit-transform: translate3d(0, 0, 0);
            -webkit-animation: content-list-item--leave-sequence 0.5s ease-out;
            animation: content-list-item--leave-sequence 0.5s ease-out;
        }
    }
}

// Transition keyframes for changing content in the list
@include keyframes(content-list-item--enter-sequence) {
    // TODO: use proper pallete colours
    0% {
        background: #fcf8e3;
        opacity: 0;
    }
    50% {
        background: #fcf8e3;
        opacity: 1;
    }
}

@include keyframes(content-list-item--leave-sequence) {
    to {
        opacity: 0;
    }
}

// Compact layout
.content-list--compact {
    .content-list-item__field--working-title,
    .content-list-item__field--notes {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 200px;
    }

    .content-list-item__field--section {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 80px;
    }

    .content-list-item__field {
        &--priority,
        &--comments,
        &--main-image,
        &--content-type,
        &--working-title,
        &--headline,
        &--office,
        &--legal,
        &--status,
        &--composer,
        &--preview,
        &--live,
        &--ophan,
        &--deadline,
        &--created,
        &--section,
        &--incopy,
        &--published-state,
        &--wordcount {
            @extend %fs-data-2;
        }

        &--published-state {
            width: 148px;
            padding: $compact-display-td-padding;
        }

        &-primary--published-state {
            display: inline;
        }

        &-supl--published-state {
            display: inline;
        }
    }

    .content-list-item__field--presence,
    .content-list-item__field--assignee,
    .content-list-item__field--office {
        padding: $compact-display-td-padding;
    }

    .content-list-item__icon--presence,
    .content-list-item__icon--assignee {
        @extend %fs-data-1;
        font-size: 9px;
        width: 16px;
        height: 16px;
        line-height: 16px;
        display: inline-block;
    }
}
