<tr class="content-list-item" ng-click="selectItem(contentItem)"
    ng-class="
    {
        'content-list-item--selected': contentList.selectedItem === contentItem,
        'content-list-item--published': contentItem.isPublished && !contentItem.isTakenDown,
        'content-list-item--takendown': contentItem.isTakenDown
    }">
    <td class="content-list-item__notifier"></td>
    <td class="content-list-item__field--priority" title="Priority: {{ contentItem.priority | getPriorityString }}">
        <i class="content-list-item__icon--priority" wf-icon="priority-{{ contentItem.priority | getPriorityString }}" ng-show="contentItem.priority !== 0"/>
    </td>
    <td class="content-list-item__field--content-type" title="{{ contentItem.contentTypeTitle }}">
        <i class="content-list-item__icon--content-type" wf-icon="{{ contentItem.contentType }}"/>
    </td>
    <th class="content-list-item__field--{{ contentList.showHeadline ? 'headline' : 'working-title' }}" scope="row" title="Working title: {{ contentItem.workingTitle }}{{ contentItem.headline ? '&#10;&#10;Headline: ' + contentItem.headline : '' }}">
        <abbr class="content-list-item__headline-toggle" title="{{ contentList.showHeadline && contentItem.headline ? 'Headline' : 'Working title'}}. (Click to toggle Headlines)" ng-click="contentList.showHeadline = !contentList.showHeadline; $event.stopPropagation()">{{
            contentList.showHeadline && contentItem.headline ? 'HL' : 'WT' }}</abbr>
        <a ng-href="{{ contentItem.links.composer }}" ng-click="contentList.editItem(contentItem); $event.stopPropagation()" target="_blank">{{
            contentList.showHeadline && contentItem.headline ? contentItem.headline : contentItem.workingTitle }}</a>
    </th>
    <td class="content-list-item__field--comments" title="Comments: {{ contentItem.commentsTitle }}">
        <i class="content-list-item__icon--comments" wf-icon="comments" wf-icon-active="contentItem.hasComments"/>
    </td>
    <td class="content-list-item__field--main-image" title="{{ contentItem.mainImageTitle }}">
        <i class="content-list-item__icon--main-image" wf-icon="main-image" wf-icon-active="contentItem.hasMainImage"/>
    </td>
    <td class="content-list-item__field--incopy" title="{{ contentItem.incopyTitle }}">
        <i class="content-list-item__icon--incopy" wf-icon="incopy" wf-icon-active="contentItem.linkedWithIncopy"/>
    </td>
    <td class="content-list-item__field--presence">
        <wf-presence-indicators presence-id="contentItem.composerId">
        </wf-presence-indicators>
    </td>
    <td class="content-list-item__field--assignee" title="Assignee: {{ contentItem.assigneeFull }}">
        <span class="content-list-item__icon--assignee" ng-if="contentItem.assignee">{{ contentItem.assignee }}</span>
    </td>
    <td class="content-list-item__field--office" title="Production Office: {{ contentItem.officeTitle }}">
        <span class="content-list-item__icon--office-{{ contentItem.office.toLowerCase() }}">{{ contentItem.office }}</span>
    </td>
    <td class="content-list-item__field--deadline" title="Deadline: {{ contentItem.deadline | wfLocaliseDateTime | wfFormatDateTime:'long' }}">
        {{ contentItem.deadline | wfLocaliseDateTime | wfFormatDateTime:'ddd DD MMM HH:mm' }}
    </td>
    <td class="content-list-item__field--section" title="Section">
        {{ contentItem.section.name || 'No section' }}
    </td>
    <td class="content-list-item__field--status" title="Status">
        <select ng-click="$event.stopPropagation()" ng-model="contentItem.status" ng-options="status.value as status.label for status in contentItem.statusValues" wf-content-item-update-action="status">
        </select>
    </td>
    <td class="content-list-item__field--notes" title="Note: {{ contentItem.note || 'none' }}">{{ contentItem.note }}</td>
    <td class="content-list-item__field--composer">
        <a href="{{ contentItem.links.composer }}" title="View in Composer (opens in new window)" target="_blank" ng-if="contentItem.links.composer" ng-click="$event.stopPropagation()">
            <i class="content-list-item__icon--composer" wf-icon="composer"></i>
        </a>
                <span ng-if="!contentItem.links.composer" title="View in Composer (unavailable)" class="content-list-item__icon--inactive">
                    <i class="content-list-item__icon--composer" wf-icon="composer" wf-icon-active="false"></i>
                </span>
    </td>
    <td class="content-list-item__field--preview">
        <a href="{{ contentItem.links.preview }}" title="Preview (opens in new window)" target="_blank" ng-if="contentItem.links.preview" ng-click="$event.stopPropagation()">
            <i class="content-list-item__icon--preview" wf-icon="preview"></i>
        </a>
                <span ng-if="!contentItem.links.preview" title="Preview (unavailable)" class="content-list-item__icon--inactive">
                    <i class="content-list-item__icon--preview" wf-icon="preview" wf-icon-active="false"></i>
                </span>
    </td>
    <td class="content-list-item__field--live">
        <a href="{{ contentItem.links.live }}" title="View on Live site (opens in new window)" target="_blank" ng-if="contentItem.links.live" ng-click="$event.stopPropagation()">
            <i class="content-list-item__icon--live" wf-icon="live-site"></i>
        </a>
                <span ng-if="!contentItem.links.live" title="View on Live site (unavailable)" class="content-list-item__icon--inactive">
                    <i class="content-list-item__icon--live" wf-icon="live-site" wf-icon-active="false"></i>
                </span>
    </td>
    <td class="content-list-item__field--ophan">
        <a href="{{ contentItem.links.ophan }}" title="View in Ophan (opens in new window)" target="_blank" ng-if="contentItem.links.ophan"  ng-click="$event.stopPropagation()">
            <i class="content-list-item__icon--ophan" wf-icon="ophan"></i>
        </a>
                <span ng-if="!contentItem.links.ophan" title="View in Ophan (unavailable)" class="content-list-item__icon--inactive">
                    <i class="content-list-item__icon--ophan" wf-icon="ophan" wf-icon-active="false"></i>
                </span>
    </td>
    <td class="content-list-item__field--published-state" title="Published state: {{ contentItem.publishedState || 'Draft' }}{{ contentItem.publishedTime && ' on ' + (contentItem.publishedTime | wfLocaliseDateTime | wfFormatDateTime:'long') }}">
        <div class="content-list-item__field-primary--published-state">{{ contentItem.lifecycleState }}</div>
        <div class="content-list-item__field-supl--published-state">
            {{ contentItem.lifecycleStateSupl }}
        </div>
    </td>
    <td class="content-list-item__notifier"></td>
</tr>
