/**
 * Content-list styles.
 *
 * Shows all content items in a table.
 */

.content-list {
    width: 100%;
}

.content-list-head__row {
    border-top: 5px solid #fff;
    background-color: $c-grey-200;
}

.content-list-head__heading {
    @extend %fs-data-3;

    font-weight: bold;
    text-align: left;
    line-height: 28px;
}

.content-list-head__heading--group,
.content-list-head__heading--presence,
.content-list-head__heading--assigned {
    @extend .content-list-head__heading;
}

.content-list__group-heading-row {
    background-color: $c-grey-200;
    border-top: 1px solid $c-grey-300;
}

.content-list__group-heading-link {
    background-color: $c-grey-300;
    color: inherit;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 10px;
    line-height: 28px;
    padding: 0 10px;
}

.content-list__group-heading-link:hover {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.content-list__group-heading-count {
    font-weight: normal;
    margin-left: 0.5em;
}


%content-list-item__icon {
    width: 20px;
}

.content-list-item__priority--normal {
    @extend %content-list-item__icon;
}

.content-list-item__comments--disabled {
    @extend %content-list-item__icon;
}

.content-list-item__main-image-- {
    @extend %content-list-item__icon;
}

.content-list-item__content-type-article {
    @extend %content-list-item__icon;
}

/*
// TODO: BEMify properly
td.wf-table-heading {
    font-weight: bold;
}

.content-list__head {
    color: #fff;
    background-color: #666;
    font-size: 75%;
    letter-spacing: 0.5px;
}

tr.wf-table-grouping td {
    color: black;
    background-color: #F5F5F5;
    font-size: 75%;
    letter-spacing: 0.5px;
}

tr td {
    font-size: 90%;
}

.content-list__item-row-note {
    font-size: 80%;
    font-style: italic;
    max-width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.content-list__item-published {
    width: 85px;
}

.content-list__item-row--selected {
    background-color: #f9f9f9;
}

.content-list__item-row.ng-enter {
    -webkit-animation: content-list__item-row--enter-sequence 2s ease-out;
    animation: content-list__item-row--enter-sequence 2s ease-out;
}

@-webkit-keyframes content-list__item-row--enter-sequence {
    0% {
        background: #fcf8e3;
        opacity: 0;
    }
    50% {
        background: #fcf8e3;
        opacity: 1;
    }
}

@keyframes content-list__item-row--enter-sequence {
    0% {
        background: #fcf8e3;
        opacity: 0;
    }
    50% {
        background: #fcf8e3;
        opacity: 1;
    }
}

.content-list__item-row.ng-leave {
    -webkit-animation: content-list__item-row--leave-sequence 0.5s ease-out;
    animation: content-list__item-row--leave-sequence 0.5s ease-out;
}

@-webkit-keyframes content-list__item-row--leave-sequence {
    to {
        opacity: 0;
    }
}

@keyframes content-list__item-row--leave-sequence {
    to {
        opacity: 0;
    }
}

.status-cell {
    background-color: #F0F8FF;
}
*/
