@import "layouts/global/mixins";

 /**
 * Content-list styles.
 *
 * Shows all content items in a table.
 */

$content-list-icon-size: 14px;
$compact-display-td-padding: 2px 5px;

// Global padding for cells
%content-list__field-padding {
    padding: 10px 5px;
}

    // Compact layout
    .content-list--compact %content-list__field-padding {
        padding: $compact-display-td-padding;
    }

 .content-list, .content-list * {
    box-sizing: content-box;
}

.content-list {
    width: 100%;
    border: 5px 5px 5px 0px solid $c-grey-100;

    // Table header
    &-head {
        &__row {
        }

        &__heading {

            &--titles,
            &--group,
            &--office,
            &--deadline,
            &--created,
            &--section,
            &--legal,
            &--status,
            &--notes,
            &--links,
            &--published-state,
            &--wordcount {
                padding: 15px 10px 5px 5px;
                @extend %fs-data-2;

                font-weight: bold;
                text-align: left;
            }

            &--presence,
            &--assignee {
                text-align: center;
                padding: 5px 5px 5px 0;
            }

            &-icon {
                &--presence,
                &--assignee {
                    display: inline-block;
                }

                &--presence {
                    width: 18px;
                    height: 18px;
                    margin-top: 3px;
                }
                &--assignee {
                    width: $content-list-icon-size;
                    height: $content-list-icon-size;
                    margin-top: 3px;
                }
            }

            &--notifier {
                padding: 0;
                width: 4px;
            }

            &--wordcount {
                width: 40px;
            }
        }
    }


    // Group headings in the table
    &__group-heading {

        &-row {
            background-color:  $c-bluegrey;
            border-top: 1px solid $c-grey-300;
            border-bottom: 1px solid #ffffff;
        }

        &-link {
            @extend %fs-data-3;
            text-transform: uppercase;
            background-color: $c-bluegrey;
            color: $c-grey-700;
            font-weight: bold;
            display: inline-block;
            line-height: 20px;
            padding: 0 10px;
            min-width: 80px;

            &:hover {
                color: $c-grey-700;
                text-decoration: none;
            }
        }

        &-count {
            font-weight: normal;
            margin-left: 0.5em;
        }
    }


    &__button {
        &-icon {
            display: inline-block;
            width: 9px;
            height: 9px;
            margin-right: 5px;
        }

        &--new,
        &--import {
            @extend %fs-data-3;

            padding: 0 10px;
            background-color: $c-bluegrey;
            font-weight: normal;
            line-height: 21px;
            border-top: none;
            border-bottom: none;
            border-left: 1px solid $c-grey-400;
            border-right: 1px solid $c-bluegrey;
            color: $c-grey-700;
        }
    }

}

// column-configurator

.content-list-head--button-container {
    position:  relative;
}

.configure-columns {
    position: absolute;
    bottom: 6px;
    right: 6px;
    background-color: #ffffff;
    width: 20px;
    height: 20px;
    border: 1px solid $c-grey-650;
    @include border-radius(50px);
    cursor: pointer;

    @mixin icon-line {
        position: absolute;
        width: 2px;
        height: 12px;
        top: 4px;
        left: 9px;
        background-color: $c-grey-650;
        padding: 0;
    }

    .configure-columns__inner {
        @include icon-line;
    }

    &:before, &:after {
        @include icon-line;
        content: " ";
        display: block;
    }

    &:before {
        left: 5px;
    }

    &:after {
        left: 13px;
    }

    &:hover {
        background-color: $c-grey-400;
    }

    &:active, &--active {
        background-color: $c-grey-650;
        .configure-columns__inner, &:before, &:after {
            background-color: #ffffff;
        }
    }
}

.column-configurator {
    position: absolute;
    top: 34px;
    right: 6px;
    width: 180px;
    z-index: 2;

    // _toolbar-sections-dropdown.scss:71
    background-color: #ffffff;
    border: 1px solid $c-grey-400;
    box-shadow: 2px 1px 5px $c-grey-300;
    display: block;
    -webkit-transition: opacity .35 ease-in-out;
    -moz-transition: opacity .35 ease-in-out;
    -ms-transition: opacity .35 ease-in-out;
    -o-transition: opacity .35 ease-in-out;
    transition: opacity .35 ease-in-out;
    // ! _toolbar-sections-dropdown.scss:71

    .column-configurator__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .column-configurator__list-item {
        border-bottom: 1px solid $c-grey-300;
        padding: 6px 10px;
        .column-configurator__label {
            color: $c-grey-700;
            font-weight: normal;
            @extend %fs-data-3;
            text-transform: capitalize;
            margin: 0;
        }

        .column-configurator__label {
            margin-right: 4px;
        }

        &:last-child {
            border: none;
        }
    }
}

.content-list-head__heading--group {
    position: relative;
}

.content-list__compact-button {
    position: absolute;
    bottom: 4px;
    left: 6px;
    display: block;
    height: 16px;
    width: 16px;
    cursor: pointer;
    background: repeating-linear-gradient(
            0deg,
            #ffffff,
            #ffffff 1px,
            $c-grey-400 1px,
            $c-grey-400 2px
    );

    &--active {
        background: repeating-linear-gradient(
                0deg,
                #ffffff,
                #ffffff 2px,
                $c-grey-400 2px,
                $c-grey-400 4px
        );
    }
}
