 /**
 * Content-list styles.
 *
 * Shows all content items in a table.
 */

$content-list-icon-size: 14px;

// Global padding for cells
%content-list__field-padding {
    padding: 10px 10px;
}

.content-list, .content-list * {
    box-sizing: content-box;
}

.content-list {
    width: 100%;
    border: 5px 5px 5px 0px solid $c-grey-100;

    // Table header
    &-head {
        &__row {
        }

        &__heading {

            &--titles,
            &--group,
            &--office,
            &--deadline,
            &--created,
            &--section,
            &--legal,
            &--status,
            &--notes,
            &--links,
            &--published-state {
                padding: 15px 10px 5px 5px;
                @extend %fs-data-2;

                font-weight: bold;
                text-align: left;
            }

            &--presence,
            &--assignee {
                text-align: center;
                padding: 5px 5px 5px 0;
            }

            &-icon {
                &--presence,
                &--assignee {
                    display: inline-block;
                }

                &--presence {
                    width: 18px;
                    height: 18px;
                    margin-top: 3px;
                }
                &--assignee {
                    width: $content-list-icon-size;
                    height: $content-list-icon-size;
                    margin-top: 3px;
                }
            }
        }
    }


    // Group headings in the table
    &__group-heading {

        &-row {
            background-color:  $c-bluegrey;
            border-top: 1px solid $c-grey-300;
            border-bottom: 1px solid #ffffff;
        }

        &-link {
            @extend %fs-data-3;

            background-color: $c-bluegrey;
            color: $c-grey-700;
            font-weight: bold;
            text-transform: uppercase;
            display: inline-block;
            line-height: 20px;
            padding: 0 10px;
            min-width: 80px;

            &:hover {
                color: $c-grey-700;
                text-decoration: none;
            }
        }

        &-count {
            font-weight: normal;
            margin-left: 0.5em;
        }
    }


    &__button {
        &-icon {
            display: inline-block;
            width: 9px;
            height: 9px;
            margin-right: 5px;
        }

        &--new,
        &--import {
            @extend %fs-data-3;

            padding: 0 10px;
            background-color: $c-bluegrey;
            font-weight: normal;
            line-height: 21px;
            border-top: none;
            border-bottom: none;
            border-left: 1px solid $c-grey-400;
            border-rigth 1px solid $c-grey-400;
            color: $c-grey-700;
        }
    }

}
