<td class="content-list-item__field--published-state" title="Published state: {{ contentItem.lifecycleState || 'Draft' }}">
    <div class="content-list-item__field-primary--published-state">{{ contentItem.lifecycleState }}</div>
    <div class="content-list-item__field-supl--published-state" ng-if="contentItem.lifecycleStateSupl || contentItem.lifecycleStateSuplDate">
        {{ contentItem.lifecycleStateSupl || contentItem.lifecycleStateSuplDate | wfLocaliseDateTime:$root.globalSettings.location | wfFormatDateTime:'ddd DD MMM HH:mm' }}
    </div>
</td>
