.atomtest- {
    &drawer {
        background-color: $c-grey-150;
        padding: 12px;

        &__header {
            font-weight: bold;
            padding-bottom:10px;
            border-bottom:4px solid $c-grey-300;
        }

        &__inner {
            display: flex;
            width: 100%;
            font-size: 13px;
            font-size: 1.3rem;
            line-height: 16px;
            line-height: 1.6rem;
        }

        &__column {
            list-style: none;
            margin: 0;
            padding: 12px 0 0 12px;
        }
        
        &__item {
            padding: 2px 12px 12px 0;

            &:not(:last-child) {
                border-bottom: 1px solid $c-grey-300;
            }

            &-title {
                font-weight: bold;
                padding: 2px 0;
                margin: 0;
            }
            
            &-content {
                display: block;
                word-wrap: break-word;
            }
        }
    }
}