<div class="dashboard-toolbar__dropdown{{isEnabled}} dashboard-toolbar__dropdown--section" wf-toolbar-disable-on-search>
    <button class="dashboard-toolbar__dropdown-dropdown-button" ng-click="toggleDropdown()">
        <div class="dashboard-toolbar__dropdown-label">
            <span class="dashboard-toolbar__dropdown-label-text">Section</span>
            <div class="dashboard-toolbar__dropdown-select" >
                <span class="dashboard-toolbar__dropdown-select-text">All sections</span></div>
        </div>
    </button>

    <ul class="dashboard-toolbar__dropdown dropdown-toolbar__list list-unstyled section-list--hidden">
        <li class="dropdown-toolbar__item" ng-model="selectedSections" ng-repeat="s in sections" ng-class="{'dropdown-toolbar__item--active': s.selected, 'dropdown-toolbar__item--pre-selected': s.selected}">
            <label class="dropdown-toolbar__item-label" for="{{ s.id }}">
                <input class="section-list__chk" type="checkbox" ng-model="s.selected" id="{{ s.id }}" name="{{ s.id }}" value="{{ s.name }}" ng-change="checkboxUpdate();"/><span class="dropdown-toolbar__item-title">{{ s.name }}</span>
            </label>
        </li>
    </ul>

</div>
