@import "layouts/plan/mixins";

.date-range {
    padding: 12px;
    min-height: 58px;
    line-height: 58px;
    position: relative;
    z-index: 3;
    background-color: #ffffff;
    border-bottom: 1px solid $c-grey-400;
}

.date-range__inputs {
    display: inline-block;
    vertical-align: top;
    height: 100%;

    display: flex;

    * {
        vertical-align: top;
    }
}

.date-range__date-input {
    height: 34px;
    width: 138px;
    font-weight: bold;
    padding-top: 1px;
    padding-bottom: 1px;

    flex: 2 1 auto;
}

.date-range__input-sep {
    @extend %f-data;
    font-size: 20px;
    line-height: 34px;
    margin: 0 6px;

    text-align: center;

    flex: 1 1 auto;
}

.date-range__short-cuts {
    display: flex;
    padding-top: 12px;
}

.date-range__short-cut {
    flex: 1 0 auto;
    margin-right: 2px;
    &:last-child {
        margin-right: 0;
    }
}

@include smallScreen {
    .date-range__inputs,
    .date-range__date-input,
    .date-range__input-sep {
        display: block;
        width: 100%;
        margin: 0;
    }

    .date-range__short-cuts {
        display: block;
        line-height: 26px;
    }

    .date-range__short-cut {
        display: inline-block;
    }
}
