@import '~angular-bootstrap-datetimepicker/src/css/datetimepicker.css';

.date-time-picker__help-text {
    font-size: 85%;
    font-weight: normal;
    font-style: italic;
    color: #666;
}

.date-time-picker__dropdown {
  border-radius: 0;
}


// Error message should be exposed properly from date-time-picker via form.field.$error
.date-time-picker {

  &.ng-invalid-parse {
    .date-time-picker__text-input,
    .date-time-picker__dropdown {
        border-color: $c-red;
    }

    .help-block::after {
        content: "Unrecognised date";
        font-style: italic;
    }
  }
}
