.date-time-picker__help-text {
    font-size: 85%;
    font-weight: normal;
    font-style: italic;
    color: #666;
}

.date-time-picker__toolbar-input {
    border-radius: 0;
}

.date-time-picker__toolbar-button {
    border-radius: 0;
}

