<label for="{{dateTimePicker.textInputId}}" ng-if="label">{{ label }} <span class="stubModal__exampleText" ng-if="helpText">{{ helpText == 'true' && 'e.g. today 3pm, tomorrow 15:00, tuesday next week 18:00, 2014-08-14' || helpText }}</span></label>
<div class="input-group">
    <input type="text" wf-date-time-field class="form-control" id="{{dateTimePicker.textInputId}}" name="due" wf-on-cancel="onCancel()" wf-on-update="onUpdate()" wf-update-on="{{updateOn}}" wf-cancel-on="{{cancelOn}}" ng-class="{'input-sm': small}">
    <div class="input-group-btn">
        <button type="button" id="{{dateTimePicker.dropDownButtonId}}" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-class="{'btn-sm': small}"><i class="glyphicon glyphicon-calendar"></i></button>
      </a>
      <ul class="dropdown-menu pull-right" role="menu">
        <datetimepicker data-ng-model="dateValue" data-datetimepicker-config="{ 'weekStart': 1, dropdownSelector: '#{{dateTimePicker.dropDownButtonId}}' }" on-set-time="onUpdate"/>
      </ul>
    </div>
</div>
<span class="help-block" ng-class="{'small': small}">{{ dateValue && (dateValue | wfDateTimePicker.formatDateTime) }}</span>
