@import "layouts/global/colours";

.current.label {
    background-color: #dee2e3;
    border-left: 3px solid #00adee;
    padding-left: 7px;
    margin-left: -10px;
    display:  block;
    text-decoration: none;
}

.note {
    color: #787878;
}

.past {
    color: #cbcaca;
}

.plan-container {
    display: -webkit-flex;
    display: flex;
    max-height: 100%;
}

.date-list {
    flex: 0 0 160px;
    overflow-x: auto;
    border-right: 1px solid $c-grey-400;
}

.date-list__list {
    color: #333333;
}

.date-list__date {
    padding: 2px 0 2px 9px;
    border-left: 3px solid #fff;
    @extend %fs-data-4;
}

//.three-month-view ul li .label {
//    padding-bottom: 4px;
//}

//.three-month-view li:hover {
//    padding-bottom: 4px;
//    background-color: #d0d0d0;
//    margin-left: -10px;
//    padding-left: 10px;
//    cursor: pointer;
//}

.date-list__date:hover{
    background-color: $c-grey-200;
    cursor: pointer;
}

.date-list__date--selected {
    border-left: 3px solid #00adee;
}

.day-event:hover .add-event {
    display: block;
    border: 1px solid #000000;
    display: inline-block;
    width: 15px;
    text-align: center;
}

.label:hover .add-event {
    display: block;
    border: 1px solid #000000;
    display: inline-block;
    width: 15px;
    text-align: center;
}

.day-events {
    padding: 0 0 0 6px;
    margin: 2px 0 2px 4px;
    border-left: 1px solid $c-grey-600;
}

.day-event {
    border: none;
    //font-weight: bold;
    padding: 2px 0;
    @extend %fs-data-2;
}

.day-event-item {
    border: none;
    font-weight: normal;
    font-style: normal;
}

//.day-event:before {
//    content: "📅 ";
//}

.add-event {
    display: none;
}

// News Agenda
// ================================================================= //

.news-agenda {

    flex: 0 0 400px;
    -webkit-flex: 0 0 400px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -webkit-align-items: stretch;
    border-right: 1px solid $c-grey-400;

    .alert {
        margin: 12px;
    }
}

.news-agenda-items {

}

.day-bundle {
    padding: 0 0 6px 0;

    .day-bundle__title {
        display: block;
        width: 100%;
        background-color: $c-grey-300;
        padding: 2px 0 2px 6px;
        border-left: 3px solid #00adee;
        @extend %fs-data-4;
        font-weight: bold;
    }
}

.day-bundle__items {
    padding: 2px 0 2px 18px;
    .day-bundle__item {
        @extend %fs-data-2;
        padding: 2px 0;
    }
}



.assigned-to {
    background-color: #DCDCDC;
    border-radius: 50px;
    box-sizing: border-box;
    color: #333333;
//    font-family: "AS32 Agate Sans", 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-size: 12px;
    line-height: 12px;
    margin: 0 6px;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    width: auto;
}

//.am-pm-timings {
//    flex: 0 0 400px;
//    -webkit-flex: 0 0 400px;
//    display: -webkit-flex;
//    display: flex;
//    -webkit-flex-direction: column;
//    -webkit-align-items: stretch;
//    border-right: 1px solid $c-grey-400;
//    font-size: 14px;
//    line-height: 18px;
//
//}

.am {
    /*background-color: #ce7777;*/
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    -webkit-flex-basis: auto;
    -webkit-align-items: stretch;
}

.pm {
    /*background-color: #6bd0bb;*/
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    -webkit-flex-basis: auto;
    -webkit-align-items: stretch;
    border-top: 1px dotted silver;
}

//ul.news-agenda-items {
//    list-style: none;
//    padding: 0;
//    margin: 0;
//}

.unassigned {
    /*background-color: orange;*/
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    -webkit-flex-basis: auto;
    -webkit-align-items: stretch;
    padding-right: 10px;
    //border-top: 1px dotted silver;
}

.unassigned ul {
    /*background-color: pink;*/
}

.unassigned-list-items {
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
}

// Detailed-schedule
// ================================================================= //

.detailed-schedule {
    display: -webkit-flex;
    display: flex;
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    overflow-x: auto;

    tr td {
        padding: 2px 0;
    }
    .time {
        min-width: 72px;
    }
}

.detailed-schedule .bundle {
    display: inline-block;
    background-color: $c-grey-300;
    padding: 2px 6px;
    border-left: 3px solid #00adee;
    @extend %fs-data-2;
    font-weight: bold;
}

.detailed-schedule table {
    width: 780px;
}

/* group time jumpers */

.time-jumper {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    -webkit-flex: 0 0 50px;
    flex: 0 0 50px;
    /*background-color: #2eb859;*/
}

.time-jumper ul {
    list-style-type: none;
    font: 70%/27px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    width: 50px;
    padding: 0;
    /*	background-color: #1c78cf;*/
    vertical-align: middle;
    text-align: right;
    border-right: 1px dotted silver;
    color: #333333;
    li {
        padding-right: 4px;
    }
}

.time-jumper ul li:hover {
    background-color: #d0d0d0;
    color: #ffffff;
    cursor: pointer;
}
//
//td	{
//    color:black;
//    font-style:normal;
//    display: table-cell;
//    vertical-align: top;
//}
//
//table {
//    table-layout: fixed;
//    font: 0.8em "AS32 Agate Sans";
//}

.time {
    width: 50px;
    text-indent: 17px;
}

.section {
    text-align: right;
    padding-right: 5px;
    color: #8d8d8d;
}

.headline {
    width: 500px;
}

.embargo {
    border-right: 3px solid #ff6800;
}

.embargo-time {
    color: #cc1515;
    display: block;
    float: right;
    right: 3px;
    position: relative;
}

.published {
    border-right: 3px solid #60ad15;
}

.published-time {
    color: #333333;
    display: block;
    float: right;
    right: 3px;
    position: relative;
}

.scheduled-time {
    color: #333333;
    display: block;
    float: right;
    right: 3px;
    position: relative;
}


.section_header {
    text-align: left;
    white-space: normal;
}

.timeBars {
    font-size: 13px;
    height: 20px;
    line-height: 20px;
    padding-left: 3px;
    font-weight: bold;
    max-width: 500px;
    border-collapse: collapse;
    border-top-color: #DCDCDC;
    border-bottom-width: 1px;
    background-color: rgb(222, 226, 227);
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-collapse: collapse;
    border-left-color: rgb(128, 128, 128);
    border-right-color: rgb(128, 128, 128);
    border-top-color: #DCDCDC;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: content-box;
    font-family: "AS32 Agate Sans", 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-size: 14px;
    height: 19px;
    line-height: 18px;
    vertical-align: middle;
    font-weight: bold;
    text-indent: 4px;
    margin: 2px 0;
    background-color: $c-grey-300;
}

.hour_count{
    font-weight: normal;
}

