@import "layouts/global/colours";
@import "layouts/plan/mixins";
@import "components/plan-view/quick-add/quick-add";
@import "components/plan-view/date-view/date-view";
@import "components/plan-view/bundle-view/bundle-view";
@import "components/plan-view/day-view/day-view";
@import "components/plan-view/plan-item/plan-item";
@import "components/plan-view/inline-add-item/inline-add-item";
@import "components/plan-view/date-range-widget/date-range-widget";
@import "components/plan-view/bundle-search/bundle-search";
@import "components/plan-view/unscheduled-view/unscheduled-view";
@import "components/plan-view/drop-zones/drop-zones";

.current.label {
    background-color: #dee2e3;
    border-left: 3px solid #00adee;
    padding-left: 7px;
    margin-left: -10px;
    display:  block;
    text-decoration: none;
}

.note {
    color: #787878;
}

.past {
    color: #cbcaca;
}

.plan-container {
    display: -webkit-flex;
    display: flex;
    max-height: 100%;
    width: 100%;
}

// Basic Layout
// ---------------------------------------------------------- //

.date-list {
    flex: 0 0 400px;
}

.unscheduled-view {
    flex: 0 0 300px;
    &.main {
        flex: 1 1 1000px;
    }
}

.plan__view-container {
    flex: 0 0 300px;
    position: relative;
    &.main {
        flex: 1 1 1000px;
    }
}

.unscheduled-view,
.plan__view-container {
    transition: flex-basis 0.3s ease-in-out;
}

@include smallScreen {
    .date-list {
        flex: 0 0 320px;
    }
}

// Beta label
.plan-view__title {
    display: block;
    position: absolute;
    top: 36px;
    left: 46px;
    font-size: 12px;
    height: 12px;
    line-height: 12px;
    .plan-view__title--beta {
        color: $c-red;
    }
}

// View Container + views layout
// ================================================================= //

.plan__view-container {
    display: flex;
    flex-direction: column;

    .plan__title-bar {
        flex: 0 0 58px;
        min-height: 0px; // needed for firefox - see https://bugzilla.mozilla.org/show_bug.cgi?id=1108514
    }

    .day-view, .bundle-view {
        flex: 1 0 auto;
        height: 100px;
        //overflow-y: auto;
        position: relative;
    }
}

// No newslist overlay
// ================================================================= //

.plan__view-container--overlay {
    position: absolute;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);

    .alert {
        position: absolute;
        top: 20%;
        left: 50%;
        width: 50%;
        margin-left: -25%;
    }
}

// Titles
// ================================================================= //

.plan__title-bar {
    height: 58px;
    line-height: 58px;
    position: relative;
    z-index: 3;
    background-color: #ffffff;
    border-bottom: 1px solid $c-grey-400;
    .quick-add {
        height: 100%;
        display: inline-block;
        vertical-align: top;
        padding: 12px 0 13px;
    }

    .quick-add__input {
        line-height: normal;
    }

    * {
        vertical-align: top;
    }
}

.plan__title {
    @extend %f-data;
    font-size: 20px;
    display: inline-block;
    padding: 0 12px;
    margin: 0;
    vertical-align: top;
    line-height: inherit;
}

// Tabs
// ================================================================= //

.plan__tabs {
    position: relative;
    display: inline-block;
    margin: 0;
    height: 46px;
    margin-left: 12px;
    top: 12px;
}

.plan__tab {
    position: relative;
    display: inline-block;
    border: 1px solid $c-grey-400;
    @include border-radius(3px 3px 0 0);
    padding-left: 12px;
    padding-right: 12px;
    height: 100%;
    @extend %f-data;
    font-size: 14px;
    line-height: 34px;
    cursor: pointer;
    background: linear-gradient(to top, $c-grey-400 -6px, #ffffff 6px, #ffffff 100%); // inset shadow
    //font-weight: bold;
    color: $c-grey-400;

    margin-right: 6px;
    &:last-child {
        margin-right: 0;
    }

    &:hover {
        background: linear-gradient(to top, $c-grey-400 -6px, $c-grey-200 6px, $c-grey-200 100%);
        color: $c-grey-700;
    }

    &.plan__tab--active {
        background: linear-gradient(to top, $c-grey-200 0px, #ffffff 20px, #ffffff 100%);
        border-bottom: none;
        color: $c-grey-700;
        &:hover {
            background: linear-gradient(to top, $c-grey-200 0px, #ffffff 20px, #ffffff 100%);
        }
    }
}

// Detailed-schedule
// ================================================================= //

.detailed-schedule {
    //overflow-x: auto;
    tr td {
        padding: 2px 0;
    }
    .time {
        min-width: 72px;
    }
}

.section {
    text-align: right;
    padding-right: 5px;
    color: #8d8d8d;
}

.headline {
    width: 500px;
}

.embargo {
    border-right: 3px solid #ff6800;
}

.embargo-time {
    color: #cc1515;
    display: block;
    float: right;
    right: 3px;
    position: relative;
}

.published {
    border-right: 3px solid #60ad15;
}

.published-time {
    color: #333333;
    display: block;
    float: right;
    right: 3px;
    position: relative;
}

.scheduled-time {
    color: #333333;
    display: block;
    float: right;
    right: 3px;
    position: relative;
}

.section_header {
    text-align: left;
    white-space: normal;
}

.hour_count {
    font-weight: normal;
}

// Drag Handles

.plan__drag-handle {
    display: inline-block;
    cursor: ns-resize;
    vertical-align: top;
    .handle__mark {
        display: block;
        width: 100%;
        background-color: #dcdcdc;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &:hover {
        .handle__mark {
            background-color: $c-grey-500;
        }
    }
}
