<div class="dashboard-toolbar__section">
    <form>
        <label class="dashboard-toolbar__prod-office-label">News List
            <select class="dashboard-toolbar__prod-office-select" ng-model="selectedNewsList" ng-options="newsList as newsList.title for newsList in newsLists">
                <option value="">All news</option>
            </select>
        </label>
    </form>
</div>

<!--<div class="dashboard-toolbar__section" ng-controller="wfToolbarFreetextController">-->
    <!--<form>-->
        <!--<input class="datepicker datepicker__start" ng-model="startDate" type="date"/>-->
        <!--<input class="datepicker datepicker__end" ng-model="endDate" type="date"/>-->
    <!--</form>-->
<!--</div>-->
