<style>
    body {
        font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
        margin: 0;
        padding: 0;
    }

    /* group layouts */

    .current .label {
        background-color: #dee2e3;
        border-left: 3px solid #00adee;
        padding-left: 7px;
        margin-left: -10px;
        display:  block;
        text-decoration: none;
        min-width: ;
    }

    .Litvenenko {
        background-color: #ffffff;
    }

    .note {
        color: #787878;
    }



    .past {
        color: #cbcaca;
    }

    .plan-container {
        display: -webkit-flex;
        display: flex;
        max-height: 100%;
    }

    /* group Three month column */

    .three-month-view {
        /*background-color: purple;*/
        flex: 0 0 150px;
        -webkit-flex: 0 0 250px;
        overflow-x: auto;
    }

    .three-month-view ul {
        list-style-type: none;
        padding-left: 10px;
        font: 0.9rem "AS32 Agate Sans";
        color: #333333;
    }

    .three-month-view ul li {
        padding-bottom: 4px;
    }

    .three-month-view ul li .label {
        padding-bottom: 4px;
    }

    .three-month-view li:hover {
        padding-bottom: 4px;
        background-color: #d0d0d0;
        margin-left: -10px;
        padding-left: 10px;
        cursor: pointer;
    }

    .day-event:hover .add-event {
        display: block;
        border: 1px solid #000000;
        display: inline-block;
        width: 15px;
        text-align: center;
    }

    .label:hover .add-event {
        display: block;
        border: 1px solid #000000;
        display: inline-block;
        width: 15px;
        text-align: center;
    }

    .day-event {
        border: none;
        font-weight: bold;
    }

    .day-event-item {
        border: none;
        font-weight: normal;
        font-style: normal;
    }

    .day-event:before {
        content: "📅 ";
    }

    .add-event {
        display: none;
    }



    /*.add-event:hover {

    }*/



    /* end */

    .assigned-to {

        background-color: #DCDCDC;
        border-bottom-color: rgba(0, 0, 0, 0);
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-collapse: collapse;
        border-image-outset: 0px;
        border-image-slice: 100%;
        border-image-source: none;
        border-left-color: rgba(0, 0, 0, 0);
        border-left-style: solid;
        border-left-width: 1px;
        border-right-color: rgba(0, 0, 0, 0);
        border-right-style: solid;
        border-right-width: 1px;
        border-top-color: rgba(0, 0, 0, 0);
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-top-style: solid;
        border-top-width: 1px;
        box-sizing: border-box;
        color: #333333;
        font-family: "AS32 Agate Sans", 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
        font-size: 12px;
        /*height: 18px;*/
        /*	line-height: 16px;*/
        list-style-image: none;
        list-style-position: outside;
        list-style-type: none;
        margin-bottom: 1px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 1px;
        padding-bottom: 0px;
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 0px;
        text-align: center;
        text-decoration: none;
        text-transform: none;
        width: auto;
    }

    .am-pm-timings {
        flex: 0 0 350px;
        -webkit-flex: 0 0 350px;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -webkit-align-items: stretch;
        font-family: "AS32 Agate Sans", 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
        font-size: 14px;
        line-height: 18px;
    }

    .am {
        /*background-color: #ce7777;*/
        flex: 1 0 auto;
        -webkit-flex: 1 0 auto;
        -webkit-flex-basis: auto;
        -webkit-align-items: stretch;
    }

    .pm {
        /*background-color: #6bd0bb;*/
        flex: 1 0 auto;
        -webkit-flex: 1 0 auto;
        -webkit-flex-basis: auto;
        -webkit-align-items: stretch;
        border-top: 1px dotted silver;
    }

    .unassigned {
        /*background-color: orange;*/
        flex: 1 0 auto;
        -webkit-flex: 1 0 auto;
        -webkit-flex-basis: auto;
        -webkit-align-items: stretch;
        padding-right: 10px;
        border-top: 1px dotted silver;
    }

    .unassigned ul {
        /*background-color: pink;*/
    }

    .unassigned-list-items {
        list-style: none;
        padding-left: 0px;
        margin-left: 0px;
    }

    .detailed-schedule {
        display: -webkit-flex;
        display: flex
    flex: 1 0 auto;
        -webkit-flex: 1 0 auto;
        overflow-x: auto;
    }

    .detailed-schedule table {
        width: 780px;
    }

    /* group time jumpers */

    .time-jumper {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: stretch;
        -webkit-flex: 0 0 50px;
        flex: 0 0 50px;
        margin-left: 2px;
        /*background-color: #2eb859;*/
    }

    .time-jumper ul {
        list-style-type: none;
        font: 70%/27px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
        width: 50px;
        padding: 0 4px 0 0;
        /*	background-color: #1c78cf;*/
        vertical-align: middle;
        text-align: right;
        border-right: 1px dotted silver;
        color: #333333;
    }

    .time-jumper ul li:hover {
        background-color: #d0d0d0;
        color: #ffffff;
        cursor: pointer;
    }



    /* end */

    /* end */

    /* group Table styles */

    td	{
        color:black;
        font-style:normal;
        display: table-cell;
        vertical-align: top;
        /*white-space:nowrap;*/
    }

    table {
        table-layout: fixed;
        font: 0.8em "AS32 Agate Sans";
    }

    .time {
        width: 50px;
        text-indent: 17px;
    }



    .section {
        text-align: right;
        padding-right: 5px;
        color: #8d8d8d;
    }

    .headline {
        width: 500px;
        /*background-color: olive;*/
    }

    .embargo {
        border-right: 3px solid #ff6800;
    }

    .embargo-time {
        color: #cc1515;
        display: block;
        float: right;
        right: 3px;
        position: relative;
    }

    .published {
        border-right: 3px solid #60ad15;
    }

    .published-time {
        color: #333333;
        display: block;
        float: right;
        right: 3px;
        position: relative;
    }

    .scheduled-time {
        color: #333333;
        display: block;
        float: right;
        right: 3px;
        position: relative;
    }

    .time_header {

    }


    .section_header {
        text-align: left;
        white-space: normal;
    }



    .timeBars {
        /*	background-color: #DEE2E3;
            /*text-transform: uppercase;*!/
            font-size: 13px;
            height: 20px;
            line-height: 20px;
            padding-left: 3px;
            font-weight: bold;
            max-width: 500px;
            border-collapse: collapse;
            border-top-color: #DCDCDC;
            border-bottom-width: 1px;
            display: table-row;*/
        background-color: rgb(222, 226, 227);
        border-bottom-color: rgb(255, 255, 255);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-collapse: collapse;
        border-left-color: rgb(128, 128, 128);
        border-right-color: rgb(128, 128, 128);
        border-top-color: #DCDCDC;
        border-top-style: solid;
        border-top-width: 1px;
        box-sizing: content-box;
        display: table-row;
        font-family: "AS32 Agate Sans", 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
        font-size: 14px;
        height: 19px;
        line-height: 18px;
        vertical-align: middle;
        font-weight: bold;
        text-indent: 4px;

    }

    .hour_count{
        font-weight: normal;
    }

    /* end */
</style>

<div class="plan-container">
    <div class="three-month-view">
        <ul>
            <li class="current" ng-repeat="date in dateList">{{date.calendar()}}</li>
        </ul>
    </div>

    <div class="am-pm-timings">
        <!--<div class="am">
    <h2>AM</h2>
</div>

<div class="pm">
    <h2>PM</h2>
</div>-->

        <div class="unassigned">
            <h2>News agenda</h2>
            <ul class="unassigned-list-items">
                <li class="day-event">Obama in Saudi Arabia
                    <ul>
                        <li class="day-event-item">Overnight curtain-raiser <span class="assigned-to">Dan R</span><span class="note">   to be launched by AUS
                                - UK to pick up and expand, then US to take over</span></li>
                        <li class="day-event-item">Further analysis - <span class="assigned-to">Aitkin</span></li>
                    </ul>
                </li>

                <li class="day-event">Auschwitz rememberance
                    <ul>
                        <li class="day-event-item">curtain-raiser <span class="assigned-to">Connolly</span></li>
                        <li class="day-event-item">explainer + video</li>
                        <li class="day-event-item">interview with survivor <span class="assigned-to">Davies</span></li>
                        <li class="day-event-item">Rolling news story <span class="assigned-to">Weaver</span></li>
                    </ul>
                </li>

                <li class="day-event"><span id="Litvenenko">Litvenenko inquest opens</span>
                    <ul>
                        <li class="day-event-item">15:30 first person piece from son<span class="assigned-to">LH</span></li>
                        <li class="day-event-item">11:00 Video explainer</li>
                        <li class="day-event-item">News curtain raiser <span class="assigned-to">LH</span></li>
                        <li class="day-event-item">10am Live blog<span class="assigned-to">Walker</span></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="time-jumper">
        <ul>
            <li class="past">Midnight</li>
            <li class="past">1am</li>
            <li class="past">2am</li>
            <li class="past">3am</li>
            <li class="past">4am</li>
            <li class="past">5am</li>
            <li class="past">6am</li>
            <li class="past">7am</li>
            <li class="past">8am</li>
            <li class="past">9am</li>
            <li class="past">10am</li>
            <li class="past">11am</li>
            <li class="past">12 noon</li>
            <li class="past">1pm</li>
            <li class="past">2pm</li>
            <li class="_current">3pm</li>
            <li>4pm</li>
            <li>5pm</li>
            <li>6pm</li>
            <li>7pm</li>
            <li>8pm</li>
            <li>9pm</li>
            <li>10pm</li>
            <li>11pm</li>
            <li>Midnight</li>
        </ul>
    </div>

    <div class="detailed-schedule">
        <table>


            <colgroup>
                <col style="width: 50px; <!--background-color: red;-->">
                <col style="width: auto; <!--background-color: orange;-->">
                <col style="width: 120px; <!--background-color: pink;-->">

            </colgroup>


            <tr>
                <td colspan=3 class="timeBars">6am-9am<span class="hour_count"> (2)</span></td>
            </tr>

            <tr class="Litvenenko">

            <tr>
                <td>10:00</td>
                <td>blah news news news<span class="assigned-to">LH</span></td>
                <td>Scheduled</td>
            </tr>

            <tr class="Litvenenko">
                <td>10:00</td>
                <td><span class="day-event">Litvenenko inquest opens:</span> live blog <span class="assigned-to">Walker</span></td>
                <td>Scheduled</td>
            </tr>

            <td>10:30</td>
            <td>British cycling announces major changes <span class="assigned-to">LH</span></td>
            <td>Scheduled</td>
            </tr>

            <tr>
                <td>11:00</td>
                <td><span class="day-event">Litvenenko inquest opens:</span> Video explainer</td>
                <td>Published</td>
            </tr>

            <tr>
                <td colspan=3 class="timeBars">9am-12 noon<span class="hour_count"> (6)</span></td>
            </tr>

            <tr class="Litvenenko">
                <td>12:00</td>
                <td><span class="day-event">Litvenenko inquest opens:</span> live blog <span class="assigned-to">LH</span></td>
                <td>Scheduled</td>
            </tr>

            <tr>
                <td>12:15</td>
                <td>live blog on amazing new thing in tech</td>
                <td>Scheduled</td>
            </tr>

            <tr class="Litvenenko">
                <td>15:30</td>
                <td><span class="day-event">Litvenenko inquest opens:</span>  first person piece from son <span class="assigned-to">LH</span></td>
                <td>Scheduled</td>
            </tr>




        </table>

    </div>

</div>
