@import "layouts/global/colours";
@import "components/plan-view/quick-add/quick-add";
@import "components/plan-view/bundle-view/bundle-view";
@import "components/plan-view/day-view/day-view";
@import "components/plan-view/day-view-plan-item/day-view-plan-item";

.current.label {
    background-color: #dee2e3;
    border-left: 3px solid #00adee;
    padding-left: 7px;
    margin-left: -10px;
    display:  block;
    text-decoration: none;
}

.note {
    color: #787878;
}

.past {
    color: #cbcaca;
}

.plan-container {
    display: -webkit-flex;
    display: flex;
    max-height: 100%;
    width: 100%;
}

// Basic Layout
// ---------------------------------------------------------- //

.date-list {
    flex: 0 0 400px;
}

.detailed-schedule {
    flex: 1 0 auto;
}

.bundle-list {
    flex: 0 0 400px;
}

@include smallScreen {
    .date-list {
        flex: 0 0 200px;
    }

    .bundle-list {
        flex: 0 0 200px;
    }
}

// Loading animation
// ---------------------------------------------------------- //

.date-list,
.bundle-list,
.detailed-schedule {
    position: relative;
    transition: left 0.3s ease-in-out, box-shadow 0.7s ease-in-out;
    background-color: #fff;
    @include box-shadow(2px 0px 8px 2px $c-grey-500);
}

.date-list {
    left: -400px;
    z-index: 3;
    transition-delay: 0s, 1.4s;
}

.detailed-schedule {
    left: -100%;
    z-index: 2;
    transition-delay: 0.35s, 1.4s;
}

.bundle-list {
    left: -100%;
    z-index: 1;
    transition-delay: 0.75s, 1.4s;
}

.loaded {
    .date-list,
    .bundle-list,
    .detailed-schedule {
        left: 0;
        @include box-shadow(0 0 0 0 #fff);
    }
}

// Date Panel
// ---------------------------------------------------------- //

.date-list {
    overflow-x: auto;
    border-right: 1px solid $c-grey-400;
}

.date-list__list {
    color: #333333;
}

.date-list__date {
    padding: 2px 0 2px 9px;
    border-left: 3px solid #fff;
    @extend %fs-data-4;
}

.date-list__date-note,
.date-list__date-date,
.date-list__date-items-indicator--faded {
    color: $c-grey-400;
    @extend %fs-data-2;
    line-height: 18px;
    line-height: 1.8rem;
    .editable__view-value {
        border-bottom-color: $c-grey-400;
    }
}

.date-list__date-note {
    display: block;

    &:hover {
        color: $c-grey-700;
        .editable__view-value {
            border-bottom-color: $c-grey-700;
        }
    }
}

//.three-month-view ul li .label {
//    padding-bottom: 4px;
//}

//.three-month-view li:hover {
//    padding-bottom: 4px;
//    background-color: #d0d0d0;
//    margin-left: -10px;
//    padding-left: 10px;
//    cursor: pointer;
//}

.date-list__date:hover{
    background-color: $c-grey-200;
    cursor: pointer;
}

.date-list__date--selected {
    border-left: 3px solid #00adee;
    background-color: $c-grey-200;
}

.day-event:hover .add-event {
    display: block;
    border: 1px solid #000000;
    display: inline-block;
    width: 15px;
    text-align: center;
}

.label:hover .add-event {
    display: block;
    border: 1px solid #000000;
    display: inline-block;
    width: 15px;
    text-align: center;
}

.day-events {
    padding: 0 0 0 6px;
    margin: 2px 0 2px 4px;
    border-left: 1px solid $c-grey-600;
}

.day-event {
    border: none;
    //font-weight: bold;
    padding: 2px 0;
    @extend %fs-data-2;
}

.day-event-item {
    border: none;
    font-weight: normal;
    font-style: normal;
}

.add-event {
    display: none;
}

// Detailed-schedule
// ================================================================= //

.detailed-schedule {
    //overflow-x: auto;
    tr td {
        padding: 2px 0;
    }
    .time {
        min-width: 72px;
    }
}

/* group time jumpers */

.time-jumper {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    -webkit-flex: 0 0 50px;
    flex: 0 0 50px;
    /*background-color: #2eb859;*/
}

.time-jumper ul {
    list-style-type: none;
    font: 70%/27px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    width: 50px;
    padding: 0;
    /*	background-color: #1c78cf;*/
    vertical-align: middle;
    text-align: right;
    border-right: 1px dotted silver;
    color: #333333;
    li {
        padding-right: 4px;
    }
}

.time-jumper ul li:hover {
    background-color: #d0d0d0;
    color: #ffffff;
    cursor: pointer;
}
//
//td	{
//    color:black;
//    font-style:normal;
//    display: table-cell;
//    vertical-align: top;
//}
//
//table {
//    table-layout: fixed;
//    font: 0.8em "AS32 Agate Sans";
//}

//.time {
//    width: 50px;
//    text-indent: 17px;
//}

.section {
    text-align: right;
    padding-right: 5px;
    color: #8d8d8d;
}

.headline {
    width: 500px;
}

.embargo {
    border-right: 3px solid #ff6800;
}

.embargo-time {
    color: #cc1515;
    display: block;
    float: right;
    right: 3px;
    position: relative;
}

.published {
    border-right: 3px solid #60ad15;
}

.published-time {
    color: #333333;
    display: block;
    float: right;
    right: 3px;
    position: relative;
}

.scheduled-time {
    color: #333333;
    display: block;
    float: right;
    right: 3px;
    position: relative;
}


.section_header {
    text-align: left;
    white-space: normal;
}

//.timeBars {
//    font-size: 13px;
//    height: 20px;
//    line-height: 20px;
//    padding-left: 3px;
//    font-weight: bold;
//    max-width: 500px;
//    border-collapse: collapse;
//    border-top-color: #DCDCDC;
//    border-bottom-width: 1px;
//    background-color: rgb(222, 226, 227);
//    border-bottom-color: rgb(255, 255, 255);
//    border-bottom-style: solid;
//    border-bottom-width: 1px;
//    border-collapse: collapse;
//    border-left-color: rgb(128, 128, 128);
//    border-right-color: rgb(128, 128, 128);
//    border-top-color: #DCDCDC;
//    border-top-style: solid;
//    border-top-width: 1px;
//    box-sizing: content-box;
//    font-family: "AS32 Agate Sans", 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
//    font-size: 14px;
//    height: 19px;
//    line-height: 18px;
//    vertical-align: middle;
//    font-weight: bold;
//    text-indent: 4px;
//    margin: 2px 0;
//    background-color: $c-grey-300;
//}

.hour_count{
    font-weight: normal;
}

// Drag Handles

.plan__drag-handle {
    display: inline-block;
    cursor: ns-resize;
    vertical-align: top;
    .handle__mark {
        display: block;
        width: 100%;
        background-color: #dcdcdc;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &:hover {
        .handle__mark {
            background-color: $c-grey-500;
        }
    }
}

