<div class="plan-container">

    <div class="date-list">
        <ul class="date-list__list list-unstyled">
            <li class="date-list__date" ng-class="{'date-list__date--selected': date == selectedDate}" ng-repeat="date in dateList"
                ng-controller="wfDateListController" ng-click="selectDay(date)">{{date | dateListFormatter}}
                <ul class="day-events list-unstyled" ng-if="items.length">
                    <li class="day-event" ng-repeat="item in items">{{item.title}}</li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="news-agenda">
        <!--<div class="unassigned">-->

            <ul ng-controller="wfNewsAgendaController" class="news-agenda-items list-unstyled">
                <li class="alert alert-info" ng-if="!getBundles().length">
                    <span>Nothing planned for Today!</span>
                </li>
                <li class="day-bundle" ng-repeat="bundle in getBundles()">
                    <span class="day-bundle__title">{{ bundle }}</span>
                    <ul class="day-bundle__items list-unstyled">
                        <li class="day-bundle__item" ng-repeat="item in agendaItems[bundle]">
                            <span>{{item.plannedDate.format("HH:mm")}}</span>
                            {{item.title}}
                            <span class="assigned-to">{{item.byLine}}</span>
                            <span class="note">{{item.notes}}</span>
                        </li>
                    </ul>
                </li>
            </ul>
        <!--</div>-->
    </div>

    <div class="detailed-schedule">

        <div class="time-jumper">
            <ul class="list-unstyled">
                <li class="past">Midnight</li>
                <li class="past">1am</li>
                <li class="past">2am</li>
                <li class="past">3am</li>
                <li class="past">4am</li>
                <li class="past">5am</li>
                <li class="past">6am</li>
                <li class="past">7am</li>
                <li class="past">8am</li>
                <li class="past">9am</li>
                <li class="past">10am</li>
                <li class="past">11am</li>
                <li class="past">12 noon</li>
                <li class="past">1pm</li>
                <li class="past">2pm</li>
                <li class="_current">3pm</li>
                <li>4pm</li>
                <li>5pm</li>
                <li>6pm</li>
                <li>7pm</li>
                <li>8pm</li>
                <li>9pm</li>
                <li>10pm</li>
                <li>11pm</li>
                <li>Midnight</li>
            </ul>
        </div>

        <table>


            <colgroup>
                <col style="width: 50px; <!--background-color: red;-->">
                <col style="width: auto; <!--background-color: orange;-->">
                <col style="width: 120px; <!--background-color: pink;-->">

            </colgroup>


            <tr>
                <th colspan=3 class="timeBars">6am-9am<span class="hour_count"> (2)</span></th>
            </tr>

            <tr class="Litvenenko">

            <tr>
                <td>10:00</td>
                <td>blah news news news<span class="assigned-to">LH</span></td>
                <td>Scheduled</td>
            </tr>

            <tr class="Litvenenko">
                <td>10:00</td>
                <td><span class="bundle">Litvenenko inquest opens:</span> live blog <span class="assigned-to">Walker</span></td>
                <td>Scheduled</td>
            </tr>

            <td>10:30</td>
            <td>British cycling announces major changes <span class="assigned-to">LH</span></td>
            <td>Scheduled</td>
            </tr>

            <tr>
                <td>11:00</td>
                <td><span class="bundle">Litvenenko inquest opens:</span> Video explainer</td>
                <td>Published</td>
            </tr>

            <tr>
                <td colspan=3 class="timeBars">9am-12 noon<span class="hour_count"> (6)</span></td>
            </tr>

            <tr class="Litvenenko">
                <td>12:00</td>
                <td><span class="bundle">Litvenenko inquest opens:</span> live blog <span class="assigned-to">LH</span></td>
                <td>Scheduled</td>
            </tr>

            <tr>
                <td>12:15</td>
                <td>live blog on amazing new thing in tech</td>
                <td>Scheduled</td>
            </tr>

            <tr class="Litvenenko">
                <td>15:30</td>
                <td><span class="bundle">Litvenenko inquest opens:</span>  first person piece from son <span class="assigned-to">LH</span></td>
                <td>Scheduled</td>
            </tr>




        </table>

    </div>

</div>
