<td class="content-list-item__field--composer" ng-if="!isSupportedAtomType">
    <a href="{{ contentItem.links.composer }}" title="View in Composer (opens in new window)" target="_blank" ng-if="contentItem.links.composer" ng-click="$event.stopPropagation()">
        <i class="content-list-item__icon--composer" wf-icon="composer"></i>
    </a>
                <span ng-if="!contentItem.links.composer" title="View in Composer (unavailable)" class="content-list-item__icon--inactive">
                    <i class="content-list-item__icon--composer" wf-icon="composer" wf-icon-active="false"></i>
                </span>
</td>

<td class="content-list-item__field--preview">
    <a href="{{ contentItem.links.preview }}" title="Preview (opens in new window)" target="_blank" ng-if="contentItem.links.preview && !isSupportedAtomType" ng-click="$event.stopPropagation()">
        <i class="content-list-item__icon--preview" wf-icon="preview"></i>
    </a>
    <span ng-if="!contentItem.links.preview && !isSupportedAtomType" title="Preview (unavailable)" class="content-list-item__icon--inactive">
        <i class="content-list-item__icon--preview" wf-icon="preview" wf-icon-active="false"></i>
    </span>
</td>
<td class="content-list-item__field--live">
    <a href="{{ contentItem.links.live }}" title="View on Live site (opens in new window)" target="_blank" ng-if="contentItem.links.live && !isSupportedAtomType" ng-click="$event.stopPropagation()">
        <i class="content-list-item__icon--live" wf-icon="live-site"></i>
    </a>
    <span ng-if="!contentItem.links.live && !isSupportedAtomType" title="View on Live site (unavailable)" class="content-list-item__icon--inactive">
        <i class="content-list-item__icon--live" wf-icon="live-site" wf-icon-active="false"></i>
    </span>
</td>

<td class="content-list-item__field--media" ng-if="isSupportedAtomType">
    <a href="{{ contentItem.links.editor }}" title="View in editor (opens in new window)" target="_blank" ng-if="contentItem.links.editor" ng-click="$event.stopPropagation()" ng-switch="contentItem.contentType">
        <i
          ng-switch-when="media"
          class="content-list-item__icon--media" wf-icon="media">
        </i>
        <i
          ng-switch-when="chart"
          class="content-list-item__icon--media" wf-icon="chart">
        </i>
    </a>
    <span ng-if="!contentItem.links.editor && isSupportedAtomType" title="View in editor (unavailable)" class="content-list-item__icon--inactive">
        <i class="content-list-item__icon--media" wf-icon="media" wf-icon-active="false"></i>
    </span>
</td>

<td class="content-list-item__field--ophan">
    <a href="{{ contentItem.links.ophan }}" title="View in Ophan (opens in new window)" target="_blank" ng-if="contentItem.links.ophan" ng-click="$event.stopPropagation()">
        <i class="content-list-item__icon--ophan" wf-icon="ophan"></i>
    </a>
    <span ng-if="!contentItem.links.ophan" title="View in Ophan (unavailable)" class="content-list-item__icon--inactive">
        <i class="content-list-item__icon--ophan" wf-icon="ophan" wf-icon-active="false"></i>
    </span>
</td>
