<td class="content-list-item__field--needs-picture-desk" title="Needs Picture Desk: {{ contentItem.needsPictureDesk.toLowerCase() }}">

    <a target="_blank"
       href="{{pinboardInGridLink}}"
       ng-click="$event.stopPropagation()"
    >
        <i ng-if="contentItem.needsPictureDesk == 'REQUIRED'"
           class="content-list-item__icon--needs-picture-desk content-list-item__icon--inline"
           wf-icon="needs-picture-desk"
        ></i>
        <i ng-if="contentItem.needsPictureDesk == 'COMPLETE'"
           class="content-list-item__icon--needs-picture-desk content-list-item__icon--inline"
           wf-icon="needs-picture-desk-ticked"
        ></i>
    </a>

</td>
