<td class="content-list-item__field--needs-picture-desk" title="Needs Picture Desk: {{ contentItem.needsPictureDesk.toLowerCase() }}">

    <i ng-if="contentItem.needsPictureDesk == 'REQUIRED' || contentItem.needsPictureDesk == 'COMPLETE'" class="content-list-item__icon--incopy content-list-item__icon--inline" wf-icon="needs-picture-desk"></i>
    <i ng-if="contentItem.needsPictureDesk == 'COMPLETE'" class="content-list-item__icon--incopy content-list-item__icon--inline" wf-icon="needs-picture-desk-check"></i>

</td>
