<td class="content-list-item__field--presence">
    <wf-presence-indicators presence-id="contentItem.composerId"
        dont-display-idle="contentItem.contentType == 'liveblog'" ng-if="contentItem.composerId">
    </wf-presence-indicators>
    <wf-presence-indicators presence-id="'media-' + contentItem.item.editorId"
        ng-if="contentItem.contentType === 'media'">
    </wf-presence-indicators>
    <wf-presence-indicators presence-id="'chart-' + contentItem.item.editorId"
        ng-if="contentItem.contentType === 'chart'">
    </wf-presence-indicators>
</td>