<td class="content-list-item__field--published-state" title="Published state: {{ contentItem.lifecycleState || 'Draft' }}">
    <div class="content-list-item__field-primary--published-state" ng-repeat="publishState in contentItem.publishedStates" >{{ publishState.display }}
        <span class="content-list-item__field-supl--published-state" ng-if="publishState.suplDate">
            {{ (publishState.suplDate | wfLocaliseDateTime:$root.globalSettings.location | wfFormatDateTime:'ddd DD MMM HH:mm') }}
        </span>
    </div>
</td>
