<td class="content-list-item__field--publicationlocation" title="Publication Location">
    <span ng-show="contentItem.contentType == 'article'">
        <div ng-if="contentItem.actualPrintLocationDescription" class="actual-print-location">
            {{ contentItem.actualPrintLocationDescription }}
            <br/>
            {{ contentItem.actualNewspaperPageNumber }}
            <br/>
            {{ contentItem.actualNewspaperPublicationDate }}
        </div>
        <div ng-if="!(contentItem.actualPrintLocationDescription) && contentItem.plannedPrintLocationDescription" class="planned-print-location">
            {{ contentItem.plannedPrintLocationDescription }}
            <br/>
            {{ contentItem.plannedNewspaperPageNumber }}
            <br/>
            {{ contentItem.plannedNewspaperPublicationDate }}
        </div>
    </span>
</td>


