<td class="content-list-item__field--publicationlocation" title="Publication Location">
    <span ng-show="contentItem.contentType == 'article'">
        <div ng-if="contentItem.actualPrintLocationDescription" class="actual-print-location">
            {{ contentItem.actualPrintLocationDescription }}
            <br/>
            <div ng-if="contentItem.actualNewspaperPageNumber">
                Page {{ contentItem.actualNewspaperPageNumber }}
                <br/>
            </div>
            {{ contentItem.actualNewspaperPublicationDate | wfFormatDateTime:'ddd DD MMM'}}
        </div>
        <div ng-if="!(contentItem.actualPrintLocationDescription) && contentItem.plannedPrintLocationDescription" class="planned-print-location">
            {{ contentItem.plannedPrintLocationDescription }}
            <br/>
            <div ng-if="contentItem.plannedNewspaperPageNumber">
                Page {{ contentItem.plannedNewspaperPageNumber }}
                <br/>
            </div>
            {{ contentItem.plannedNewspaperPublicationDate | wfFormatDateTime:'ddd DD MMM'}}
        </div>
    </span>
</td>


