<td class="content-list-item__field--publicationlocation" title="Publication Location">
    <span ng-show="contentItem.contentType == 'article'">
        <div ng-if="contentItem.shortActualPrintLocationDescription"
             class="actual-print-location"
             title="{{ contentItem.longActualPrintLocationDescription }}">
            {{ contentItem.shortActualPrintLocationDescription }}
            <br/>
            <span ng-if="contentItem.actualNewspaperPageNumber">
                p. {{ contentItem.actualNewspaperPageNumber }},
            </span>
            {{ contentItem.actualNewspaperPublicationDate | wfFormatDateTime:'DD MMM'}}
        </div>
        <div
                ng-if="!(contentItem.shortActualPrintLocationDescription) && contentItem.shortPlannedPrintLocationDescription"
                class="planned-print-location"
                title="{{ contentItem.longPlannedPrintLocationDescription }}">
            {{ contentItem.shortPlannedPrintLocationDescription }}
            <br/>
            <span ng-if="contentItem.plannedNewspaperPageNumber">
                p. {{ contentItem.plannedNewspaperPageNumber }},
            </span>
            {{ contentItem.plannedNewspaperPublicationDate | wfFormatDateTime:'DD MMM'}}
        </div>
    </span>
</td>


