@import "layouts/global/mixins";

// Date Panel
// ---------------------------------------------------------- //

.date-list {
    overflow-x: auto;
    border-right: 1px solid $c-grey-400;
}

.date-list__list {
    color: #333333;
}

.date-list__date {
    padding: 2px 0 2px 9px;
    border-left: 3px solid #fff;
    margin-bottom: 1px;
    @extend %fs-data-4;
}

.date-list__date-note-list {
    list-style: disc outside;
    padding: 0 0 0 30px;
}

.date-list__date-note--entry {
    margin-left: 29px;
}

.date-list__date-note,
.date-list__date-date,
.date-list__date-items-indicator--faded {
    color: $c-grey-400;
    @extend %fs-data-2;
    line-height: 18px;
    line-height: 1.8rem;
    .editable__view-value {
        border: none;
        border-bottom-color: $c-grey-400;
    }
}

.date-list__date-note {
    display: inline-block;

    .editable__text-field {
        width: 270px;
        @include smallScreen {
            width: 195px;
        }
    }

    &:hover {
        color: $c-grey-700;
        .editable__view-value {
            border-bottom: 1px dashed $c-grey-700;
        }
    }
}

.date-list__date:hover{
    background-color: $c-grey-200;
    cursor: pointer;
}

.date-list__date--selected {
    border-left: 3px solid #00adee;
    background-color: $c-grey-200;
    .date-list__date-note {
        color: $c-grey-700;
        .editable__view-value {
            border-bottom-color: $c-grey-700;
        }
    }
    .date-list__date-title {
        font-weight: bold;
    }
}

.date-list__date--today {
    background-color: transparentize($c-composer-blue, 0.9);
}

.date-list__date--past {
    color: $c-grey-400;
}

.day-event:hover .add-event {
    display: block;
    border: 1px solid #000000;
    display: inline-block;
    width: 15px;
    text-align: center;
}

.label:hover .add-event {
    display: block;
    border: 1px solid #000000;
    display: inline-block;
    width: 15px;
    text-align: center;
}

.day-events {
    padding: 0 0 0 6px;
    margin: 2px 0 2px 4px;
    border-left: 1px solid $c-grey-600;
}

.day-event {
    border: none;
    //font-weight: bold;
    padding: 2px 0;
    @extend %fs-data-2;
}

.day-event-item {
    border: none;
    font-weight: normal;
    font-style: normal;
}

.add-event {
    display: none;
}

.date-note__actions {
    display: inline-block;
}

.date-note__action { // TODO finalise and tidy up stying for day note action

    color: $c-grey-400 !important;
    border-bottom: 1px solid transparent;

    .date-list__date-note-create-icon {
        height: 14px;
        width: 14px;
        transform: rotate(90deg);
        display: inline-block;
        position: relative;
        top: 2px;
        margin: 0 0 0 2px;
        svg {
            fill: #bdbdbd;
        }
    }

    &:hover {
        color: $c-grey-700 !important;
        border-bottom: 1px solid $c-grey-700;
        .date-list__date-note-create-icon svg {
            fill: #333333;
        }
    }
}
