@(title: String, user: Option[com.gu.pandomainauth.model.User], config: play.api.libs.json.JsObject)

@layout(title, user, config) {
  <div class="main" ui-view>
    @*<div class="splash__message">Loading...</div>*@
    <noscript class="splash__noscript"><p>Please enable JavaScript to use Workflow.</p></noscript>

      <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("static/spinner.css")"/>
      <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
      </div>

  </div>


  @*** SystemJS package manager setup ***@
  <script src="@routes.Assets.versioned("jspm_packages/system.js")"></script>
  <script src="@routes.Assets.versioned("config.js")"></script>
  <script>
    System.config({
        "map": {"presence-client":_wfConfig.presenceClientLib}
    });
    System.import('app').catch(function(error) {
        setTimeout(function() { throw error; }, 0);
    });
  </script>
  <script async src="https://apis.google.com/js/client.js?onload=init"></script>

  <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("app.bundle.css")"/>
}
