@(items: List[WorkflowContent], sections: List[Section], states: List[Status])
@import helper._
@import lib.Formatting._
@import models.Status

<div class="container-fluid top-control">
    <div class="row">
        <div class="col-md-12 header-bar">
            <div class="btn-group">
                <button type="button" class="btn btn-default">New stub</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Article</a>
                    </li>
                    <li><a href="#">Live blog</a>
                    </li>
                    <li><a href="#">Gallery</a>
                    </li>
                    <li><a href="#">Interactive</a>
                    </li>
                </ul>
            </div>

            <div class="constrain-by-desk-section" data-toggle="buttons">
                <!--						<div class="btn-group btn-default" data-toggle="buttons">
                      <label class="btn btn-default">
                        <input type="radio" name="options" id="option1"> Option 1
                      </label>
                      <label class="btn btn-default">
                        <input type="radio" name="options" id="option2"> Option 2
                      </label>
                      <label class="btn btn-default">
                        <input type="radio" name="options" id="option3"> Option 3
                      </label>
                    </div>-->

                <!--<div class="btn-group btn-group-sm">
                      <button type="button" class="btn btn-default">Desk</button>
                      <button type="button" class="btn btn-default">Section</button>
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </div>-->

                <div class="btn-group btn-group-sm" data-toggle="buttons">
                    <button type="button" class="btn btn-primary">Desk</button>
                    <button type="button" class="btn btn-default">Section</button>
                </div>

                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        UK News <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a>
                        </li>
                        <li><a href="#">Another action</a>
                        </li>
                        <li><a href="#">Something else here</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="constrain-by-date">
                <h4>Due by</h4>
                <div class="btn-group btn-group-sm" data-toggle="buttons">
                    <button type="button" class="btn btn-primary" ng-click="selectDate()">All</button>
                    <button type="button" class="btn btn-default" ng-click="selectDate('today')">Today</button>
                    <button type="button" class="btn btn-default" ng-click="selectDate('tomorrow')">Tomorrow</button>
                    <button type="button" class="btn btn-default" ng-click="selectDate('weekend')">This weekend</button>
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-calendar"></span>
                        <select disabled>
                            <option value="volvo">23 May 2014</option>
                            <option value="saab">24 May 2014</option>
                            <option value="opel">25 May 2014</option>
                            <option value="audi">26 May 2014</option>
                        </select>
                    </button>
                </div>
            </div>


        </div>
    </div>

</div>

<div class="container-fluid">
    <div id="content-container" class="" >
        <div id="sidebar-container" class="">
            <div class="sidebar">

                <h5 class="query ">Content type</h5>
                <div class="btn-group btn-group-xs " data-toggle="buttons ">
                    <button type="button " class="btn btn-default active ">All</button>
                    <button type="button " class="btn btn-default "><span class="glyphicon glyphicon-file "></span>
                    </button>
                    <button type="button " class="btn btn-default "><span class="glyphicon glyphicon-th-list "></span>
                    </button>
                    <button type="button " class="btn btn-default "><span class="glyphicon glyphicon-camera "></span>
                    </button>
                    <button type="button " class="btn btn-default "><span class="glyphicon glyphicon-hand-up "></span>
                    </button>
                </div>

                <h5 class="query" data-toggle="collapse" data-target="#status">Status</h5>
                <ul id="status" class="nav nav-sidebar">
                    <li class="active">
                        <a href="#">All</a>
                    </li>
                    @for(status <- List("Writers", "Subs", "Desk", "Live")) {
                        <li>
                            <a href="# ">
                                @status
                                @defining(items.count(_.status.name == status)) { count =>
                                    @if(count > 0) {
                                        <span class="badge ">@count</span>
                                    }
                                }
                            </a>
                        </li>
                    }
                </ul>

                <h5 class="query" data-toggle="collapse" data-target="#state">State</h5>
                <ul id="state" class="nav nav-sidebar">
                    <li ng-class="{active: stateIsSelected()}" >
                        <a href="" ng-click="selectState(null)">All</a>
                    </li>
                    <!--<li><a href=" ">Stub</a>-->
                    <!--</li>-->
                    <li ng-class="{active: stateIsSelected('draft')}">
                        <a href="" ng-click="selectState('draft')" >Draft</a>
                    </li>
                    <li ng-class="{active: stateIsSelected('published')}">
                        <a href="" ng-click="selectState('published')">Published</a>
                    </li>
                </ul>

                <h5 class="query" data-toggle="collapse" data-target="#other">Other stuffs</h5>
                <ul id="other" class="nav nav-sidebar">
                    <li><a href=" ">Nav item again</a>
                    </li>
                    <li><a href=" ">One more nav</a>
                    </li>
                    <li><a href=" ">Another nav item</a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="content" class="">


            <table class="table ">
                <caption>Active stuff</caption>

                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Working title <span style="font-size: 90%; color: #666; font-weight:normal; ">and headline</span>
                    </th>
                    <th></th>
                    <th>Legal</th>
                    <th>In use by</th>
                    <th>Assigned to</th>
                    <th>Due by</th>
                    <th>Embargoed?</th>
                    <th>Notes</th>
                </tr>
                </thead>

                <tbody>

                <tr class="wf-table-grouping ">
                    <td class="wf-table-heading " colspan="12 ">WRITING</td>
                </tr>

                <tr ng-repeat="content in contentItems" ng-click="showDetail(content)">
                    <td>
                        <span class="glyphicon glyphicon-file" ng-show="content.type==='article'"></span>
                        <span class="glyphicon glyphicon-camera" ng-show="content.type==='gallery'"></span>
                    </td>
                    <td>
                        <!-- <span class="glyphicon glyphicon-exclamation-sign "></span> -->
                    </td>
                    <td>
                         <span class="glyphicon glyphicon-comment"  ng-show="content.commentable"></span>
                    </td>
                    <td>
                        <!-- <span class="glyphicon glyphicon-picture "></span> -->
                    </td>
                    <td colspan="2 "><strong>{{content.workingTitle}}</strong>
                        <br />
                        <span style="font-size: 90%; color: #666; line-height: 1em; ">
                            {{content.headline}}
                        </span>
                    </td>
                    <td>n/a</td>
                    <td></td>
                    <td>{{content.assignee}}</td>
                    <td>{{content.due | formatDateTime }}</td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>

        </div>

        <div id="detail" class="">
            <div class="detail-panel" ng-show="selectedContent">
                <h4>{{ selectedContent.headline || selectedContent.workingTitle }}</h4>

                <h5>Timing</h5>
                <dl class="dl-horizontal">
                    <dt>Production deadline</dt>
                        <dd>{{ selectedContent.due | formatDateTime }}</dd>
                    <dt>Last launched</dt>
                        <dd>-</dd>
                    <dt>Last modified</dt>
                        <dd>{{ (selectedContent.lastModification.dateTime | formatDateTime) || "-" }}</dd>
                </dl>
                <hr />

                <h5>People</h5>
                <dl class="dl-horizontal">
                    <dt>Last modified by</dt>
                        <dd>{{ selectedContent.lastModification.user || "-" }}</dd>
                    <dt>Assigned to</dt>
                        <dd>{{ selectedContent.assignee || "-" }}</dd>
                </dl>
                <hr />
            </div>
        </div>
    </div>
</div>
