@(items: Map[String, WorkflowContent])

@main("Content Dashboard") {
  <table class="table table-striped">
      <tr>
          <th>Working Title / Path</th>
          <th>Contributors</th>
          <th>Last Modified</th>
          <th>By</th>
          <th>What Changed</th>
          <th>Status</th>
          <th>Desk</th>
      </tr>
      @for((path, content) <- items) {
        <tr>
            <td>
                @content.workingTitle match {
                  case Some(title) => {
                    <h3>@title</h3>
                    <small>@path</small>
                  }
                  case None => {
                    @path
                  }
                }
            </td>
            <td>@content.contributors.map(_.name).mkString(", ")</td>
            <td>@content.lastModification.dateTime</td>
            <td>@content.lastModification.user.getOrElse("unknown")</td>
            <td>@content.lastModification.whatChanged</td>
            <td>@content.status</td>
            <td>@content.desk</td>
        </tr>
      }
  </table>
}
