@(items: List[WorkflowContent], sections: List[Section], states: List[Status])
@import helper._
@import lib.Formatting._
@import models.Status
@main("Content Dashboard") {

 <div class="row">
   <div class="col-md-2">
       <h3>Filters</h3>
     <form id="filter_form">
       <div class="well well-sm">
           <h4>Due date</h4>
           <ul class="list-unstyled">
               <li>
                   <input type="checkbox" id="filter_form_due_today">
                   <label for="filter_form_due_today">today</label>
               </li>
               <li>
                   <input type="checkbox" id="filter_form_due_tomorrow">
                   <label for="filter_form_due_tomorrow">tomorrow</label>
               </li>
           </ul>
       </div>
       <p><input type="submit" value="Apply" /></p>
       <p><a href="/content">Clear filters</a></p>
     </form>
   </div>
   <div class="col-md-10">
     <div class="table">
       <table class="table table-striped">
           <tr>
               <th>Working Title</th>
               <th>Path</th>
               <th>Headline</th>
               <th>Slug</th>
               <th>Content Type</th>
               <th>Section</th>
               <th>Due by</th>
               <th>Last Modified</th>
               <th>Status</th>
           </tr>
           @for(content <- items) {
           <tr data-content=@content.id>
               <td>
                   @content.workingTitle
               </td>
               <td>
                   @content.path
               </td>
               <td>
                   @content.headline
               </td>
               <td>
                   @content.slug
               </td>
               <td>
                   @{content.`type`}
               </td>
               <td>
                   @content.section
               </td>
               <td>
                   @content.due.map(displayDate)
               </td>
               <td>
                 @for(mod<-content.lastModification){
                   @displayDate(mod.dateTime)
                   @for(user <- mod.user){ by @user }
                 }
               </td>
               <td>
                   @content.status
               </td>
           </tr>
           }
       </table>
     </div>
   </div>
 </div>

<script>

  function formatDateForUri(date) {
    return encodeURIComponent(moment(date).format("YYYY-MM-DDTHH:mm:ssZ"));
  }

  $('#filter_form').on('submit', function(event) {

    var today = moment().startOf('day');
    var tomorrow = today.clone().add('days', 1)

    var due_from = [];
    var due_until = [];

    if ($('#filter_form_due_today').is(':checked')) {
      due_from.push(today);
      due_until.push(tomorrow);
    }

    if ($('#filter_form_due_tomorrow').is(':checked')) {
      due_from.push(tomorrow);
      var until = tomorrow.clone().add('days', 1);
      due_until.push(until);
    }

    var uri =
      "/content?due.from=" + formatDateForUri(due_from.shift()) +
      "&due.until=" + formatDateForUri(due_until.pop());

    window.location = uri;

    return false;
  });

</script>
}
