@(sections: List[Section], statuses: List[Status])
@import helper._
@import lib.Formatting._
@import lib.Composer._
@import models.Status

<div class="container-fluid top-control">
    <div class="row" common-filters></div>
</div>

<div class="container-fluid">
    <div id="content-container" class="" >
        <div id="sidebar-container" class="">
            <div class="sidebar">

                <h5 class="query ">Content type</h5>
                <div class="btn-group btn-group-xs">
                    <button type="button " class="btn btn-default" title="all"
                            ng-model="selectedContentType"
                            btn-radio="">All</button>
                    <button type="button " class="btn btn-default" title="article"
                            ng-model="selectedContentType"
                            btn-radio="'article'">
                        <span class="glyphicon glyphicon-file"></span>
                    </button>
                    <button type="button " class="btn btn-default" title="liveblog"
                            ng-model="selectedContentType"
                            btn-radio="'liveblog'">
                        <span class="glyphicon glyphicon-th-list "></span>
                    </button>
                    <button type="button" class="btn btn-default" title="gallery"
                            ng-model="selectedContentType"
                            btn-radio="'gallery'">
                        <span class="glyphicon glyphicon-camera "></span>
                    </button>
                    <button type="button " class="btn btn-default" title="interactive"
                            ng-model="selectedContentType"
                            btn-radio="'interactive'">
                        <span class="glyphicon glyphicon-hand-up "></span>
                    </button>
                </div>

                <h5 class="query" data-toggle="collapse" data-target="#status">Status</h5>
                <ul id="status" class="nav nav-sidebar">
                    <li  ng-class="{active: statusIsSelected()}">
                        <a href="" ng-click="selectStatus(null)">All</a>
                    </li>
                    <li ng-class="{active: statusIsSelected('Writers')}">
                        <a href="" ng-click="selectStatus('Writers')" >
                            Writers
                        </a>
                    </li>
                    <li ng-class="{active: statusIsSelected('Desk')}">
                        <a href="" ng-click="selectStatus('Desk')" >
                            Desk
                        </a>
                    </li>
                    <li ng-class="{active: statusIsSelected('Subs')}">
                        <a href="" ng-click="selectStatus('Subs')" >
                            Subs
                        </a>
                    </li>
                    <li ng-class="{active: statusIsSelected('Revise')}">
                        <a href="" ng-click="selectStatus('Revise')" >
                            Revise
                        </a>
                    </li>
                    <li ng-class="{active: statusIsSelected('Final')}">
                        <a href="" ng-click="selectStatus('Final')" >
                            Final
                        </a>
                    </li>
                </ul>

                <h5 class="query" data-toggle="collapse" data-target="#state">State</h5>
                <ul id="state" class="nav nav-sidebar">
                    <li ng-class="{active: stateIsSelected()}" >
                        <a href="" ng-click="selectState(null)">All</a>
                    </li>
                    <li ng-class="{active: stateIsSelected('draft')}">
                        <a href="" ng-click="selectState('draft')" >Draft</a>
                    </li>
                    <li ng-class="{active: stateIsSelected('published')}">
                        <a href="" ng-click="selectState('published')">Published</a>
                    </li>
                </ul>

            </div>
        </div>

        <div id="stubs-column" class="">
            <div ng-repeat="stub in stubs" class="stub">
                <ul>
                <li class="secondary-info">{{stub.due | formatDateTime }}</li>
                <li><strong>{{stub.title}}</strong></li>
                <li class="secondary-info">
                    {{stub.assignee}} | {{stub.section}}
                    <span class="trash-right"><button class="btn warning btn-xs" ng-click="deleteStub(stub)"><span class="glyphicon glyphicon-trash"></span></button></span>
                </li>
                <li class="stub-controls">
                    <button class="btn btn-default btn-xs" ng-click="editStub(stub)">Edit stub</button>
                    <button class="btn btn-default btn-xs"
                            data-toggle="modal"
                            ng-hide="stub.composerId"
                            data-target="#composerModal" ng-click="addToComposer(stub)">
                        Create in Composer
                    </button>
                </li>
                </ul>
            </div>

        </div>

        <div id="content" class="">


            <table class="table ">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Working title <span style="font-size: 90%; color: #666; font-weight:normal; ">and headline</span>
                    </th>
                    <th></th>
                    <th>Legal</th>
                    <th>In use by</th>
                    <th>Assigned to</th>
                    <th>Due by</th>
                    <th>Notes</th>
                    <th>Status</th>
                </tr>
                </thead>

                <tbody>

                <tr ng-repeat="content in contentItems" ng-controller="ContentItemCtrl" ng-click="showDetail(content)" ng-model="content">
                    <td>
                        <span class="glyphicon glyphicon-file" ng-show="content.type==='article'"></span>
                        <span class="glyphicon glyphicon-th-list" ng-show="content.type==='liveblog'"></span>
                        <span class="glyphicon glyphicon-camera" ng-show="content.type==='gallery'"></span>
                        <span class="glyphicon glyphicon-hand-up" ng-show="content.type==='interactive'"></span>
                    </td>
                    <td>
                        <!-- <span class="glyphicon glyphicon-exclamation-sign "></span> -->
                    </td>
                    <td>
                         <span class="glyphicon glyphicon-comment"  ng-show="content.commentable"></span>
                    </td>
                    <td>
                        <!-- <span class="glyphicon glyphicon-picture "></span> -->
                    </td>
                    <td colspan="2 "><strong><a href=@adminUrl/{{content.composerId}} target="_blank" >{{content.workingTitle}}</a></strong>
                        <br />
                        <span style="font-size: 90%; color: #666; line-height: 1em; ">
                            {{content.headline}}
                        </span>
                    </td>
                    <td>n/a</td>
                    <td></td>
                    <td>{{content.assignee}}</td>
                    <td>{{content.due | formatDateTime }}</td>
                    <td></td>
                    <td><select id="selectStatus" name="selectStatus" ng-model="content.status">
                        @for(status <- statuses) {
                            <option value="@status">@status</option>
                        }
                    </select></td>
                </tr>
                </tbody>
            </table>

        </div>

        <div id="detail" class="">
            <div class="detail-panel" ng-show="selectedContent">
                <h4>{{ selectedContent.headline || selectedContent.workingTitle }}</h4>

                <h5>Timing</h5>
                <dl class="dl-horizontal">
                    <dt>Production deadline</dt>
                        <dd>{{ selectedContent.due | formatDateTime }}</dd>
                    <dt>Last launched</dt>
                        <dd>-</dd>
                    <dt>Last modified</dt>
                        <dd>{{ (selectedContent.lastModification.dateTime | formatDateTime) || "-" }}</dd>
                </dl>
                <hr />

                <h5>People</h5>
                <dl class="dl-horizontal">
                    <dt>Last modified by</dt>
                        <dd>{{ selectedContent.lastModification.user || "-" }}</dd>
                    <dt>Assigned to</dt>
                        <dd>{{ selectedContent.assignee || "-" }}</dd>
                </dl>
                <hr />
            </div>
        </div>

        <!--- this section is the new/edit stubs modal form  -->
        <div ng-controller="StubModalCtrl">

            <script type="text/ng-template" id="stubModalContent.html">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
                    <h4 class="modal-title">Create new stub</h4>
                </div>
                <form>
                    <input type="hidden" ng-model="stubForm.id" />
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="title">Stub title *</label>
                            <input type="text" ng-model="stubForm.title" id="title" name="title" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="section">section</label>
                            <select id="section" name="section" ng-model="stubForm.section" ng-options="section for section in sections"></select>
                        </div>
                        <div class="form-group">
                            <label for="due">Due by</label>
                            <div class="dropdown">
                                <a class="dropdown-toggle my-toggle-select" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="">
                                    <div class="input-append">
                                        <input type="text" class="form-control" id="due" name="due" datetime data-ng-model="stubForm.due"><span class="add-on"><i
                                            class="icon-calendar"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="stubForm.due"
                                                    data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }"></datetimepicker>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="assignee">Assign to</label>
                            <input type="text" ng-model="stubForm.assignee" id="assignee" name="assignee" value="" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>content type</label>
                            <select ng-model="stubForm.contentType">
                                <option value="article">Article</option>
                                <option value="liveblog">Live blog</option>
                                <option value="gallery">Gallery</option>
                                <option value="interactive">Interactive</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
                        <button type="submit" class="btn btn-default" ng-click="ok(addToComposer=true)" ng-disabled="disabled">Create in Composer</button>
                        <button type="submit" class="btn btn-primary" ng-click="ok(addToComposer=false)">Save stub</button>
                    </div>
                </form>
            </script>
        </div>

        <!--- this is the composer modal  -->
        <div ng-controller="ComposerModalCtrl">
            <script type="text/ng-template" id="composerModalContent.html">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
                    <h3 class="modal-title">Create in Composer</h3>
                </div>
                <div class="modal-body">
                    <p>Select content type</p>
                    <select id="contentType" name="contentType" ng-model="type.contentType">
                        <option value="article">Article</option>
                        <option value="liveblog">Live Blog</option>
                        <option value="gallery">Gallery</option>
                        <option value="interactive">Interactive</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                    <button class="btn btn-primary" ng-click="ok()">Create in Composer</button>
                </div>
            </script>
        </div>

    </div>
</div>
