@(sections: List[Section], statuses: List[Status])
@import helper._
@import lib.Formatting._
@import lib.Composer._
@import models.Status

<div class="container-fluid top-control">
    <div class="top-toolbar row header-bar">

            <div class="top-toolbar__prod-office">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="prodOffice_dropdown">Office</label>
                        <div class="col-sm-8">
                            <select class="form-control input-sm" id="prodOffice_dropdown" ng-model="selectedProdOffice" ng-options="office.value as office.name for office in prodOffices">
                                <option value="">All</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="top-toolbar__section-selector">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="section_dropdown" class="col-sm-4 control-label">Section</label>
                        <div class="col-sm-8">
                            <select id="section_dropdown" class="form-control input-sm" ng-model="selectedSection" ng-options="s for s in sections">
                                <option value="">All sections</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>

            <div class="top-toolbar__due-by-filter">
                <div ng-controller="DateFilterCtrl" class="date-filter">
                    <label class="date-filter__label">Due by</label>
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-default" ng-model="selectedDate" btn-radio="">All</button>
                        <button type="button" class="btn btn-default" ng-model="selectedDate" btn-radio="'today'">Today</button>
                        <button type="button" class="btn btn-default date-filter__button--optional" ng-model="selectedDate" btn-radio="'tomorrow'">Tomorrow</button>
                        <button type="button" class="btn btn-default" ng-model="selectedDate" btn-radio="'weekend'">This weekend</button>
                        <span class="btn btn-default" title="Select date">
                            <span class="glyphicon glyphicon-calendar"></span>
                            <select ng-model="selectedDate" ng-options="date as (date | wfLocaliseDateTime | wfFormatDateTime:'ddd D MMMM') for date in dateOptions">
                            </select>
                        </span>
                    </div>
                </div>
            </div>

            <div id="presence-connection" ng-class="presence_connection">[WS]</div>

        </div>

    </div>
</div>

<div class="container-fluid">
    <div id="content-container" class="" >
        <div id="sidebar-container" class="">
            <div class="sidebar">
                <div class="sidebar__location-picker dropdown" ng-controller="wfLocationPickerController as locationPicker" is-open="locationPicker.open">
                    <button class="dropdown-toggle btn btn-default btn-sm" type="button" id="locationDropdownButton">
                        {{ locationPicker.locations[locationPicker.locationKey].title }}
                        <span class="sidebar__location-picker-localtime">{{ locationPicker.now | wfLocaliseDateTime | wfFormatDateTime:'HH:mm' }}</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="sidebar__location-picker-menu dropdown-menu" role="menu" aria-labelledby="locationDropdownButton">
                        <li ng-repeat="(key, location) in locationPicker.locations">
                            <a class="sidebar__location-picker-menuitem" role="menuitem" href="" ng-click="locationPicker.locationKey = key; locationPicker.open = false" tabindex="-1">
                                <span class="sidebar__location-picker-localtime--inmenu pull-right">{{ locationPicker.now | wfLocaliseDateTime:key | wfFormatDateTime:'HH:mm z' }}</span>
                                {{ location.title }}
                            </a>
                        </li>
                    </ul>
                </div>


                <h5 class="query ">Content type</h5>
                <div class="btn-group btn-group-xs">
                    <button type="button " class="btn btn-default" title="all"
                            ng-model="selectedContentType"
                            btn-radio="">All</button>
                    <button type="button " class="btn btn-default" title="article"
                            ng-model="selectedContentType"
                            btn-radio="'article'">
                        <span class="glyphicon glyphicon-file"></span>
                    </button>
                    <button type="button " class="btn btn-default" title="liveblog"
                            ng-model="selectedContentType"
                            btn-radio="'liveblog'">
                        <span class="glyphicon glyphicon-th-list "></span>
                    </button>
                    <button type="button" class="btn btn-default" title="gallery"
                            ng-model="selectedContentType"
                            btn-radio="'gallery'">
                        <span class="glyphicon glyphicon-camera "></span>
                    </button>
                    <button type="button " class="btn btn-default" title="interactive"
                            ng-model="selectedContentType"
                            btn-radio="'interactive'">
                        <span class="glyphicon glyphicon-hand-up "></span>
                    </button>
                </div>

                <h5 class="query" data-toggle="collapse" data-target="#status">Status</h5>
                <ul id="status" class="nav nav-sidebar">
                    <li  ng-class="{active: statusIsSelected()}">
                        <a href="" ng-click="selectStatus(null)">All</a>
                    </li>
                    <li ng-repeat="status in statuses" ng-class="{active: statusIsSelected(status)}">
                        <a href="" ng-click="selectStatus(status)" >
                            {{ status }}
                        </a>
                    </li>
                </ul>

                <h5 class="query" data-toggle="collapse" data-target="#state">State</h5>
                <ul id="state" class="nav nav-sidebar">
                    <li ng-class="{active: stateIsSelected()}" >
                        <a href="" ng-click="selectState(null)">All</a>
                    </li>
                    <li ng-class="{active: stateIsSelected('draft')}">
                        <a href="" ng-click="selectState('draft')" >Draft</a>
                    </li>
                    <li ng-class="{active: stateIsSelected('published')}">
                        <a href="" ng-click="selectState('published')">Published</a>
                    </li>
                </ul>

                <h5 class="query" data-toggle="collapse" data-target="#flags">Flags</h5>
                <ul id="flags" class="nav nav-sidebar">
                    <li ng-class="{active: flagActive('needsLegal')}" >
                        <a href="" ng-click="toggleFlag('needsLegal')">Needs legal</a>
                    </li>
                </ul>

                <h5 class="query" data-toggle="collapse" data-target="createdAt">Creation date</h5>
                <ul id="createdAt" class="nav nav-sidebar" ng-controller="CreatedAtFilter">
                    <li ng-repeat="cannedFilter in cannedFilters" ng-class="{active: filterIsSelected(cannedFilter)}">
                        <a href="" ng-click="filterClick(cannedFilter)">
                            {{cannedFilter.caption}}
                        </a>
                    </li>
                </ul>

            </div>
        </div>

        <div id="stubs-column" class="">
            <h4>Stubs</h4>
            <div class="stubs-column__new-stub-wrapper">
                <div class="stubs-column__new-stub-cta btn-group" ng-controller="NewStubDropdownCtrl" dropdown>
                    <button type="button" class="btn btn-default" ng-click="newStub()"><span class="glyphicon glyphicon-pencil"></span><span class="stubs-column__new-stub-cta-label">New Stub</span></button>
                    <button type="button" class="btn btn-default dropdown-toggle">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-click="newStub('article')">Article</a></li>
                        <li><a ng-click="newStub('liveblog')">Live blog</a></li>
                        <li><a ng-click="newStub('gallery')">Gallery</a></li>
                        <li><a ng-click="newStub('interactive')">Interactive</a></li>
                        <li class="divider"></li>
                        <li><a ng-click="importFromComposer()">Import from Composer</a></li>
                    </ul>
                </div>
            </div>
            <div ng-repeat="stub in stubs track by stub.id" class="stub stubs-column__stub">
                <ul>
                <li class="secondary-info">{{stub.due | wfLocaliseDateTime | wfFormatDateTime }}</li>
                <li>
                    <span class="glyphicon glyphicon-file" ng-show="stub.contentType==='article'"></span>
                    <span class="glyphicon glyphicon-th-list" ng-show="stub.contentType==='liveblog'"></span>
                    <span class="glyphicon glyphicon-camera" ng-show="stub.contentType==='gallery'"></span>
                    <span class="glyphicon glyphicon-hand-up" ng-show="stub.contentType==='interactive'"></span>
                    <strong>{{stub.title}}</strong>
                </li>
                <li class="secondary-info">
                    {{stub.assignee}} | {{stub.section}}
                    <span class="glyphicon glyphicon-exclamation-sign" ng-show="stub.priority===1"></span>
                    <span class="glyphicon glyphicon-exclamation-sign" ng-show="stub.priority===2"></span>
                    <span class="glyphicon glyphicon-exclamation-sign" ng-show="stub.priority===2"></span>
                    <span class="trash-right"><button class="btn warning btn-xs" ng-click="deleteStub(stub)"><span class="glyphicon glyphicon-trash"></span></button></span>
                </li>
                <li class="stub-controls">
                    <button class="btn btn-default btn-xs" ng-click="editStub(stub)">Edit stub</button>
                    <button class="btn btn-default btn-xs"
                            data-toggle="modal"
                            ng-hide="stub.composerId"
                            data-target="#composerModal" ng-click="addToComposer(stub)">
                        Create in Composer
                    </button>
                </li>
                </ul>
            </div>

        </div>

        <div id="content" class="">

            <div class="alert alert-danger" ng-if="getContentError">
              There was a problem contacting the server, please try to <a href="javascript:window.location.reload()">reload</a> the page. If the problem continues, please contact <a href="mailto:cms.workflow@@guardian.co.uk">the Workflow team</a>.
            </div>

            <table class="content-list table">
                <thead class="content-list__head">
                <tr>
                    <th colspan="4"></th>
                    <th>Working title / Headline</span></th>
                    <th></th>
                    <th>Section</th>
                    <th>Assigned to</th>
                    <th>Production deadline</th>
                    <th>Created at</th>
                    <th>Status</th>
                    <th>State</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                        <tr ng-repeat-start="status in statuses" >
                            <td colspan="13" ng-show="contentByStatus[status]" class="status-cell" style="height: 15px; padding: 5px;">{{ status }}</td>
                        </tr>
                        <tr class="content-list__item-row" ng-repeat="content in contentByStatus[status] track by content.composerId" ng-controller="ContentItemCtrl" ng-click="showDetail(content)" ng-model="content" ng-class="{ 'content-list__item-row--selected': selectedContent === content }">

                            <td>
                                <span class="glyphicon glyphicon-file" ng-show="content.contentType==='article'"></span>
                                <span class="glyphicon glyphicon-th-list" ng-show="content.contentType==='liveblog'"></span>
                                <span class="glyphicon glyphicon-camera" ng-show="content.contentType==='gallery'"></span>
                                <span class="glyphicon glyphicon-hand-up" ng-show="content.contentType==='interactive'"></span>
                            </td>
                            <td>
                                <span class="glyphicon glyphicon-exclamation-sign" ng-show="content.priority===1"></span>
                                <span class="glyphicon glyphicon-exclamation-sign" ng-show="content.priority===2"></span>
                                <span class="glyphicon glyphicon-exclamation-sign" ng-show="content.priority===2"></span>
                            </td>
                            <td>
                                <span class="glyphicon glyphicon-comment"  ng-show="content.commentable"></span>
                            </td>
                            <td>
                                <span class="glyphicon glyphicon-eye-open"  ng-show="content.needsLegal === 'REQUIRED'"></span>
                            </td>
                            <td colspan="2 ">
                                <p><a href=@adminUrl/{{content.composerId}} target="_blank" >{{content.headline || content.workingTitle}}</a></p>
                                <p class="content-list__item-row-note" ng-show="content.note && content.note.length > 0"><span>Note:</span> {{content.note}}</p>
                            </td>
                            <td>{{content.section}}</td>
                            <td>{{content.assignee}}</td>
                            <td title="{{content.due | wfLocaliseDateTime | wfFormatDateTime:'long' }}">{{content.due | wfLocaliseDateTime | wfFormatDateTime }}</td>
                            <td title="{{content.createdAt | wfLocaliseDateTime | wfFormatDateTime:'long' }}">{{content.createdAt | wfLocaliseDateTime | wfFormatDateTime }}</td>
                            <td><select id="selectStatus" name="selectStatus" ng-model="content.status">
                                <option ng-repeat="s in statuses">{{ s }}</option>
                            </select></td>
                            <td class="content-list__item-published"><p ng-show="content.published">Published<br/><span class="small">{{ content.timePublished | wfLocaliseDateTime | wfFormatDateTime:'DD MMM, HH:mm' }}</span></p>
                                <p ng-show="!content.published">Draft</p>
                                <p ng-class="'content-list__item-presence__' + status" ng-controller="wfPresenceIndicatorController">{{indicatorText}}</p>
                            </td>
                            <td><span ng-click="deleteContent(content)" class="glyphicon glyphicon-trash"></span></td>
                        </tr>
                    <tr ng-repeat-end></tr>
                </tbody>
            </table>

        </div>

        <div id="detail" class="detail">
            <div class="detail-panel" ng-show="selectedContent">
                <h4>Details</h4>
                <dl>
                    <dt>Headline</dt>
                    <dd ng-show="selectedContent.headline">{{ selectedContent.headline }}</dd>
                    <dd ng-hide="selectedContent.headline"><em>No headline set</em></dd>
                    <dt>Working title</dt>
                    <dd>{{ selectedContent.workingTitle }}</dd>

                </dl>

                <div ng-show="selectedContent.published">
                    <h5>View in Ophan</h5>
                    <a href="http://dashboard.ophan.co.uk/summary?path=/{{ selectedContent.path }}" target="_blank">
                        <img src="http://sparklines.ophan.co.uk/png?showStats=1&showHours=1&width=150&height=50&page=/{{ selectedContent.path }}">
                    </a>
                </div>
                <h5>Timing</h5>
                <dl>
                    <dt>Production deadline</dt>
                        <dd>
                            <span ng-hide="dateTimeEdit" ng-click="dateTimeEdit = true" ng-class="{ 'detail__data--editable': selectedContent.due, 'detail__data--editable-empty': !selectedContent.due }" title="{{ (selectedContent.due | wfLocaliseDateTime | wfFormatDateTime:'long') || '' }}">
                                {{ (selectedContent.due | wfLocaliseDateTime | wfFormatDateTime) || 'None' }}
                            </span>
                            <form ng-show="dateTimeEdit" ng-submit="dateTimeEdit = false">
                                <div wf-date-time-picker ng-model="selectedContent.due" wf-on-cancel="dateTimeEdit = false" wf-update-on="none" wf-cancel-on="blur" wf-on-update="dueDateUpdated(); dateTimeEdit = false" wf-small="true"></div>
                            </form>
                        </dd>
                    <dt>Time published</dt>
                        <dd title="{{ (selectedContent.timePublished | wfLocaliseDateTime | wfFormatDateTime:'long') || '-' }}">
                            {{ (selectedContent.timePublished | wfLocaliseDateTime | wfFormatDateTime) || "-" }}
                        </dd>
                    <dt>Last modified</dt>
                        <dd title="{{ (selectedContent.lastModified | wfLocaliseDateTime | wfFormatDateTime:'long') || '-' }}">
                            {{ (selectedContent.lastModified | wfLocaliseDateTime | wfFormatDateTime) || "-" }}
                        </dd>
                    <dt>Production Office</dt>
                        <dd><select id="stub_detail_prodOffice" name="prodOffice"
                                    ng-model="selectedContent.prodOffice"
                                    ng-change="updateProdOffice(selectedContent.stubId, selectedContent.prodOffice)" ng-options="office.value as office.name for office in prodOffices">
                            </select>
                        </dd>
                </dl>
                <hr />

                <div>
                  <h5>Note</h5>
                  <p class="content-note">
                    <span class="detail__data--editable" editable-textarea="selectedContent.note"
                      onbeforesave="updateNote(selectedContent.stubId, $data)">{{selectedContent.note || 'Add note'}}</span>
                  </p>
                </div>

                <hr />

                <h5>People</h5>
                <dl>
                    <dt>Last modified by</dt>
                        <dd>{{ selectedContent.lastModifiedBy || "-" }}</dd>
                    <dt>Assigned to</dt>
                    <dd>
                        <span class="detail__data--editable" editable-text="selectedContent.assignee" buttons="no" onbeforesave="updateAssignee(selectedContent.stubId, $data)">{{ selectedContent.assignee || "None" }}</span>
                    </dd>
                    <dt>Legal</dt>
                        <dd><select id="stub_detail_legal" name="needsLegal"
                                    ng-model="selectedContent.needsLegal"
                                    ng-options="ls.value as ls.name for ls in legalStates"
                                    ng-change="updateNeedsLegal()">
                            </select>
                        </dd>
                </dl>
            </div>
        </div>

        <!--- this section is the new/edit stubs modal form  -->
        <div ng-controller="StubModalCtrl">

            <script type="text/ng-template" id="stubModalContent.html">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
                    <h4 class="modal-title">Create new stub</h4>
                </div>
                <form name="stubForm">
                    <input type="hidden" ng-model="stub.id" />
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="stub_title">Stub title *</label>
                            <input type="text" ng-model="stub.title" id="stub_title" name="title" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="stub_section">section</label>
                            <select id="stub_section" name="section" ng-model="stub.section" ng-options="section for section in sections"></select>
                        </div>
                        <div class="form-group">
                            <div wf-date-time-picker label="Production deadline" help-text="true" ng-model="stub.due"/>
                        </div>
                        <div class="form-group clearfix">
                            <div class="pull-left">
                                <label for="stub_priority">Priority</label>
                                <div class="btn-group">
                                    <label class="btn btn-default btn-sm" ng-model="stub.priority" btn-radio="0">.</label>
                                    <label class="btn btn-default btn-sm" ng-model="stub.priority" btn-radio="1">!</label>
                                    <label class="btn btn-default btn-sm" ng-model="stub.priority" btn-radio="2">!!</label>
                                </div>
                            </div><div class="pull-right">
                                <label for="stub_legal">Legal</label>
                                <select id="stub_legal" name="needsLegal" ng-model="stub.needsLegal" ng-options="ls.value as ls.name for ls in legalStates"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="stub_assignee">Assign to</label>
                            <input type="text" ng-model="stub.assignee" id="stub_assignee" name="assignee" value="" class="form-control">
                        </div>
                        <div class="form-group clearfix">
                          <div class="pull-left">
                            <label>content type</label>
                            <select ng-model="stub.contentType">
                                <option value=""></option>
                                <option value="article">Article</option>
                                <option value="liveblog">Live blog</option>
                                <option value="gallery">Gallery</option>
                                <option value="interactive">Interactive</option>
                            </select>
                          </div>
                          <div class="pull-right">
                            <label>production office</label>
                            <select ng-model="stub.prodOffice"
                                    ng-options="office.value as office.name for office in prodOffices">
                            </select>
                          </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
                        <button type="button" class="btn btn-default" ng-click="ok(addToComposer=true)" ng-disabled="disabled || stubForm.$invalid">Create in Composer</button>
                        <button type="submit" class="btn btn-primary" ng-click="ok(addToComposer=false)" ng-disabled="stubForm.$invalid">Save stub</button>
                    </div>
                </form>
            </script>
        </div>

        <!--- this section is the create stub from composer content modal  -->
        <div ng-controller="ComposerImportModalCtrl">

            <script type="text/ng-template" id="composerImportModalContent.html" ng-class="stubModal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
                    <h4 class="modal-title">Import from composer</h4>
                </div>
                    <input type="hidden" ng-model="stub.id" />
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="stub_title">Composer url *</label>
                            <input type="text" ng-model="formData.composerUrl" ng-change="composerUrlChanged()" id="composer_url" name="composerUrl" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="stub_title">Stub title *</label>
                            <input type="text" ng-model="stub.title" id="stub_title" name="title" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <div class="pull-left">
                                <label for="stub_section">section</label>
                                <select id="stub_section" name="section" ng-model="stub.section" ng-options="section for section in sections"></select>
                            </div>
                            <div class="pull-right">
                                <label for="stub_prodOffice">office</label>
                                <select id="stub_prodOffice" name="prodOffice" ng-model="stub.prodOffice" ng-options="office.value as office.name for office in prodOffices"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <div wf-date-time-picker label="Production deadline" help-text="true" ng-model="stub.due"/>
                            </div>
                        </div>

                        <div class="form-group clearfix">
                            <div class="pull-left">
                                <label for="stub_priority">Priority</label>
                                <div class="btn-group">
                                    <label class="btn btn-default btn-sm" ng-model="stub.priority" btn-radio="0">.</label>
                                    <label class="btn btn-default btn-sm" ng-model="stub.priority" btn-radio="1">!</label>
                                    <label class="btn btn-default btn-sm" ng-model="stub.priority" btn-radio="2">!!</label>
                                </div>
                            </div><div class="pull-right">
                                <label for="stub_legal">Legal</label>
                                <select id="stub_legal" name="needsLegal" ng-model="stub.needsLegal" ng-options="ls.value as ls.name for ls in legalStates"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="stub_assignee">Assign to</label>
                            <input type="text" ng-model="stub.assignee" id="stub_assignee" name="assignee" value="" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>content type</label>
                            <select ng-model="stub.contentType">
                                <option value=""></option>
                                <option value="article">Article</option>
                                <option value="liveblog">Live blog</option>
                                <option value="gallery">Gallery</option>
                                <option value="interactive">Interactive</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
                        <button type="submit" class="btn btn-primary" ng-click="ok()" ng-disabled="stubForm.$invalid || !stub.composerId">Import</button>
                    </div>
                </form>
            </script>
        </div>

        <!--- this is the composer modal  -->
        <div ng-controller="ComposerModalCtrl">
            <script type="text/ng-template" id="composerModalContent.html">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
                    <h3 class="modal-title">Create in Composer</h3>
                </div>
                <div class="modal-body">
                    <p>Select content type</p>
                    <select id="contentType" name="contentType" ng-model="contentType.type">
                        <option value="article">Article</option>
                        <option value="liveblog">Live Blog</option>
                        <option value="gallery">Gallery</option>
                        <option value="interactive">Interactive</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                    <button class="btn btn-primary" ng-click="ok()" >Create in Composer</button>
                </div>
            </script>
        </div>

    </div>
</div>
