@(desks: List[Desk], addDeskForm: Form[Desk])

@import helper._

@admin("desks") {

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Current Desks</div>
        <div class="panel-body">
            <ul class="list-unstyled" >
                @for(desk <- desks) {
                <li>
                    <span class="label label-danger remove" data-desk="@{desk.name}">x</span>
                    <a href="@routes.Application.content(Some("desk"), Some(desk.name))">@{desk.name}</a>
                </li>
                }
            </ul>
        </div>
    </div>
</div>

<div class="form">
    <h3>Add a new desk</h3>
    @form(action=routes.Admin.addDesk){
        @inputText(addDeskForm("name"))
        <input type="submit" value="Add">
    }
</div>

<script>
    $('.remove').on('click', function (event) {
        var desk = $(event.target).data('desk');
        $.ajax({
            type: "POST",
            url: "@routes.Admin.removeDesk",
            data: {name: desk},
            success: function() {
                $(event.target).parent().remove();
            }
        });
    });

</script>

}