@(audience: EditorialSupportTeam, fronts: EditorialSupportTeam)

@renderTeam(team: EditorialSupportTeam) = {
    <ul class="support-list">
    @for(staff <- team.staff) {
        <li class="support-list-item">
            <p class="support-staff-label support-staff-row"><b>@staff.name</b></p>
            <div class="support-staff-row">
                <label class="support-staff-label" for="editorialSupportStatus-@staff.id">Active?</label>
                <input type="checkbox" id="editorialSupportStatus-@staff.id" onchange="window.toggleStaff('@staff.id')" @if(staff.active){checked} val>
            </div>
            <div class="support-staff-row">
                <label class="support-staff-label" for="editorialSupportDescription-@staff.id">Description</label>
                <input type="text" class="support-text-input" value="@staff.description" id="editorialSupportDescription-@staff.id" onChange="window.updateStatus('@staff.id','@staff.description')">
            </div>
        </li>
    }
    </ul>
}

@renderAddStaff(teamName: String) = {
    <div class="support-admin-label">
        <status>Add new team member</status>
        <input type="text" class="support-admin-text-input" id="name-entry-@teamName">
        <div class="support-admin-button-container">
            <button class="btn btn-sm btn-info" onclick="window.addNewStaff('@teamName')">add</button>
        </div>
    </div>
}

@renderDeleteStaff(teamName: String) = {
    <div class="support-admin-label">
        <status>Delete team member</status>
        <input type="text" class="support-admin-text-input" id="delete-name-entry-@teamName">
        <div class="support-admin-button-container">
            <button class="btn btn-sm btn-info" onclick="window.deleteStaff('@teamName')">delete</button>
        </div>
    </div>
}

@layout("Support") {
    <div class="admin">

        <div class="starter-template">
            @*<p class="lead">*@
            <p>Note: this will display at the top of any Composer document. Don't forget to untick yourself so that colleagues aren't trying to contact an empty chair.</p>
        </div>

        <div>
            <div class="col-lg-12">
                <h2>@audience.name team</h2>
                <div class="support-list-wrapper">
                    @renderTeam(audience)
                    <h3>Admin</h3>
                    @renderAddStaff(audience.name)
                    @renderDeleteStaff(audience.name)
                </div>
                <h2>@fronts.name team</h2>
                <div class="support-list-wrapper">
                    @renderTeam(fronts)
                    <h3>Admin</h3>
                    @renderAddStaff(fronts.name)
                    @renderDeleteStaff(fronts.name)
                </div>
            </div>
        </div>
    </div>

    <script src="@routes.Assets.versioned("build/editorialsupportteams.bundle.js")"></script>
}

