@(teams: List[EditorialSupportTeam])

@layout("Support") {
    <div class="admin">

        <div class="starter-template">
            @*<p class="lead">*@
            <p>Note: this will display at the top of any Composer document. Don't forget to untick yourself so that colleagues aren't trying to contact an empty chair.</p>
        </div>

        <div>
            <div class="col-lg-3">
                @for(team <- teams) {
                    <h2>@team.name team</h2>
                    @for(staff <- team.staff){
                        <ul class="status"><input type="checkbox" id="editorialSupportStatus-@staff.id" onchange="window.toggleStaff('@staff.id')" @if(staff.active){checked} val>
                            <label>@staff.name</label>
                            <input type="text" value="@staff.description" id="editorialSupportDescription-@staff.id" onChange="window.updateStatus('@staff.id','@staff.description')">
                        </ul>
                    }
                    <ul class="status">Add new team member<input type="text" id="name-entry-@team.name"><button class="btn btn-lrg btn-info" onclick="window.addNewStaff('@team.name')">add</button></ul>
                }
            </div>
        </div>
    </div>

    <script src="@routes.Assets.versioned("build/editorialsupportteams.bundle.js")"></script>
}

