@layout("FAQs") {
<div style="padding: 20px">

    <h1>FAQs</h1>

    <ul>
        <li>
            <h2>What happens if I delete an item from workflow?</h2>
            <p>Items that are deleted from workflow will disappear from the UI, and be permanently deleted
                (from workflow, not from composer) after 24 hours.</p>
            <p>
                <strong>If you have accidentally removed an item and require it back</strong>, you can contact
                <a href="mailto:cms.workflow@@guardian.co.uk">the Workflow team</a>
            </p>
        </li>
        <li>
            <h2>How long are items shown?</h2>
            <p>Items are hidden from the interface once they fulfill all of the following criteria:</p>
            <ul>
                <li>Published</li>
                <li>In 'Final' state</li>
                <li>Has not been modified in the last 24 hours</li>
            </ul>
            <p>Items can be brought back into view by changing their status in Composer.</p>
            <p>Workflow will not hide articles that have not been published.</p>
        </li>
        <li>
        <h2>I have a question that isn't in this list, but is asked frequently!</h2>
            <p>If you have a question that isn't in this list and you think it should be please <a href="mailto:cms.workflow@@guardian.co.uk">let us know.</a>
            </p>
        </li>
    </ul>

</div>
}
