@(statuses: play.api.libs.json.JsObject, sections: play.api.libs.json.JsObject)
@import lib.Composer._
@main("Welcome to Workflow") {

<div ng-view></div>

@*** Composer endpoints exposed. TODO: move to head ***@
<link rel="composer-newcontent" href="@newContentUrl"/>
<link rel="composer-viewcontent" href="@adminUrl"/>
<link rel="composer-contentdetails" href="@contentDetails"/>

@*** SystemJS package manager setup ***@
<script src="/assets/jspm_packages/system@@0.6.js"></script>
<script src="/assets/config.js"></script>
<script>
    @* TODO: do something else with outputting @statuses *@
    this._wfConfig = {
        'statuses': @Html(statuses.toString),
        'sections': @Html(sections.toString)
    };

    window.name = 'NG_DEFER_BOOTSTRAP!';
    System.import('app').catch(function(error) {
        setTimeout(function() { throw error; }, 0);
    });
</script>

}
