@(title: String, user: Option[com.gu.pandomainauth.model.User] = None, config: play.api.libs.json.JsObject = play.api.libs.json.Json.obj())(content: Html)
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>@title</title>
  <script>
    this._wfConfig = @Html(config.toString);
  </script>
  <link rel="icon" type="image/x-icon" href="@routes.Assets.versioned("favicon.ico")">
  <link rel="apple-touch-icon-precomposed" sizes="128x128" href="@routes.Assets.versioned("favicon128.ico")">
  <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("build/main.css")"/>
</head>
<body class="main-container">

  <header class="top-toolbar">
      <div class="top-toolbar__title">
          <div class="top-toolbar__letter">
              <span class="top-toolbar__letter-text">W</span>
          </div>
          <h1 class="top-toolbar__page-title">
              <span class="top-toolbar__page-title-text">@title</span>
          </h1>
      </div>

      <div class="top-toolbar__view-toolbar" ui-view="view-toolbar"></div>
      <div class="top-toolbar__create" ui-view="view-create"></div>
      <div class="top-toolbar__user" ui-view="view-user">
          <noscript class="logout__noscript">
            @if(user.isEmpty) {
                <a class="top-toolbar__user-link" href="@routes.Application.index">Log in</a>
            } else {
                <a class="top-toolbar__user-link" href="@routes.Login.logout" title="Logout">Logout</a>
            }
          </noscript>
      </div>
  </header>

@content

<!-- build-commit-id: @build.BuildInfo.gitCommitId -->
<!-- build-number: @build.BuildInfo.buildNumber -->

</body>
</html>
