@(error: Option[String] = None, config: play.api.libs.json.JsObject)

@layout("Login", config) {
  <div class="login-page">
    @for(err <- error) {
      <p class="login-page__login-error">There was a problem logging you in: @err</p>
    }
    @if((config \ "user").asOpt[play.api.libs.json.JsObject] == None) {
      <p class="login-page__login-status">You are not logged in.</p>
    }
    <form action="@routes.Login.loginAction" method="get">
      <button class="login-page__login-button" type="submit">Log in</button>
    </form>
  </div>
}
