@(title: String)(content: Html)
@import lib.Composer._

<!DOCTYPE html>

<html lang="en" data-ng-app="workflow" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <title>@title</title>

    @** TODO: Pull css in with SystemJS CSS plugin **@
    <link href="@routes.Assets.at("jspm_packages/github/components/bootstrap@3.2.0/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("jspm_packages/github/vitalets/angular-xeditable@0.1.8/dist/css/xeditable.css")" rel="stylesheet">

    <link href="@routes.Assets.at("wf.css")" rel="stylesheet">


    @** TODO: move jQuery calls into modules, so that this isn't needed: **@
    <script src="@routes.Assets.at("jspm_packages/github/components/jquery@1.11.1/jquery.min.js")" type="text/javascript"></script>


</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">workflow</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/dashboard">Dashboard</a>
                </li>
                <li><a href="@routes.Admin.index(None)">Settings</a>
                </li>
                <li><a href="@routes.Login.logout">Log out</a>
                </li>
            </ul>
            <!--<form class="navbar-form navbar-right">-->
                <!--<input type="text" class="form-control" placeholder="Search...">-->
            <!--</form>-->
        </div>
    </div>
</div>

    @content

</body>
</html>
