@(sections: List[Section], addSectionForm: Form[Section])

@import helper._

@admin("sections") {

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Current Sections</div>
        <div class="panel-body">
            <ul class="list-unstyled" >
                @for(section <- sections) {
                <li>
                    <a href class="label label-danger remove" data-section="@{section.name}">x</a>
                    @{section.name}
                </li>
                }
            </ul>
        </div>
    </div>
</div>

<div class="form">
    <h3>Add a new section</h3>
    @form(action=routes.Admin.addSection){
        @inputText(addSectionForm("name"))
        <input type="submit" value="Add">
    }
</div>

<script>
    $('.remove').on('click', function (event) {
        var section = $(event.target).data('section');
        if(window.confirm("Do you want to delete the section \"" + section +"\"?")) {
            $.ajax({
                type: "POST",
                url: "@routes.Admin.removeSection",
                data: {name: section},
                success: function() {
                    $(event.target).parent().remove();
                }
            });
        }

    });

</script>

}