@()

@layout("Status") {
<div class="container">

        <div class="starter-template">
            <h1>Audience // Fronts team status</h1>
            <p class="lead">
                Note: this will display at the top of any Composer document. Don't forget to untick yourself so that colleagues aren't trying to contact an empty chair. 
            </p>
        </div>

    </div>
    <div class="container marketing">

        <div class="col-lg-3">
        <h2>Audience team</h2>
            <div class="row">
                <input type="checkbox"><label>Peter Martin</label>
            </div>
            <div class="row">
                <input type="checkbox"><label>Lydia Smears</label>
            </div>
            <div class="row">
                <input type="text"><button class="btn btn-lrg btn-info">add</button>
            </div>
            
        </div>
        <div class="col-lg-3">
        <h2>Fronts team</h2>
            <div class="row">
                
            </div>
            <div class="row">
                <input type="text"><button class="btn btn-lrg btn-info" name="add" value="add" type="submit">add</button>
            </div>
            
        </div>


        <footer>
            <p class="pull-right"><a href="#">Back to top</a></p>
        </footer>
    </div>
}

