@(statuses: List[Status], statusForm: Form[Status])

@import helper._

@admin("status") {

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Current Statuses</div>
        <div class="panel-body">
            <ul class="list-unstyled" >
                @for(status <- statuses) {
                <li>
                    <div class="btn-group btn-group-xs">
                        <button type="button" class="btn btn-danger remove" data-status="@{status.name}" >
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button type="button" class="btn btn-default moveup" data-status="@{status.name}" >
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </button>
                        <button type="button" class="btn btn-default movedown" data-status="@{status.name}" >
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                    </div>
                    <a href="@routes.Application.content(Some("status"), Some(status.name))">@{status.name}</a>
                </li>
                }
            </ul>
        </div>
    </div>
</div>

<div class="form">
    <h3>Add a new status</h3>
    @form(action=routes.Admin.addStatus){
        @inputText(statusForm("name"))
        <input type="submit" value="Add">
    }
</div>

<script>
    $('.remove').on('click', function (event) {
        var status = $(event.delegateTarget).data('status');
        $.ajax({
            type: "POST",
            url: "@routes.Admin.removeStatus",
            data: {name: status},
            success: function() {
                document.location.reload();
            }
        });
    });

    $('.moveup').on('click', function (event) {
        var status = $(event.delegateTarget).data('status');
        $.ajax({
            type: "POST",
            url: "@routes.Admin.moveStatusUp",
            data: {name: status},
            success: function() {
                document.location.reload();
            }
        });
    });

    $('.movedown').on('click', function (event) {
        var status = $(event.delegateTarget).data('status');
        $.ajax({
            type: "POST",
            url: "@routes.Admin.moveStatusDown",
            data: {name: status},
            success: function() {
                document.location.reload();
            }
        });
    });

</script>

}