@(teams: List[model.SupportTeam])

@layout("Support") {
    <div class="admin">

        <div class="starter-template">
            <h1>Audience // Fronts team status</h1>
            <p class="lead">
                Note: this will display at the top of any Composer document. Don't forget to untick yourself so that colleagues aren't trying to contact an empty chair.
            </p>
        </div>

        <div>
            <div class="col-lg-3">
                @for(team <- teams) {
                    <h2>@team.name team</h2>
                    @for(staff <- team.staff){
                        <ul style="list-style-type:none"><input type="checkbox" id="status-@staff.id" onchange="window.toggleStaff('@staff.id')" @if(staff.active){checked} val><label>@staff.name</label></ul>
                    }
                    <ul style="list-style-type:none"><input type="text" id="name-entry-@team.name"><button class="btn btn-lrg btn-info" onclick="window.addNewStaff('@team.name')">add</button></ul>
                }
            </div>
        </div>
    </div>

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("layouts/infopages/info.min.css")"/>

    <script src="@routes.Assets.versioned("build/supportteams.bundle.js")"></script>
}

