@(stubForm: Form[Stub], stubs: List[Stub])
@import helper._
@import Formatting._
@main("Stubs") {

<div class="stub-form s-hidden">
    @helper.form(action = routes.Application.newStub) {
        <label for="title">title</label>
        <input type="text" id="title" name="title" required>
        <label for="section">section</label>
        <select id="section" name="section">
            <option value="technology">technology</option>
        </select>
        <label for="due">due</label>
        <input type="text" id="due" name="due">
        <label for="assignee">assign to</label>
        <input type="text" id="assignee" name="assignee" value="" >
        <label for="composerId">Composer ID</label>
        <input type="text" id="composerId" name="composerId" value="" >
    <br>
    <button class="btn btn-primary" type="submit">Create</button>
    <a href="/stubs" class="btn btn-primary">Cancel</a>
    }


</div>

<div class="stubs-table table">
    <button class="btn btn-primary" onClick="showForm()" style="float: right; margin-bottom: 10px;">New</button>
    <table class="table table-striped">
        <tr>
            <th>Working Title</th>
            <th>Section</th>
            <th>Due date</th>
            <th>Assigned to</th>
        </tr>
            @for(stub <- stubs) {
        <tr>
                <td>@stub.title</td>
                <td>@stub.section</td>
                <td>@for(date <- stub.due) { @displayDate(date) }</td>
                <td>@for(assignee <- stub.assignee) { @assignee }</td>
        </tr>
            }
    </table>
</div>

<script type="text/javascript">
    $(function(){
        $('*[name=due]').appendDtpicker({"dateFormat": "DD/MM/yyyy hh:mm"});
    });
    function showForm(){
        $('.stub-form').removeClass('s-hidden');
        $('.stubs-table').addClass('s-hidden');
    }
</script>

}