@(stubForm: Form[Stub], stubs: List[Stub])
@import helper._
@import lib.Formatting._
@import lib.Composer._
@main("Stubs") {

<div class="stubs-table table">
    <button class="btn btn-primary" data-toggle="modal" data-target="#stubModal" style="float: right; margin-bottom: 10px;">New</button>
    <table class="table table-striped">
        <tr>
            <th>Working Title</th>
            <th>Section</th>
            <th>Due date</th>
            <th>Assigned to</th>
            <th></th>
        </tr>
            @for(stub <- stubs) {
        <tr>
                <td>@if(stub.composerId.isDefined){
                    <a href="@adminUrl/@stub.composerId"> @stub.title </a>
                    }
                    @if(!stub.composerId.isDefined) { @stub.title }
                </td>
                <td>@stub.section</td>
                <td>@for(date <- stub.due) { @displayDate(date) }</td>
                <td>@for(assignee <- stub.assignee) { @assignee }</td>
                <td>
                    <button class="btn btn-primary open-composerModal" data-toggle="modal" data-id="@stub.id" data-target="#composerModal">
                        Composer
                    </button>
                </td>
        </tr>
            }
    </table>

    <div class="modal fade" aria-hidden="true" id="composerModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add to composer</h4>
                </div>
                <form action="/createInComposer" method="post">
                    <div class="modal-body">
                        <p>Select content type</p>
                            <select id="select" name="contentType">
                                <optgroup label="Option Group">
                                    <option value="article">article</option>
                                </optgroup>
                            </select>
                            <input type="hidden" name="stubId" id="stubId" value="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div><
    </div>

    <div class="modal fade" aria-hidden="true" id="stubModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create new stub</h4>
                </div>

                    @helper.form(action = routes.Application.newStub) {
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="title">title</label>
                                <input type="text" id="title" name="title" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="section">section</label>
                                <select id="section" name="section">
                                    <option value="technology">technology</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="due">due</label>
                                <input type="text" id="due" name="due" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="assignee">assign to</label>
                                <input type="text" id="assignee" name="assignee" value="" class="form-control">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    }
            </div>
        </div><
    </div>

    <script>
        $(document).on("click", ".open-composerModal", function () {
            var stubId = $(this).data('id');
            $(".modal-body #stubId").val(stubId);
        });
    </script>
</div>

<script type="text/javascript">
    $(function(){
        $('*[name=due]').appendDtpicker({"dateFormat": "DD/MM/yyyy hh:mm"});
    });
</script>

}