@(stubForm: Form[Stub], stubs: List[Stub], sectionList: List[Section])
@import helper._
@import lib.Formatting._
@import lib.Composer._

<div class="container">
    <div class="stubs-table table">
        <div ng-controller="StubModalCtrl">
            <button class="btn btn-primary"
                    data-toggle="modal" data-target="#stubModal"
                    style="float: right; margin-bottom: 10px;" ng-click="open()">New</button>
            <script type="text/ng-template" id="stubModalContent.html">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create new stub</h4>
                </div>
                <form>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="title">title</label>
                            <input type="text" ng-model="stubForm.title" id="title" name="title" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="section">section</label>
                            <select id="section" name="section" ng-model="stubForm.section">
                                @for(s <- sectionList){
                                    <option value="@s.name">@s.name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="due">due</label>
                            <input type="text" ng-model="stubForm.due" id="due" name="due" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="assignee">assign to</label>
                            <input type="text" ng-model="stubForm.assignee" id="assignee" name="assignee" value="" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Close</button>
                        <button type="submit" class="btn btn-primary" ng-click="ok()">Create</button>
                    </div>
                </form>
            </script>
        </div>

        <div ng-controller="ComposerModalCtrl">
            <table class="table table-striped">
                <tr>
                    <th>Working Title</th>
                    <th>Section</th>
                    <th>Due date</th>
                    <th>Assigned to</th>
                    <th></th>
                </tr>
                <tr ng-repeat="stub in stubItems">
                        <td>
                            <a href="@adminUrl/{{stub.composerId}}" ng-show="stub.composerId"> {{ stub.title }}</a>
                            <span ng-hide="stub.composerId">{{ stub.title }}</span>
                        </td>
                        <td>{{ stub.section }}</td>
                        <td>{{ stub.due | formatDateTime }}</td>
                        <td>{{ stub.assignee }}</td>
                        <td>
                            <button class="btn btn-default btn-sm"
                                data-toggle="modal"
                                data-id="{{stub.id}}"
                                data-target="#composerModal" ng-click="open(stub, '@newContentUrl')">
                                Composer
                            </button>
                                <a href=@adminUrl class="btn btn-default btn-sm" target="_blank" ng-hide="stub.composerId">Edit</a>
                        </td>
                </tr>
            </table>

            <script type="text/ng-template" id="composerModalContent.html">
                <div class="modal-header">
                    <h3 class="modal-title">Create in Composer</h3>
                </div>
                <div class="modal-body">
                    <p>Select content type</p>
                    <select id="contentType" name="contentType" ng-model="type.contentType">
                        <option value="article">Article</option>
                        <option value="live blog">Live Blog</option>
                        <option value="gallery">Gallery</option>
                        <option value="interactive">Interactive</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">Create</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
            </script>
        </div>
    </div>
</div>




<script>
    $(document).on("click", ".open-composerModal", function () {
        var stubId = $(this).data('id');
        $(".modal-body #stubId").val(stubId);
    });

    $(function(){
        $('*[name=due]').appendDtpicker({"dateFormat": "DD/MM/yyyy hh:mm"});
    });

    $('#submit').click(function (event) {
        event.preventDefault();
        var type = $('#contentType').val();
        var stubId = $('input#stubId').val();
        var baseUrl = $('input#composerUrl').val();
        $.ajax({
            url: baseUrl,
            data: {'type': type},
            xhrFields: {
                withCredentials: true
            },
            type: "POST"
        }).success(function(data) {
            var composerId = data.data.id
            $.ajax({
                url: "/updateStub/"+stubId+"?composerId="+composerId,
                type: "POST"
            }).success(function() {
                location.reload();
            });
        });
    });
</script>
