@()

@layout("Training") {
<div class="admin">
    <h1>Training</h1>

    <h2>Workflow links</h2>
    <ul>
        <li><a target="_blank" href="https://workflow.gutools.co.uk">Workflow</a></li>
        <!--		<li><a target="_blank" href="https://workflow.gutools.co.uk">Workflow - release</a> ← Use this for training</li>-->
        <li><a target="_blank" href="https://workflow.gutools.co.uk/dashboard?created=today&desk=4&section=AU%20News,Business,Education%20News,Environment,Health,International%20Networks,Media%20News,Science,Society%20News,Technology,UK%20News,US%20News,World%20News">Workflow - Live news desk for today</a></li>
        <li><a target="_blank" href="https://workflow.gutools.co.uk/dashboard?desk=36&section=Training">Workflow - Training desk</a></li>
    </ul>

    <h2>Installing Teleporter</h2>
    <ul>
        <li>Firefox: <a target="_blank" href="https://s3-eu-west-1.amazonaws.com/gustaf-dist/composer/index.html">Click to install Teleporter</a></li>

        <li>Chrome: <a target="_blank"  href="https://chrome.google.com/webstore/detail/guardian-staff-extension/hgdefnifioidkaphoeplpjinodnbbmfg?authuser=0">Click to install Teleporter</a></li>
    </ul>
    <h2>InCopy integration</h2>
    <ul>
        <li><a target="_blank" href="https://workflow.gutools.co.uk/feature/incopy-export/on">Switch on InCopy integration</a></li>
        <li><a target="_blank" href="https://workflow.gutools.co.uk/feature/incopy-export/off">Switch off InCopy integration</a></li>
    </ul>
    <h2>Ophan</h2>
    <ul>
        <li><a target="_blank" href="https://dashboard.ophan.co.uk/login">Ophan</a></li>
    </ul>

    <h2>Useful docs</h2>
    <ul>
        <li><a target="_blank" href="https://docs.google.com/a/guardian.co.uk/document/d/1Y_2BNgejq9lcf-irfipFigiaum-LlABokuYB3d9ch-8/edit#heading=h.7ovwlya0d96o">Workflow training documentation.</a> This will be the best way to keep up to date, as this documentation will always be updated and current</li>
        <li><a target="_blank" href="https://sites.google.com/a/guardian.co.uk/composer-blog/">Composer help</a></li>
        <li><a target="_blank" href="https://sites.google.com/a/guardian.co.uk/esd/composer">ESD Composer documentation</a></li>
        <li><a target="_blank" href="https://docs.google.com/document/d/1dINs5J8QQTl9PGrntWx_j3bT9DQENMpM_t0FOOdHt_0">The digital optimisation bible.</a> A work-in-progress guide to best practice around digital headlines and optimisation.</li>
    </ul>

    <h2>Miscellaneous</h2>
    <ul>
        <li><a target="_blank" href="http://wires/">Wires tool</a></li>
    </ul>
</div>
<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("layouts/infopages/info.min.css")"/>
}

