@()

@layout("Troubleshooting") {
<div style="padding: 20px">
    <h1>Cannot connect error? Read on...</h1>
    
    <h2>Login issues</h2>
        <p>If you see an error message like this [image of the thing here] then follow these instructions.</p>
            <h3>In Chrome</h3>
            <ol>
                <li><a href="chrome://settings/contentExceptions#cookies">Open the Cookies & site data exeptions</a> (<- click the link)</li>
                <li>Paste "[*.]google.com" (exclude the quotes) into a blank box</li>
                <li>Click <strong>Done</strong> then <strong>Done</strong></li>
            </ol>
    <h2>Enabling 3rd Party Cookies</h2>

</div>
}

