@()

@layout("Troubleshooting") {
<div style="padding: 20px">
    <h1>Troubleshooting</h1>

    <h2>Seeing a "Cannot verify login" error? Read on...</h2>
    <img src="/assets/layouts/troubleshooting/troubleshooting-session-error.png"/>
    <p>To fix in...</p>
    <h3>Chrome</h3>
    <ol>
        <li><a href="chrome://settings/contentExceptions#cookies">Open the Cookies &amp; site data exeptions</a> settings</li>
        <li>Paste <code>[*.]google.com</code> into a blank box<br/><img src="/assets/layouts/troubleshooting/troubleshooting-chrome-cookie-exception.png" style="border: 1px solid #eee;"/></li>
        <li>Click <strong>Done</strong> then <strong>Done</strong></li>
        <li>Go back to Workflow and refresh the page/tab</li>
    </ol>

    <h2>More help</h2>
    <p>Need more help? Please contact the <a href="http://goo.gl/forms/mbdSNgafLt" target="_blank">Workflow team</a>.</p>
</div>
}

