@import "layouts/plan/mixins";

.bundle-search {
    display: inline-block;
    padding: 6px 6px 6px 9px;
    vertical-align: top;
    position: relative;
    > input {
        height: 32px;
        width: 254px;
    }

    .loading-indicator {
        margin: 0;
        @include bubbles;
        display: none;
        > div {
            width: 12px;
            height: 12px;
        }
    }

    &--loading {
        .loading-indicator {
            display: inline-block;
        }
    }
}

.bundle-search__results-list {
    width: 254px;
    position: absolute;
    top: 38px;
    left: 9px;
    background-color: $c-grey-100;
    border: 1px solid $c-grey-500;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 999;
    @include box-shadow(2px 1px 5px $c-grey-500);
}

.bundle-search__result {
    height: 40px;
    line-height: 16px;
    padding: 2px 4px;
    cursor: pointer;
    .bundle-search__result-title {
        display: block;
    }

    .bundle-search__result-items {
        color: $c-grey-500;
    }

    &--selected {
        background-color: $c-grey-300;
        .bundle-search__result-title {
            font-weight: bold;
        }
    }

    &:hover {
        background-color: $c-grey-400;
    }

    &--create {

        transition: background-color 0.2s ease-in-out;

        background-color: transparentize($c-composer-blue, 0.9);

        &:hover, &.bundle-search__result--selected {
            background-color: transparentize($c-composer-blue, 0.7);
        }
    }


}
