<form class="bundle-search" ng-class="{'bundle-search--loading': loading}">
    <input type="text" ng-model="searchTerm" ng-keydown="search($event)" placeholder="Search existing bundles..."/>
    <ul class="bundle-search__results-list" ng-show="results.length > 0">
        <li class="bundle-search__result" ng-repeat="result in results track by result.id" ng-class="{'bundle-search__result--selected': selectedIndex == $index}">
            <span class="bundle-search__result-title">{{ result.title }}</span>
            <span class="bundle-search__result-items">{{ result.items.length }} item{{ result.items.length > 1 ? "s" : "" }} ({{ result.itemsToday.length }} today)</span>
        </li>
    </ul>
    <div class="loading-indicator">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</form>
