/**
 * Shame file - for temporary hacks, "quick fixes", nasty overrides.
 */

// Temporary bootstrap overrides - remove once bootstrap is out
body {
    @extend %f-data;
    @extend %fs-data-4;
}

a {
    color: $c-blue-link;
    text-decoration: none;
}

a:hover {
    color: $c-blue-link;
    text-decoration: underline;
}


// Temp styles for new stub modal
.stubModal__import-help {
    font-size: 85%;
    font-weight: normal;
    margin-left: 5px;
}
