@import "layouts/global/mixins";

//.day-view__times {
//    -webkit-flex: 0 0 50px;
//    flex: 0 0 50px;
//    ul {
//        @extend %fs-data-1;
//        width: 50px;
//        padding: 0;
//        /*	background-color: #1c78cf;*/
//        vertical-align: middle;
//        text-align: right;
//        color: #333333;
//        position: relative;
//
//        li {
//            width: 100%;
//            position: absolute;
//            left: 0;
//            padding: 0 4px;
//            box-sizing: border-box;
////            border-bottom: 1px solid #eee;
//            &:nth-child(even) {
//                background-color: #eee;
//            }
////            &:last-child {
////                border-bottom: none;
////            }
//        }
//    }
//}

.day-view__list {
//    position: relative;
//    flex: 1 1 0px;
//    overflow-y: auto;
//    &::-webkit-scrollbar {
//        display: none;
//    }
}

.day-view__list-buckets {
    margin: 0;
}

.day-view__list-bg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    li {
        &:nth-child(even) {
            background-color: #f6f6f6;
        }
    }

}

.bucket__title {
    position: relative;
    z-index: 2;
    display: block;
    width: 100%;
    background-color: $c-grey-300;
    padding: 2px 0 2px 6px;
    //border-left: 3px solid #00adee;
    @extend %fs-data-4;
    font-weight: bold;
    //@include box-shadow(0px 1px 4px 1px $c-grey-400);

}

.day-view__bucket--unscheduled .bucket__title {
    background-color: $c-grey-200;
}

.bucket__drop-zone {
    height: 32px;
    background-color: $c-grey-100;
    display: none;
    &.dnd__status--hovered {
        background-color: $c-highlight-blue;
    }
}

.day-view--dragging .bucket__drop-zone {
    display: block;
}

.day-view__item {
    width: 100%;
    border-bottom: 1px solid $c-grey-200;
    @extend %fs-data-3;
    @include box-shadow(0px 0px 0px 0px #c0c0c0);
    transition: box-shadow 0.2s ease-in-out;

    &:last-child {
        border: none;
    }

    &.ui-draggable-dragging {
        @include box-shadow(0px 1px 4px 2px #c0c0c0);
        z-index: 3;
        opacity: 0.8;
    }
}
