@import "layouts/global/mixins";

.day-view__list-buckets {
    margin: 0;
}

.day-view__list-bg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    li {
        &:nth-child(even) {
            background-color: #f6f6f6;
        }
    }
}

.day-view__bucket {
    .bucket__title {
        position: relative;
        z-index: 2;
        display: block;
        width: 100%;
        background-color: $c-grey-300;
        padding: 0 0 0 6px;
        @extend %fs-data-4;
        font-weight: bold;
        height: 26px;
        line-height: 26px;
        .bucket__title-text--start {
            text-transform: capitalize;
        }
    }

    .bucket__actions {
        display: inline-block;
        margin-left: 12px;
        height: 100%;
        @extend %fs-data-4;
        line-height: 26px;

        .inline-add-item__toggle {
            @extend %fs-data-2;
            line-height: 26px;
            font-weight: normal;
            border-bottom: 1px dashed $c-grey-700;
        }

        .inline-add-item__form {
            height: 26px;
            line-height: 26px;
            margin-top: -2px;
        }
    }

    .bucket__items {
        min-height: 1px;
    }
}

.day-view__bucket--unscheduled .bucket__title {
    background-color: $c-grey-200;
}

.bucket__drop-zone {
    height: 32px;
    background-color: $c-grey-100;
    display: none;
    &.dnd__status--hovered {
        background-color: $c-highlight-blue;
    }
}

.day-view--dragging .bucket__drop-zone {
    display: block;
}

.day-view__item {
    width: 100%;
    border-bottom: 1px solid $c-grey-200;
    @extend %fs-data-3;
    @include box-shadow(0px 0px 0px 0px #c0c0c0);
    transition: box-shadow 0.2s ease-in-out;

    &:last-child {
        border: none;
    }

    &.ui-draggable-dragging {
        @include box-shadow(0px 1px 4px 2px #c0c0c0);
        z-index: 3;
        opacity: 0.8;
    }

    &.dnd__status--hovered {
        background-color: $c-highlight-blue;
    }
}
