@(sections: List[Section], statuses: List[Status])
@import helper._
@import lib.Formatting._
@import lib.Composer._
@import models.Status

<div class="container-fluid top-control">
    <div class="row header-bar">
            <div class="col-md-2 new-stub">
                <div class="btn-group" ng-controller="NewStubDropdownCtrl" dropdown>
                    <button type="button" class="btn btn-default" ng-click="newStub()">New Stub</button>
                    <button type="button" class="btn btn-default dropdown-toggle">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-click="newStub('article')">Article</a></li>
                        <li><a ng-click="newStub('liveblog')">Live blog</a></li>
                        <li><a ng-click="newStub('gallery')">Gallery</a></li>
                        <li><a ng-click="newStub('interactive')">Interactive</a></li>
                        <li class="divider"></li>
                        <li><a ng-click="importFromComposer()">Import from Composer</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="section_dropdown" class="col-sm-3 control-label">Section</label>
                        <div class="col-sm-6">
                            <select id="section_dropdown" class="form-control" ng-model="selectedSection" ng-options="s for s in sections">
                                <option value="">(All sections)</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-6" >
                <div ng-controller="DateFilterCtrl" class="date-filter">
                    <label>Due by</label>
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-default" ng-model="selectedDate" btn-radio="">All</button>
                        <button type="button" class="btn btn-default" ng-model="selectedDate" btn-radio="'today'">Today</button>
                        <button type="button" class="btn btn-default" ng-model="selectedDate" btn-radio="'tomorrow'">Tomorrow</button>
                        <button type="button" class="btn btn-default" ng-model="selectedDate" btn-radio="'weekend'">This weekend</button>
                        <button type="button" class="btn btn-default" title="Select date">
                            <span class="glyphicon glyphicon-calendar"></span>
                            <select ng-model="selectedDate" ng-options="date as (date | formatDate) for date in dateOptions">
                            </select>
                        </button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="container-fluid">
    <div id="content-container" class="" >
        <div id="sidebar-container" class="">
            <div class="sidebar">

                <h5 class="query ">Content type</h5>
                <div class="btn-group btn-group-xs">
                    <button type="button " class="btn btn-default" title="all"
                            ng-model="selectedContentType"
                            btn-radio="">All</button>
                    <button type="button " class="btn btn-default" title="article"
                            ng-model="selectedContentType"
                            btn-radio="'article'">
                        <span class="glyphicon glyphicon-file"></span>
                    </button>
                    <button type="button " class="btn btn-default" title="liveblog"
                            ng-model="selectedContentType"
                            btn-radio="'liveblog'">
                        <span class="glyphicon glyphicon-th-list "></span>
                    </button>
                    <button type="button" class="btn btn-default" title="gallery"
                            ng-model="selectedContentType"
                            btn-radio="'gallery'">
                        <span class="glyphicon glyphicon-camera "></span>
                    </button>
                    <button type="button " class="btn btn-default" title="interactive"
                            ng-model="selectedContentType"
                            btn-radio="'interactive'">
                        <span class="glyphicon glyphicon-hand-up "></span>
                    </button>
                </div>

                <h5 class="query" data-toggle="collapse" data-target="#status">Status</h5>
                <ul id="status" class="nav nav-sidebar">
                    <li  ng-class="{active: statusIsSelected()}">
                        <a href="" ng-click="selectStatus(null)">All</a>
                    </li>
                    <li ng-repeat="status in statuses" ng-class="{active: statusIsSelected(status)}">
                        <a href="" ng-click="selectStatus(status)" >
                            {{ status }}
                        </a>
                    </li>
                </ul>

                <h5 class="query" data-toggle="collapse" data-target="#state">State</h5>
                <ul id="state" class="nav nav-sidebar">
                    <li ng-class="{active: stateIsSelected()}" >
                        <a href="" ng-click="selectState(null)">All</a>
                    </li>
                    <li ng-class="{active: stateIsSelected('draft')}">
                        <a href="" ng-click="selectState('draft')" >Draft</a>
                    </li>
                    <li ng-class="{active: stateIsSelected('published')}">
                        <a href="" ng-click="selectState('published')">Published</a>
                    </li>
                </ul>

            </div>
        </div>

        <div id="stubs-column" class="">
            <h4>Stubs</h4>
            <div ng-repeat="stub in stubs" class="stub">
                <ul>
                <li class="secondary-info">{{stub.due | formatDateTime }}</li>
                <li>
                    <span class="glyphicon glyphicon-file" ng-show="stub.contentType==='article'"></span>
                    <span class="glyphicon glyphicon-th-list" ng-show="stub.contentType==='liveblog'"></span>
                    <span class="glyphicon glyphicon-camera" ng-show="stub.contentType==='gallery'"></span>
                    <span class="glyphicon glyphicon-hand-up" ng-show="stub.contentType==='interactive'"></span>
                    <strong>{{stub.title}}</strong>
                </li>
                <li class="secondary-info">
                    {{stub.assignee}} | {{stub.section}}
                    <span class="trash-right"><button class="btn warning btn-xs" ng-click="deleteStub(stub)"><span class="glyphicon glyphicon-trash"></span></button></span>
                </li>
                <li class="stub-controls">
                    <button class="btn btn-default btn-xs" ng-click="editStub(stub)">Edit stub</button>
                    <button class="btn btn-default btn-xs"
                            data-toggle="modal"
                            ng-hide="stub.composerId"
                            data-target="#composerModal" ng-click="addToComposer(stub)">
                        Create in Composer
                    </button>
                </li>
                </ul>
            </div>

        </div>

        <div id="content" class="">


            <table class="table ">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Working title <span style="font-size: 90%; color: #666; font-weight:normal; ">and headline</span>
                    </th>
                    <th></th>
                    <th>Assigned to</th>
                    <th>Due by</th>
                    <th>Status</th>
                    <th>State</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                        <tr ng-repeat-start="status in statuses" >
                            <td colspan="12" ng-show="contentByStatus[status]" class="status-cell" style="height: 15px;
    padding: 5px;">{{ status }}</td>
                        </tr>
                        <tr ng-repeat="content in contentByStatus[status]" ng-controller="ContentItemCtrl" ng-click="showDetail(content)" ng-model="content" ng-show="content.status==status">

                            <td>
                                <span class="glyphicon glyphicon-file" ng-show="content.contentType==='article'"></span>
                                <span class="glyphicon glyphicon-th-list" ng-show="content.contentType==='liveblog'"></span>
                                <span class="glyphicon glyphicon-camera" ng-show="content.contentType==='gallery'"></span>
                                <span class="glyphicon glyphicon-hand-up" ng-show="content.contentType==='interactive'"></span>
                            </td>
                            <td>
                            </td>
                            <td>
                                <span class="glyphicon glyphicon-comment"  ng-show="content.commentable"></span>
                            </td>
                            <td>
                            </td>
                            <td colspan="2 "><strong><a href=@adminUrl/{{content.composerId}} target="_blank" >{{content.headline || content.workingTitle}}</a></strong>
                            </td>
                            <td>{{content.assignee}}</td>
                            <td>{{content.due | formatDateTime }}</td>
                            <td><select id="selectStatus" name="selectStatus" ng-model="content.status">
                                <option ng-repeat="s in statuses">{{ s }}</option>
                            </select></td>
                            <td><p ng-show="content.published">Published</p>
                                <p ng-show="!content.published">Draft</p>
                            </td>
                            <td><span ng-click="deleteContent(content)" class="glyphicon glyphicon-trash"></span></td>
                        </tr>
                    <tr ng-repeat-end></tr>
                </tbody>
            </table>

        </div>

        <div id="detail" class="" >
            <div class="detail-panel" ng-show="selectedContent">
                <h4>Details</h4>
                <dl class="dl-horizontal">
                    <dt>Headline</dt>
                    <dd ng-show="selectedContent.headline">{{ selectedContent.headline }}</dd>
                    <dd ng-hide="selectedContent.headline"><em>No headline set</em></dd>
                    <dt>Working title</dt>
                    <dd>{{ selectedContent.workingTitle }}</dd>

                </dl>

                <h5>Timing</h5>
                <dl class="dl-horizontal">
                    <dt>Production deadline</dt>
                        <dd>{{ selectedContent.due | formatDateTime }}</dd>
                    <dt>Last launched</dt>
                        <dd>-</dd>
                    <dt>Last modified</dt>
                        <dd>{{ (selectedContent.lastModified | formatDateTime) || "-" }}</dd>
                </dl>
                <hr />

                <h5>People</h5>
                <dl class="dl-horizontal">
                    <dt>Last modified by</dt>
                        <dd>{{ selectedContent.lastModifiedBy || "-" }}</dd>
                    <dt>Assigned to</dt>
                    <a href="#" class="detail__editable" editable-text="selectedContent.assignee" buttons="no" onbeforesave="updateAssignee(selectedContent.stubId, $data)">
                        {{ selectedContent.assignee || "none" }}</a>
                </dl>
                <hr />
            </div>
        </div>

        <!--- this section is the new/edit stubs modal form  -->
        <div ng-controller="StubModalCtrl">

            <script type="text/ng-template" id="stubModalContent.html">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
                    <h4 class="modal-title">Create new stub</h4>
                </div>
                <form name="stubForm">
                    <input type="hidden" ng-model="stub.id" />
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="stub_title">Stub title *</label>
                            <input type="text" ng-model="stub.title" id="stub_title" name="title" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="stub_section">section</label>
                            <select id="stub_section" name="section" ng-model="stub.section" ng-options="section for section in sections"></select>
                        </div>
                        <div class="form-group">
                            <label for="stub_due">Due by <span class="stubModal__exampleText">e.g. today 3pm, tomorrow 15:00, tuesday next week 18:00, 2014-08-14</span></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-ng-model="stub.dueText" id="stub_due" name="due">
                                <div class="input-group-btn">
                                    <button type="button" id="stub_duedate" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-calendar"></i></button>
                                  </a>
                                  <ul class="dropdown-menu pull-right" role="menu">
                                    <datetimepicker data-ng-model="stub.due" data-datetimepicker-config="{ dropdownSelector: '#stub_duedate' }" data-on-set-time="onDatePicked"/>
                                  </ul>
                                </div>
                            </div>
                            {{ stub.due && (stub.due | formatDateTime) }}
                        </div>
                        <div class="form-group">
                            <label for="stub_assignee">Assign to</label>
                            <input type="text" ng-model="stub.assignee" id="stub_assignee" name="assignee" value="" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>content type</label>
                            <select ng-model="stub.contentType">
                                <option value=""></option>
                                <option value="article">Article</option>
                                <option value="liveblog">Live blog</option>
                                <option value="gallery">Gallery</option>
                                <option value="interactive">Interactive</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
                        <button type="button" class="btn btn-default" ng-click="ok(addToComposer=true)" ng-disabled="disabled || stubForm.$invalid">Create in Composer</button>
                        <button type="submit" class="btn btn-primary" ng-click="ok(addToComposer=false)" ng-disabled="stubForm.$invalid">Save stub</button>
                    </div>
                </form>
            </script>
        </div>

        <!--- this section is the create stub from composer content modal  -->
        <div ng-controller="ComposerImportModalCtrl">

            <script type="text/ng-template" id="composerImportModalContent.html" ng-class="stubModal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
                    <h4 class="modal-title">Import from composer</h4>
                </div>
                    <input type="hidden" ng-model="stub.id" />
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="stub_title">Composer url *</label>
                            <input type="text" ng-model="formData.composerUrl" ng-change="composerUrlChanged()" id="composer_url" name="composerUrl" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="stub_title">Stub title *</label>
                            <input type="text" ng-model="stub.title" id="stub_title" name="title" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="stub_section">section</label>
                            <select id="stub_section" name="section" ng-model="stub.section" ng-options="section for section in sections"></select>
                        </div>
                        <div class="form-group">
                            <label for="stub_due">Due by <span class="stubModal__exampleText">e.g. today 3pm, tomorrow 15:00, tuesday next week 18:00, 2014-08-14</span></label>
                            <div class="input-group">
                                <input type="text" class="form-control" data-ng-model="formData.dueText" id="stub_due" name="due">
                                <div class="input-group-btn">
                                    <button type="button" id="stub_duedate" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-calendar"></i></button>
                                  </a>
                                  <ul class="dropdown-menu pull-right" role="menu">
                                    <datetimepicker data-ng-model="stub.due" data-datetimepicker-config="{ dropdownSelector: '#stub_duedate' }" data-on-set-time="onDatePicked"/>
                                  </ul>
                                </div>
                            </div>
                            {{ stub.due && (stub.due | formatDateTime) }}
                        </div>
                        <div class="form-group">
                            <label for="stub_assignee">Assign to</label>
                            <input type="text" ng-model="stub.assignee" id="stub_assignee" name="assignee" value="" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>content type</label>
                            <select ng-model="stub.contentType">
                                <option value=""></option>
                                <option value="article">Article</option>
                                <option value="liveblog">Live blog</option>
                                <option value="gallery">Gallery</option>
                                <option value="interactive">Interactive</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
                        <button type="submit" class="btn btn-primary" ng-click="ok()" ng-disabled="stubForm.$invalid || !stub.composerId">Import</button>
                    </div>
                </form>
            </script>
        </div>

        <!--- this is the composer modal  -->
        <div ng-controller="ComposerModalCtrl">
            <script type="text/ng-template" id="composerModalContent.html">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
                    <h3 class="modal-title">Create in Composer</h3>
                </div>
                <div class="modal-body">
                    <p>Select content type</p>
                    <select id="contentType" name="contentType" ng-model="contentType.type">
                        <option value="article">Article</option>
                        <option value="liveblog">Live Blog</option>
                        <option value="gallery">Gallery</option>
                        <option value="interactive">Interactive</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                    <button class="btn btn-primary" ng-click="ok()" >Create in Composer</button>
                </div>
            </script>
        </div>

    </div>
</div>
