@layout("faqs") {
<div style="padding: 20px">

    <h1>FAQS</h1>
    <ul>
        <h2>What happens if I delete an item from workflow?</h2>
        <p>Items that are deleted from workflow will go to an archive table. If you have accidently removed an item
            and require it back, you can contact  <a href="mailto:cms.workflow@@guardian.co.uk">the Workflow team</a>
            and a developer will be able to restore this.
        </p>

        <h2>How long are items shown?</h2>
        <p>Items are hidden from the interface once they fulfill all of the following criteria:</p>
        <ul>
            <li>Published</li>
            <li>In 'Final' state</li>
            <li>Last modified for longer than a day</li>
        </ul>
        <p>Items can be brought back into view by changing their status on Composer</p>
        <p>Workflow will not hide articles that have not been published</p>
    </ul>
</div>
}
