@(statuses: play.api.libs.json.JsObject, user: Option[String])
@import lib.Composer._
@main("Welcome to Workflow") {

<div ng-view></div>

@*** Composer endpoints exposed. TODO: move to head ***@
<link rel="composer-newcontent" href="@newContentUrl"/>
<link rel="composer-viewcontent" href="@adminUrl"/>
<link rel="composer-contentdetails" href="@contentDetails"/>

@*** SystemJS package manager setup ***@
<script src="/assets/jspm_packages/system@@0.6.js"></script>
<script src="/assets/config.js"></script>
<script>
    @* TODO: do something else with outputting @statuses *@
    this._wfConfig = {
        'statuses': @Html(statuses.toString),
        'user': @Html(user.get)
    };

    window.name = 'NG_DEFER_BOOTSTRAP!';
    System.import('app').catch(function(error) {
        setTimeout(function() { console.error(error.message); }, 0);
    });
</script>

}
